[2015-07-22 05:36] atiqueahmedziad commented on #24
Hey, good news, we have got permission from college :)
so now we will be out for taking connectivity partner for this event.
I will update soon :)

[2015-07-22 06:33] kelimuttu commented on #48
btw, this is the landing page that I propose in our meeting last July 9. You can take a look at the repo here >> https://github.com/kelimuttu/webmakerlaunchID and the online version can be seen here >> http://kelimuttu.co/webmaker. I have consulted with @Nhie and we agree to seek help from another social media & communication team to help us with the website's content. Anyone who have any idea and

[2015-07-22 07:01] kelimuttu commented on #47
@secretrobotron okay. Working on it (;

[2015-07-22 09:17] adamlofting commented on #93
I've used testing that's built into email tools in the past, but I've heard good things about Litmus: https://litmus.com/email-testing

[2015-07-22 12:20] maktrix commented on #19
Translated the quick ones for now. Will translate rest after day job.

[2015-07-22 14:44] KevZawacki commented on #48
Hi @alamanda,  @kelimuttu & @Nhie,

The landing page looks great! I can definitely help with content. What sort of language/ideas are you looking for?

[2015-07-22 17:56] secretrobotron commented on #24
:+1: great news, @atiqueahmedziad !
Let us know if we can help out any more.

[2015-07-22 17:57] mmmavis commented on #93
do you know if our new platform has any testing feature that we can leverage? If not I wonder if we can subscribe Litmus.  Using a custom e-mail template without proper testing worries me a lot :confounded: Maybe for now we can try Litmus's one month subscription?

/cc @simonwex

[2015-07-22 17:58] HPaulJohnson commented on #24
Great work @atiqueahmedziad - thank you.

I sent an email to you about budget/payment.

[2015-07-22 18:14] mmmavis commented on #91
(I'm not sure if I will be the person who's going to build this)

@lovegushwa
It would be helpful if we could create a separate build ticket and attach all the assets there! (@HPaulJohnson is there such ticket already?)  Also I'm still curious about which parts in the mockup are stationery :wink: Maybe attaching a mockup _without_ any sample content would help? :bowtie:

[2015-07-22 19:05] KevZawacki commented on #48
Hi @Nhie, what email address can I find you at for tomorrow's call?
I'm Kevin Zawacki / kevin@mozillafoundation.org

[2015-07-22 19:47] lovegushwa commented on #91
@mmmavis I just converted this to a build ticket. Will post markup and assets soon.
@HPaulJohnson can you figure out who will build these?

[2015-07-22 19:51] #53 closed

[2015-07-22 19:52] #82 closed

[2015-07-22 20:37] secretrobotron commented on #47
@kelimuttu @fauzanalfi our localization specialist, @alicoding was able to finish the client-side code today. So, we can QA the localized app now! :)

The team had to switch over to a different transifex resource, and the dev team has added some more strings as the app has progressed over the past couple weeks: https://www.transifex.com/projects/p/webmaker/resource/webmaker-core/

Whenever you get

[2015-07-22 21:39] secretrobotron commented on #19
Thanks @maktrix !  This week, the team uploaded a new core translation file for the app to transifex: https://www.transifex.com/projects/p/webmaker/resource/webmaker-core/

It contains many of the strings that were already translated, but there are 23 new ones. As soon as that's done, we can test/QA the app in Bangla. Do you think you can help there too?

(Also updated https://github.com/mozilla/w

[2015-07-22 21:40] secretrobotron commented on #19
cc @alicoding

[2015-07-22 22:10] fauzanalfi commented on #47
@secretrobotron that's OK. We will notify you ASAP if we're fully translated them.

/cc @kelimuttu @alicoding

[2015-07-22 22:14] simonwex commented on #91
Hey @mmmavis it'd be great if you could do this to help push the Webmaker release over the line. Do you have the bandwidth?

[2015-07-22 23:36] fauzanalfi commented on #47
@secretrobotron I want to inform that google-play, betawebmakerorg and webmaker-core are fully translated.

cc @kelimuttu

[2015-07-23 01:18] alamanda commented on #48
@KevZawacki our ideas about contents for landing page should be related to the app itself. things like tutorial in creating projects, tips and trick in using webmaker app. that will definitely help new user to read, write and participate on the web. what do you think about that?

[2015-07-23 06:18] lauradereynal commented on #24
Hey @atiqueahmedziad thanks for sharing, this is great news !

[2015-07-23 11:07] KevZawacki commented on #48
Hi @Nhie,

If you're available, you can join my Google Hangout: https://plus.google.com/hangouts/_/g36vidsj6ego2iovxmhrvx4ivya.

[2015-07-23 12:06] Nhie commented on #48
Hi @KevZawacki,

We have join in your Google Hangout. Ready when you are. Waiting

[2015-07-23 13:10] kelimuttu commented on #48
@alamanda @KevZawacki I don't using CMS for the website so I can't make a space for anything like article or blog post. We will just focus on the detail of the event. Probably more or less, such as >> https://2015.mozillafestival.org/.

[2015-07-23 13:22] KevZawacki commented on #48
Thanks for your time today -- great to meet everyone! I wanted to jot down our key takeaways. If I missed something, let me know.
- We'll hold off on promoting Webmaker on facebook.com/MozillaIndonesia and Twitter.com/id_mozilla until the official Webmaker launch in early August. Specific date will be determined soon
- In the meantime, feel free to share Webmaker on personal social media accounts

[2015-07-23 13:45] mauredtha commented on #48
Hi @KevZawacki thanks for sharing and your time :)

[2015-07-23 13:58] secretrobotron commented on #48
:+1: woot!

[2015-07-23 14:01] brianking commented on #20
Any updates on this one?

[2015-07-23 14:13] brianking commented on #34
Lets happening in issue #80. Anything left to do here?

[2015-07-23 14:15] brianking commented on #37
Just logging that call didn't happen today because @SOFTowaha wasn't available and it needs to be rescheduled.

[2015-07-23 14:28] brianking commented on #19
How can this be tested?

[2015-07-23 15:12] secretrobotron commented on #19
Actually, we just landed fixes last night that will let us test this functionality now. All we need to do now is finish & upload the translation files, and we'll be able to deploy the app with Bangla enabled.

[2015-07-23 15:17] secretrobotron commented on #19
Just spoke with our localization engineer (@alicoding), who is going to package the existing unfinished bangla translation files for deployment right now. We can test right away.

[2015-07-23 15:57] edrushka opened #94 "Move graphic assets to permenant home"
All the Webmaker launch assets are currently stored in a Google Drive folder linked to my Moz account. This isn't ideal in case I get hit by a bus, or suddenly decide to move to Tahiti :palm_tree: :tropical_drink: :palm_tree:

@xmatthewx do you have a recommendation for a permanent home? @sabrinang do you know if the DAM ever got finished?

cc @lovegushwa @cassiemc (who's on PTO)

[2015-07-23 17:09] xmatthewx commented on #94
@edrushka you can share the entire folder. You can give read/write access to everyone with a Mozilla address. Also, pretty please give me read/write/participate access to your Tahiti destination.

[2015-07-23 17:15] lovegushwa commented on #94
@xmatthewx @edrushka
I set up a new folder the MOFO design shared drive. Also I'm pulling together a deck today that shows the comprehensive campaign.

https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvOGRoYVBVY3hCdWs&usp=sharing

[2015-07-23 17:43] HPaulJohnson commented on #94
@lovegushwa in the promo kit (formerly known as partner kit) we link to a dropbox of shareable assets for community and partners. We need to determine what assets we should add to that dropbox (which I've created). Once you have the deck maybe we can run through and decide what to include for promo kit.

[2015-07-23 17:52] lovegushwa commented on #94
@HPaulJohnson cool, yes we can do that. I already have all the .png files organized separately so it should be a snap.

[2015-07-23 19:23] KevZawacki commented on #48
@alamanda That sounds great. We're working on a Webmaker blog now that will be posted when the new version is launched. I can share it shortly, when it's complete. It will provide plenty on content about Webmaker's mission and abilities, plus tips and tricks.

[2015-07-23 19:32] KevZawacki opened #95 "Indonesia GTM -- Public Relations"
When Webmaker launches in early August, let's ensure media in Indonesia know all about it. We can work together to identify press, pitch them, and track coverage.

Initially outlined in https://github.com/mozilla/webmaker-launch/issues/48, but that ticket has become primarily about social media. Best to create this PR-focused ticket.

@Nhie, who might be able to help share Webmaker with local medi

[2015-07-23 19:58] KevZawacki commented on #37
Hi @SOFTowaha,
If there's a time next week that's good for you, let us know. Looking forward!

[2015-07-23 22:14] mmmavis commented on #91
@simonwex yea I should be able to. Thoughts on how we should QA this? (please comment in https://github.com/mozilla/webmaker-launch/issues/93)

[2015-07-23 22:16] mmmavis commented on #91
Oh and can someone assign this ticket to me plz? :grimacing:

[2015-07-24 14:40] KevZawacki commented on #37
Hi @brianking, @softowaha and I will be meeting on Skype today at 12:30 p.m. ET. Can you join us?

[2015-07-24 16:42] mmmavis commented on #91
hey @lovegushwa how are the assets coming along? :bowtie:

[2015-07-24 20:26] KevZawacki commented on #95
cc @rara79 and @alamanda

Good to talk about PR on today's call! And glad to hear we have a media list.
How can I help prepare a press release for our upcoming contest/workshop events? Would you like me to write an outline?

[2015-07-24 22:54] secretrobotron commented on #92
Done. Thanks for the help :).

[2015-07-24 22:54] #92 closed

[2015-07-25 05:07] atiqueahmedziad commented on #24
We have got a meeting with Banglalion on 27 july to take them as WiFi partner. Let see if they agree :)

[2015-07-25 15:57] SOFTowaha commented on #37
Good idea @brianking ; Logging is helpful :+1:

Here is yesterday's meeting's log : 4:30 PM Friday, British Standard Time (BST);

Log:
       1. Had a meeting with @KevZawacki ;
       2. Talked about this[1] pad ;
       3. Got a deadline, probably 15th August ;
       4. On [Twitter](http://twitter.com/mozillabd/) and [Facebook](http://facebook.com/MozillaBD) the statuses and tweets from this [4

[2015-07-26 05:34] alamanda commented on #95
@KevZawacki An outline will definitely help. We'll be able to fill it up with facts and information related to Webmaker activities in Indonesia as well as sharing some featured Indonesian contents. I have asked all the team member who will organize school presentation and workshops to document their events for this.

[2015-07-27 08:14] alamanda commented on #47
dear @kelimuttu @fauzanalfi would it be possible for Team04 to localize this teaching kit: http://mozilla.github.io/webmaker-curriculum/MobileWeb/create-webmaker-project.html for Team02 and Team06? They will use it for presentation and hands-on workshop during school visit.
thank you!

[2015-07-27 13:23] KevZawacki commented on #37
Perfect -- thanks, @SOFTowaha!

[2015-07-27 13:39] adamlofting commented on #93
I've tried looking around in SFMC (aka Exact Target) and the [documentation suggests](http://help.exacttarget.com/en/documentation/exacttarget/inbox_tools/) it might be something available as an add-on, but I'm not sure if it's a feature we have currently. I'll ping Jess at MoCo to ask, but for now assume that we don't have this in our tools.

[2015-07-27 14:04] fauzanalfi commented on #47
@alamanda we will try, Ina :)
/cc @kelimuttu @technowizard

[2015-07-27 14:21] adamlofting commented on #93
Good news! MoCo have an account at http://www.emailonacid.com/ which we can use. I will share creds offline.

[2015-07-27 16:42] lovegushwa commented on #94
@HPaulJohnson Please see the sharable link you can send out with the promo kit.

https://drive.google.com/folderview?id=0B2qu3ExKWIlveVhwUzdZb1BJWFE&usp=sharing

[2015-07-27 16:55] brianking commented on #37
Excellent thank you for the update. If there is anything I can help with directly, let me know.

[2015-07-27 17:42] secretrobotron commented on #47
Cool! Let me know if I can clarify anything in that teaching kit.

[2015-07-27 18:54] #94 closed

[2015-07-27 18:56] KevZawacki commented on #95
Hi @alamanda, here's a rough outline of what the pitch/press release might look like: https://etherpad.mozilla.org/IDmedia. Feel free to edit and add info! (And, of course, translate.)

Also, please let me know how I can help build the Indonesian media list. Is there one currently in the works?

[2015-07-27 19:55] lovegushwa commented on #91
Hi @mmmavis , you can download updated assets from the link below, please let me know if you need anything / any additional markup.

https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvMmxzeVczQkN0bUk&usp=sharing

[2015-07-27 21:01] mmmavis commented on #91
cool thanks @lovegushwa!  If it's possible, would you mind attaching a mockup **without** any sample content? It will greatly help me understand which sections of the design have to be built as part of the template. :grin:

[2015-07-27 21:30] lovegushwa commented on #91
Hi @mmmavis , the long text email makes most sense as a dynamic template. Please see below (it's also now on the drive.)

<img width="1024" alt="webmaker-email-content" src="https://cloud.githubusercontent.com/assets/12228435/8918271/e97808fa-346b-11e5-8847-90573d96deb6.png">

[2015-07-27 21:42] KevZawacki commented on #95
An update: Webmaker will officially emerge from beta on Friday, August 14. So, that's when we'll begin pitching media.

[2015-07-27 21:43] KevZawacki commented on #37
Hi @SOFTowaha and @maktrix, following up on our social media action plan. Webmaker will emerge from beta on Friday, August 14. So, that's when we can begin promotion on facebook.com/MozillaBD and@MozillaBD.

[2015-07-27 21:45] KevZawacki commented on #48
Hi, all. With Webmaker emerging from beta on Friday, August 14, let's plan to resume promotion on facebook.com/MozillaIndonesia and @id_mozilla that same day.

[2015-07-27 22:57] KevZawacki commented on #78
Hi @melissacd and @panaggio. With Webmaker emerging from beta on Friday, August 14, let's plan to start promotion on @mozillabrasil and Facebook.com/mozillabrasil that same day.

[2015-07-28 00:43] HPaulJohnson commented on #94
Thanks @lovegushwa. Moved relevant files into a publicly available dropbox too at http://mzl.la/WebmakerAssets (this is the link included in the promo kit).

[2015-07-28 08:49] SOFTowaha commented on #37
Hello @KevinGrandon ;
I have contacted @maktrix ;
Meanwhile here is what I can do:
       1. I don't use facebook that much, so I can use my [Twitter](https://twitter.com/SOFTowaha) handle to do some promotional tweets from this [spreadsheet](https://docs.google.com/spreadsheets/d/1tWRmjYW_DUH-YhpmsF5rcbHPeSF6eeu-3Yy-_FdTcvU/edit?pli=1#gid=443327769) :)
       2. Contact my friends who have a good

[2015-07-28 11:44] KevZawacki commented on #37
Hi @SOFTowaha, those all sound great. Thanks!

[2015-07-28 17:41] KevZawacki commented on #78
We've created localized social media graphics to use, starting August 14: https://www.dropbox.com/sh/0k2dty7g8abdtb0/AAAQxSxq_2psWuyvPMMwOSUUa?dl=0

Feel free to use these + any art you've been working on, too.

[2015-07-28 17:42] KevZawacki commented on #48
We've created localized social media graphics to use, starting August 14: https://www.dropbox.com/sh/0k2dty7g8abdtb0/AAAQxSxq_2psWuyvPMMwOSUUa?dl=0

Feel free to use these + any art you've been working on, too.

[2015-07-28 17:42] KevZawacki commented on #37
We've created localized social media graphics to use, starting August 14: https://www.dropbox.com/sh/0k2dty7g8abdtb0/AAAQxSxq_2psWuyvPMMwOSUUa?dl=0

Feel free to use these + any art you've been working on, too.

[2015-07-28 20:01] secretrobotron commented on #37
Added that link to https://github.com/mozilla/webmaker-launch/wiki

[2015-07-28 20:11] SOFTowaha commented on #37
Awesome @KevinGrandon !

Just two suggestions:
1. by any chance can you use [Solaimanilipi.ttf](http://www.fonts2u.com/solaimanlipi.font) as the Bangla font? This font would make these contents more alive :)
2. There is a typo [I guess] on the the email, banner and social media:
![Typo](https://cloud.githubusercontent.com/assets/4376131/8942200/fbd44e0c-3595-11e5-9f2e-dfdedf735136.png)
it's so far

[2015-07-28 20:20] cyz opened #96 "Brazil GTM - Partnership with PUCRS"
//to do

[2015-07-29 10:44] alamanda commented on #47
@kelimuttu @fauzanalfi any news for this? the first school visit will be in August 1st. we still have 3 days until then:) please let me know if I could help also to review it once you have translate the document.
thank you so much!

[2015-07-30 14:31] secretrobotron commented on #50
Some links for events from @rara79:
- http://www.eventbrite.com/e/mozbelajar-webmaker-app-for-android-tickets-17965893471
- https://reps.mozilla.org/e/mozbelajar-jakarta-webmaker-app-for-android/

Exciting!

cc @HPaulJohnson @KevZawacki @williamq

[2015-07-30 16:59] cyz opened #97 "Brazil GTM - Partnership with IBGEN"
Jornada Acadêmica da Faculdade IBGEN, de 09/11 à 11/11.

Metas:
* Duas palestras
* Oficina WebMaker

[2015-07-31 12:32] KevZawacki commented on #79
Hi @cynthiapereira and @panaggio,

We're putting Portuguese copy in our promotional Webmaker video, and are hoping you can help with translation. Specifically, the phrase: "my first blog." Thanks!

cc @lovegushwa @HPaulJohnson

[2015-07-31 12:33] KevZawacki commented on #47
Hi @fauzanalfi,

We're putting Indonesia copy in our promotional Webmaker video, and are hoping you can help with translation. Specifically, the phrase: "my first blog." Thanks!

cc @lovegushwa @HPaulJohnson

[2015-07-31 12:37] KevZawacki commented on #19
Hi @bellayet and @maktrix,

We're putting Bengali copy in our promotional Webmaker video, and are hoping you can help with translation. Specifically, the phrase: "my first blog." Thanks!

cc @lovegushwa @HPaulJohnson

[2015-07-31 12:37] IanRamosC commented on #79
Hi @KevZawacki,

"my first blog" can be translated as: "meu primeiro blog".

[2015-07-31 13:17] kelimuttu commented on #47
@KevZawacki  "my first blog." in Bahasa Indonesia is "blog pertamaku."

cc @fauzanalfi  @lovegushwa @HPaulJohnson

[2015-07-31 17:17] KevZawacki commented on #79
Thank you, @IanRamosC!

[2015-07-31 17:18] KevZawacki commented on #47
Thank you, @kelimuttu!

[2015-08-03 16:26] KevZawacki commented on #95
Hi @rara79 and @alamanda, I'd love to catch up about PR on the next community call. Is there one this week I can join?

[2015-08-03 16:30] KevZawacki commented on #44
Hi @deryanEM, @secretrobotron made a neat tool for finding and sorting local Webmaker projects:  http://secretrobotron.github.io/webmaker-launch/new-projects.html

It can help to put together a small list of cool projects every week.

[2015-08-03 20:35] HPaulJohnson commented on #90
Final email here: https://docs.google.com/document/d/1UO1AAG-XGA2Mz4U3lWPmL-JOCbs_EJWP4if9j5zfIa8/edit. Plan is to send this on Wednesday or Thursday this week (8/5-8/6).

New terms need to be updated and posted/linked on 8/14: Final, legal approved TOS are here: https://mail.google.com/mail/u/0/#search/abigail/14ead562a60f8b85?projector=1.

For the email, prior to 8/14, they should be available s

[2015-08-04 01:01] alamanda commented on #95
Hey @KevZawacki there'll be on this Friday 9PM Jakarta time. Please join us. This weekly meeting will be bilingual.

[2015-08-04 12:58] KevZawacki commented on #62
Hey, for those keeping track of cool local projects: @secretrobotron built a tool for finding and sorting Webmaker projects.

http://secretrobotron.github.io/webmaker-launch/new-projects.html

[2015-08-04 12:58] KevZawacki commented on #20
Hey, for those keeping track of cool local projects: @secretrobotron built a tool for finding and sorting Webmaker projects.

http://secretrobotron.github.io/webmaker-launch/new-projects.html

[2015-08-04 13:29] KevZawacki commented on #95
Thanks, I'll be there! Where will it be held?

[2015-08-04 13:32] alamanda commented on #95
On Hangout. Will send a link to the group. Please stay tuned!

[2015-08-04 13:48] mauredtha commented on #44
Wow !! Thanks a lot @KevZawacki , it's very cool and very helpful for our team . @secretrobotron

[2015-08-04 15:35] xmatthewx commented on #90
Thanks @HPaulJohnson. Can you reshare final terms? Link above doesn't work.

[2015-08-04 16:17] HPaulJohnson commented on #90
Abigail made one final tweak last night so here is the final version:

https://drive.google.com/a/mozilla.com/file/d/0B_MJiF6wUoWPaWotV2Y3RzM3V0xQZEtQMzNCbVE5OVpRYlhJ/view?usp=sharing

[2015-08-04 18:16] xmatthewx commented on #90
For now, link is: https://beta.webmaker.org/#/legal

Status of revisions here: https://github.com/mozilla/webmaker-core/issues/442

[2015-08-04 18:22] xmatthewx opened #98 "Create vanity URLs"
Create short URLs for tracking marketing. Original discussion: https://github.com/mozilla/webmaker-browser/issues/146

[2015-08-04 18:30] HPaulJohnson commented on #90
@xmatthewx the link above doesn't reflect the changes in the gdoc? when will that happen as it's a blocker on sending the email given the link needs to be included.

[2015-08-04 18:42] xmatthewx commented on #90
@thisandagain will post the changes in near future. task for that is here: https://github.com/mozilla/webmaker-core/issues/442

If @mmmavis is available, should could do it as well.

[2015-08-04 21:51] mmmavis commented on #90
@xmatthewx is this just copy updates? If it is I should have time to work it :smile: (I'm in SF this week for fundraising stuff so I won't be very responsive on GitHub tickets)

[2015-08-05 09:08] rara79 commented on #50
Workshops in 5 different cities in Indonesia, starting August 15th, 2015.

Jakarta: August 15th, 2015
https://reps.mozilla.org/e/mozbelajar-jakarta-webmaker-app-for-android/

Bandung: August 15th, 2015
https://reps.mozilla.org/e/mozbelajar-bandung-webmaker-app-for-android/

Semarang: August 15th, 2015
https://reps.mozilla.org/e/mozbelajar-semarang-webmaker-app-for-android/

Surabaya: August 30th,

[2015-08-05 15:13] xmatthewx commented on #90
@mmmavis - yes, just copy edits. link posted to https://github.com/mozilla/webmaker-core/issues/442. thanks!

[2015-08-05 18:16] HPaulJohnson commented on #90
What the latest on getting these updated?

We need to send out the email in the next 2 days to make sure we do it at least 10 days before it goes live.

[2015-08-05 18:18] thisandagain commented on #90
We should be able to get the updated TOS landed later today.

[2015-08-05 22:23] #90 closed

[2015-08-05 22:35] thisandagain commented on #90
Updated TOS is up on staging. @HPaulJohnson can you give me a second set of eyes before I roll this to production? http://webmaker-desktop-staging.herokuapp.com/#/legal

[2015-08-05 22:42] HPaulJohnson commented on #90
@thisandagain looks good to me. thx.

[2015-08-05 22:56] thisandagain commented on #90
@HPaulJohnson Ok. This is now live in production: https://beta.webmaker.org/#/legal

[2015-08-05 23:00] HPaulJohnson commented on #90
great. email to go out to Webmaker app users tomorrow a.m with a notification.

[2015-08-06 20:33] mmmavis commented on #91
hey @lovegushwa mind attaching the updated design here and flag me once you have a chance? :+1: :smile:

[2015-08-07 13:59] KevZawacki commented on #95
Hi @alamanda, are you able to share the Hangout link?

[2015-08-07 15:00] KevZawacki commented on #95
Hi @rara79, just chatted with William and others about PR. Yofie has started to put together a media list, here: https://docs.google.com/spreadsheets/d/1Nimn5zDpIWxr8_m-oNuTPZzjn3Y9ND8KfR5iR_1h5Tk/edit#gid=0

Maybe we can combine it with yours? And when are we planning to send the first email to reporters?

[2015-08-07 15:32] alamanda commented on #95
Hey @KevZawacki there's a list built previously by Nhie here: https://docs.google.com/spreadsheets/d/1ggLY87enA785RpltO73o7zeK055b1iazQAm3nbcVXys/edit#gid=0 I agree that we should combine the new docs with the one we had before. It's part of coordination within Team05. I suggest we send the first email on Monday. What do you think, @rara79?

[2015-08-07 21:58] KevZawacki commented on #95
@nhie and @alamanda, that's a great list. Thanks so much!

Will Monday's email be based on this pitch? https://etherpad.mozilla.org/IDmedia

We can also email reporters again on Friday, once the newest version is released. Want to chat about it sometime before 8/14?

[2015-08-08 10:30] bellayet commented on #19
"my first blog."="আমার প্রথম ব্লগ।"

[2015-08-10 13:28] KevZawacki commented on #19
Thank you, @bellayet!
cc @lovegushwa

[2015-08-10 19:02] KevZawacki commented on #47
Hi all, we're preparing Webmaker copy for Firefox snippets, and are hoping you can help to localize:

Unleash your creativity with Mozilla's free, open source Webmaker app for Android. Get the scoop on how to become a digital creator with Webmaker

Discover. Create. Share. Make personal scrapbooks, photo galleries, comic strips and more with the free Webmaker app. Download it today

The all-new We

[2015-08-10 19:02] KevZawacki commented on #79
Hi all, we're preparing Webmaker copy for Firefox snippets, and are hoping you can help to localize:

Unleash your creativity with Mozilla's free, open source Webmaker app for Android. Get the scoop on how to become a digital creator with Webmaker

Discover. Create. Share. Make personal scrapbooks, photo galleries, comic strips and more with the free Webmaker app. Download it today

The all-new We

[2015-08-10 19:02] KevZawacki commented on #19
Hi all, we're preparing Webmaker copy for Firefox snippets, and are hoping you can help to localize:

Unleash your creativity with Mozilla's free, open source Webmaker app for Android. Get the scoop on how to become a digital creator with Webmaker

Discover. Create. Share. Make personal scrapbooks, photo galleries, comic strips and more with the free Webmaker app. Download it today

The all-new We

[2015-08-10 20:04] lovegushwa commented on #91
@HPaulJohnson @mmmavis please see the updated design. Everything should now work if a email client renders text in black (Mavis called out this issue during work week). Please get the updated assets here:

https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvRFdOSGRDTFM2Qk0&usp=sharing

<img width="1024" alt="webmaker-email-v8-1" src="https://cloud.githubusercontent.com/assets/1222843

[2015-08-10 20:24] HPaulJohnson commented on #91
Thanks, @lovegushwa

Question: will the 2 "download the app" and floating phone image be available as separate images that I can simply insert into the body of the email when I add copy to template? We did something similar with latest Maker Party emails, so I think yes.

@mmmavis does this work for building a template? If so, what's the timeline and eta for having this available in BSD? Will plan

[2015-08-10 20:26] lovegushwa commented on #91
Question: will the 2 "download the app" and floating phone image be available as separate images that I can simply insert into the body of the email when I add copy to template? We did something similar with latest Maker Party emails, so I think yes.

Yes I think so @HPaulJohnson, @mmmavis can you confirm?

[2015-08-10 21:38] mmmavis commented on #91
@HPaulJohnson I'm aiming to have this ready by EOD tomorrow (Tuesday).  And yup you will be able to insert copy and images into the light purple section in this template.  I would suggest that we run test using Email on Acid before we send out the email to make sure things render properly in most email clients.  I can share creds with you @HPaulJohnson

[2015-08-10 21:41] HPaulJohnson commented on #91
@mmmavis - excellent, thank you!

[2015-08-11 09:13] mauredtha commented on #44
Halo @secretrobotron , i have a question. I was opened the tools for  finding and sorting local webmaker project http://secretrobotron.github.io/webmaker-launch/new-projects.html , but why there are so many empty page like this page http://secretrobotron.github.io/webmaker-launch/new-projects.html?language=id-ID&page=50 and http://secretrobotron.github.io/webmaker-launch/new-projects.html?language

[2015-08-11 10:41] mfachrulrazy commented on #45
this is our update on visit school in Makassar: https://docs.google.com/spreadsheets/d/1kVj2d_1JOkqwK3xemHarxjTLFM8r7HuZHQeboJHBqXo/edit?usp=sharing

[2015-08-11 19:59] KevZawacki commented on #44
Hi @deryanEM, sorry you're having this issue.

This tool shows _all_ Webmaker projects, whether they are finished or have only just been started. That may be part of the problem.

Feel free to click "next" through the empty pages until projects start appearing again.

[2015-08-11 21:10] KevZawacki commented on #48
Hi everyone. Looking forward to starting Webmaker promotion on social media later this month!

A quick update: we've decided to push the launch from Friday, August 14 to Monday, August 17. The beginning of the week will be more effective.

So, let's plan to start tweeting from facebook.com/MozillaIndonesia and Twitter.com/id_mozilla on Monday, August 17.

[2015-08-11 21:11] KevZawacki commented on #78
Hi everyone. Looking forward to starting Webmaker promotion on social media later this month!

A quick update: we've decided to push the launch from Friday, August 14 to Monday, August 17. The beginning of the week will be more effective.

So, let's plan to start posting to Twitter.com/mozillabrasil and Facebook.com/mozillabrasil on Monday, August 17.

[2015-08-11 21:11] KevZawacki commented on #37
Hi everyone. Looking forward to starting Webmaker promotion on social media later this month!

A quick update: we've decided to push the launch from Friday, August 14 to Monday, August 17. The beginning of the week will be more effective.

So, let's plan to start posting to facebook.com/MozillaBD and twitter.com/MozillaBD on Monday, August 17.

[2015-08-11 21:17] KevZawacki commented on #95
Hi, a quick update: we've decided to push the launch from Friday, August 14 to Monday, August 17. The beginning of the week will be more effective.

So, something to be aware of as we start reaching out to media.

[2015-08-11 21:17] KevZawacki commented on #64
Hi, a quick update: we've decided to push the launch from Friday, August 14 to Monday, August 17. The beginning of the week will be more effective.

So, something to be aware of as we start reaching out to media.

[2015-08-11 21:17] KevZawacki commented on #21
Hi, a quick update: we've decided to push the launch from Friday, August 14 to Monday, August 17. The beginning of the week will be more effective.

So, something to be aware of as we start reaching out to media.

[2015-08-11 22:43] mmmavis commented on #90
@thisandagain @xmatthewx @HPaulJohnson oops sorry this got buried in my inbox.  Thanks for updating it @thisandagain

[2015-08-11 23:28] mmmavis commented on #91
Hey @HPaulJohnson I think you can start composing the email.  The BSD email template is called "Webmaker Email Template 2015"(we can rename this if you find this name confusing).

Let me know if you need help or clarification.

(I'll forward you the Email on Acid credential in a bit)

[2015-08-11 23:30] HPaulJohnson commented on #91
thanks, @mmmavis - I'll start testing it shortly and let you know if I run into any issues.

[2015-08-11 23:32] mmmavis commented on #91
cooooool, just forwarded creds to you.  check your inbox :dancer:

[2015-08-12 00:11] HPaulJohnson commented on #91
playing around with it now in BSD and it's working pretty well.

@lovegushwa can you send me the "download the app" image and the floating phones image so I can include those in the tests?

[2015-08-12 02:18] lovegushwa commented on #91
@HPaulJohnson you will find the floating phone image here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvRFdOSGRDTFM2Qk0&usp=sharing

And the download the app image here:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvNEx1S1FkRFlEUm8/view?usp=sharing

[2015-08-12 04:03] HPaulJohnson commented on #91
thanks @lovegushwa

[2015-08-12 09:03] mauredtha commented on #44
I thought  it is the last page of all the data, okay no problem i am understand now. thank you @KevZawacki :)

[2015-08-12 18:06] bdgeek commented on #21
Hi, The Media/ Newspaper list is uploaded in google spreedsheet. Is there any update on the PR Agency confirmation? https://docs.google.com/spreadsheets/d/1ib8fSF10O9veWjkc95gndf5QrUrQpk833NQzW9wvqus/edit?usp=sharing

[2015-08-12 19:14] KevZawacki commented on #21
Hi @bdgeek, thank you for sharing. Great media list.

We will likely be engaging a PR agency to assist, but that is still a few weeks out.

For the launch on Monday, is there a Mozillian who is capable of emailing the publications you listed, and helping to track resulting coverage?

Here is a pitch for sending to local media (in needs to be translated): https://etherpad.mozilla.org/BNpressrelease

[2015-08-12 19:51] bdgeek commented on #21
@KevZawacki i can send the email. @pinktanha @hossainalikram For localization of the pitch, send and tracking needs to discuss asap

[2015-08-12 21:37] KevZawacki commented on #78
We've put the finishing touches on our Webmaker launch blog, which will be published Monday, August 17 at around 10 a.m. ET.

Feel free to have a look, localize, and use it as you see fit across the Web: https://etherpad.mozilla.org/WebmakerBlog

Just be sure to hold off on publishing some or all of it until Monday at 10 a.m. ET. Thanks!

[2015-08-12 21:37] KevZawacki commented on #48
We've put the finishing touches on our Webmaker launch blog, which will be published Monday, August 17 at around 10 a.m. ET.

Feel free to have a look, localize, and use it as you see fit across the Web: https://etherpad.mozilla.org/WebmakerBlog

Just be sure to hold off on publishing some or all of it until Monday at 10 a.m. ET. Thanks!

[2015-08-12 21:38] KevZawacki commented on #37
We've put the finishing touches on our Webmaker launch blog, which will be published Monday, August 17 at around 10 a.m. ET.

Feel free to have a look, localize, and use it as you see fit across the Web: https://etherpad.mozilla.org/WebmakerBlog

Just be sure to hold off on publishing some or all of it until Monday at 10 a.m. ET. Thanks!

[2015-08-12 21:44] KevZawacki commented on #79
@IanRamosC, would you be able to help us localize the above snippets in the next couple days?

[2015-08-12 21:44] KevZawacki commented on #19
@bellayet and @maktrix, would you be able to help us localize the above snippets in the next couple days?

[2015-08-12 21:47] KevZawacki commented on #47
Thanks for the quick translation work in Telegram! Ported to below:

##

Pancarkan kreativitasmu dengan Webmaker app untuk Android gratis dan sumber kode terbuka dari Mozilla. Cari tahu caranya untuk menjadi seorang pencipta digital dengan Webmaker

Temukan. Buat. Bagikan. Buat buku tempel pribadi, galeri foto, komik strip dan lainnya dengan Webmaker app yang gratis. Unduh sekarang juga

Aplikasi

[2015-08-12 22:17] IanRamosC commented on #79
"Liberte sua criatividade com o Webmaker, o novo aplicativo gratuito e open source da Mozilla. Saiba tudo que precisa para se tornar um criador de conteúdo digital com o Webmaker.

Descubra. Crie. Compartilhe. Faça scrapbooks pessoais, galerias de fotos, tirinhas e muito mais com o Webmaker. Baixe-o agora.

O novo aplicativo Mozilla Webmaker: o jeito mais simples de contar sua história através do

[2015-08-13 02:23] kelimuttu commented on #47
@KevZawacki We actually have made a few correction for the first paragraph in another telegram group. Here it is :

Pancarkan kreativitasmu dengan Webmaker app untuk Android dari Mozilla yang gratis dan kode sumbernya terbuka. Cari tahu caranya untuk menjadi seorang pencipta digital dengan Webmaker

cc// @fauzanalfi

[2015-08-13 13:41] KevZawacki commented on #47
Thank you, @kelimuttu. I'll let @HPaulJohnson know.

[2015-08-13 13:43] KevZawacki commented on #79
Thank you, @IanRamosC!
cc @hpauljohnson

[2015-08-13 14:40] KevZawacki commented on #21
Thank you, @bdgeek, @pinktanha & @hossainalikram.

[2015-08-14 01:17] HPaulJohnson commented on #91
Calling this one complete.

[2015-08-14 01:17] #91 closed

[2015-08-14 12:30] tanhaislam commented on #21
Hello, I have done my best for the localization part, @bdgeek  @hossainalikram please review.

[2015-08-14 15:25] KevZawacki commented on #21
Thanks so much, @pinktanha!

[2015-08-15 16:38] MartinDesigner commented on #34
![imghome](https://cloud.githubusercontent.com/assets/13809960/9289329/0bef602c-436c-11e5-80fc-3ec07f82dd8d.jpg)
So, as a supplement, however as a main point try this amazing free app. Createer.com is an online software for easily designing online ads, responsive landing pages and print materials such as flyers, posters, covers, invitations and more. Createer lets you easily share your designs on

[2015-08-16 15:10] bdgeek commented on #21
Hi @KevZawacki , We have localized the pitch. When we should send the email? I use gmail for mozilla communication, is it ok to send from my gmail account?

[2015-08-17 13:45] KevZawacki commented on #48
Hi @deryanEM, @kelimuttu, @Nhie, @alamanda, and @ariefbayu,

The new Webmaker version has been released :confetti_ball: Thank you for all your amazing work getting here!

We're now ready to start sharing the news on facebook.com/MozillaIndonesia and @id_mozilla.

Some helpful docs:
Our spreadsheet for tracking posts: https://goo.gl/atNHVH
Localized social media graphics: https://goo.gl/7dpufh

Tha

[2015-08-17 13:50] KevZawacki commented on #78
Hi @panaggio and @melissacd,

The new Webmaker is out! :smile: Thank you both for all your help.

So we're now ready to share the news via Twitter.com/mozillabrasil and Facebook.com/mozillabrasil.

Here are two helpful social media links:
Our spreadsheet for tracking posts: https://goo.gl/atNHVH
Localized social media graphics: https://goo.gl/7dpufh

:confetti_ball:

[2015-08-17 13:53] KevZawacki commented on #37
Hi @SOFTowaha and @maktrix,

The new Webmaker has been released! :smile: Thank you both for all your help and time.

We are now ready to share the news on Twitter.com/MozillaBD and Facebook.com/MozillaBD. Here are two helpful social media links:

Our spreadsheet for tracking posts: https://goo.gl/atNHVH
Localized social media graphics: https://goo.gl/7dpufh

:confetti_ball:

[2015-08-17 14:14] KevZawacki commented on #95
Hi @rara79 & @alamanda: we're good to start pitching Webmaker news to media :+1:

We have your great media lists (https://goo.gl/vtxgrH and https://goo.gl/PXD3qA) and localized pitch (https://etherpad.mozilla.org/IDmedia). Plus, our doc for tracking results (https://goo.gl/bFF9sL).

Anything I can help with?

[2015-08-17 14:18] KevZawacki commented on #21
Hi @bdgeek, thanks so much! The newest Webmaker version is out, so you can send the email whenever you're ready. And yes, sending from gmail is OK.

As reporters start writing about Webmaker in Bangladesh, can you please track their stories in this doc: https://goo.gl/p6KS5P.

Thanks! Please let me know how I can help.

[2015-08-18 08:13] SOFTowaha commented on #37
:+1:

[2015-08-18 08:41] brianking commented on #24
It seems like we've stalled on finding a partner for WiFi at events, so here is what I wrote in an email thread:

---

Hi All,

Just going to through this thread and trying to understand. Correct me if I am wrong but the core issues seem to be:
1. We have some upcoming events (most urgent 29th) for the Webmaker launch
2. To get reliable Internet at the events, we need to partner with a company tha

[2015-08-18 09:05] alamanda commented on #48
Thank you for all your support and help, @KevZawacki
See you this Thursday to continue our conversation about co-creating the blogpost. I'm looking forward to it:D

[2015-08-18 09:08] alamanda commented on #46
@andi-belutz we should get together soon to discuss further about proposals and such. I want to get it all done and ready for Friday August 21st the latest.

@secretrobotron have you return to the office? can we discuss with you about 'due diligence'  of some of potential sponsors? what should we look closely when we're about to deal with them?

[2015-08-18 09:11] alamanda commented on #45
thank you @fahrulrazy
I would like to remind you and @munif02 to please add #MozBelajar to all the school visit flickr album. and if you haven't post them to flickr, please do so! thank you so much for all of your hard work. you guys rock!

[2015-08-18 09:20] amdmunif commented on #45
On progress to upload it. Wait....
Pada tanggal 18 Agt 2015 16.11, "Dian Ina Mahendra" <
notifications@github.com> menulis:

[2015-08-18 15:38] KevZawacki commented on #48
Team 5 rocks :fireworks:

@Nhie, you asked about Sprinklr and reviewing social media results in Indonesia. We've seen almost 200 mentions of Webmaker across social media in Indonesia in just the past 48 hours! Below are some charts with additional information.

Volume trend: more people are talking about Webmaker in Indonesia today than were yesterday. This means the conversation is gaining moment

[2015-08-18 15:52] Nhie commented on #48
yeaaaa....rocks!

my email is anhiewardiani@gmail.com.

Thank you @KevZawacki

[2015-08-18 16:10] alamanda commented on #48
bikin means create. and content.
great! it means that the keywords people been using are what we intended them to choose _dancing_
is that right, @KevZawacki?

I'm also working together with MoCo social media team. there will be a snippet running today that connects Webmaker App and Indonesia Independence Day celebration, with hashtag #RI70. hopefully, this will boost some traffic for Firefox user

[2015-08-18 16:13] alamanda commented on #47
@kelimuttu @fauzanalfi would you please help with this?
https://etherpad.mozilla.org/WebmakerBlog
I think it will be best if we can run it this week. thanks!:D

[2015-08-18 16:39] alamanda commented on #47
My bad! I just realized that it has been translated and posted in the Mozilla Indonesia website:)) OMG! I'm sorry for this!

[2015-08-18 16:41] kelimuttu commented on #47
@alamanda I'm just about to reply it btw. That's okay. (;

[2015-08-18 21:28] xmatthewx opened #99 "Add me to Desk for support"
Who has admin privileges?  cc @thisandagain @secretrobotron @simonwex

[2015-08-19 13:31] KevZawacki commented on #48
@alamanda, yep! If we were seeing words like "boring" or "bug," we'd be a lot less happy :smile:

[2015-08-19 22:01] thisandagain commented on #99
You already have access, but I have promoted you to an admin:
<img width="895" alt="screen shot 2015-08-19 at 3 01 36 pm" src="https://cloud.githubusercontent.com/assets/747641/9370182/27a0ac08-4683-11e5-844b-c967f8500b13.png">

Web Agent:
https://webmaker.desk.com/web/agent

Admin:
https://webmaker.desk.com/admin/dashboard

[2015-08-19 22:01] #99 closed

[2015-08-20 02:52] mfachrulrazy commented on #45
our school update in Makassar... https://docs.google.com/spreadsheets/d/1kVj2d_1JOkqwK3xemHarxjTLFM8r7HuZHQeboJHBqXo/edit?usp=sharing

[2015-08-20 19:17] KevZawacki commented on #78
Hi @panaggio and @melissacd, anything I can do to help share Webmaker on Twitter.com/mozillabrasil and Facebook.com/mozillabrasil? Let me know!

[2015-08-20 19:19] KevZawacki commented on #37
Hi @SOFTowaha and @maktrix, anything I can do to help share the Webmaker news on Twitter.com/MozillaBD and Facebook.com/MozillaBD? Let me know!

[2015-08-20 19:25] vazquez opened #100 "Translate text to Bengali"
We need a bit of text translated to Bengali.

#### Translation Needed

`Explore stories around the world ... or make your own!`

#### Design

Below is the design where the sentence of text will appear. We don't have that much space, so we need to use the most concise phrasing in Begali as possible.

![intro 1 copy 3 1x](https://cloud.githubusercontent.com/assets/1119821/9393328/556d5420-474f-11e5-

[2015-08-20 19:25] vazquez commented on #100
cc @secretrobotron

[2015-08-20 19:26] vazquez opened #101 "Translate text to Indonesian"
We need a bit of text translated to Indonesian.

#### Translation Needed

`Explore stories around the world ... or make your own!`

#### Design

Below is the design where the sentence of text will appear. We don't have that much space, so we need to use the most concise phrasing in Indonesian as possible.

![intro 1 copy 3 1x](https://cloud.githubusercontent.com/assets/1119821/9393328/556d5420-474

[2015-08-20 19:26] vazquez commented on #101
cc @secretrobotron

[2015-08-20 19:27] vazquez opened #102 "Translate text to Brazilian Portuguese"
We need a bit of text translated to Brazilian Portuguese.

#### Translation Needed

`Explore stories around the world ... or make your own!`

#### Design

Below is the design where the sentence of text will appear. We don't have that much space, so we need to use the most concise phrasing in Brazilian Portuguese as possible.

![intro 1 copy 3 1x](https://cloud.githubusercontent.com/assets/1119821/

[2015-08-20 19:27] vazquez commented on #102
cc @secretrobotron

[2015-08-20 19:37] KevZawacki commented on #48
Hey Team 5, an update: 19% of Webmaker conversations on social media in the past four days are happening in Indonesia. That's huge! :smile:

![screen shot 2015-08-20 at 3 35 03 pm](https://cloud.githubusercontent.com/assets/11045250/9393667/3c91a594-4751-11e5-9568-17fca7494955.png)

[2015-08-20 20:17] rodrigowaters commented on #102
@vazquez

Explore histórias ao redor do mundo ... ou faça a sua !

[2015-08-20 21:43] xmatthewx opened #103 "Translate Play store to Spanish and French"
More downloads to devices with these languages than any other (besides English). cc @secretrobotron

[2015-08-21 11:54] bellayet commented on #19
Here is the translation,

Unleash your creativity with Mozilla's free, open source Webmaker app  for Android. Get the scoop on how to become a digital creator with  Webmaker

আপনার সৃজনশীলতাকে ওয়েবের দুনিয়াতে ছড়িয়ে দিতে চান? ব্যবহার করুন মজিলার ফ্রি এবং ওপেন সোর্স অ্যাপ Webmaker for Android

Discover. Create. Share. Make personal scrapbooks, photo galleries,  comic strips and more with the free We

[2015-08-21 12:00] bellayet commented on #100
Here is the translation,

Explore stories around the world ... or make your own!
আপনার চারপাশের দুনিয়ার গল্পগুলো আবিষ্কার করুন ... অথবা নিজেই তৈরী করুন!

[2015-08-21 14:29] kelimuttu commented on #101
Temukan cerita dari seluruh dunia ... atau buatlah ceritamu sendiri!

[2015-08-21 14:35] secretrobotron commented on #101
Thanks, @kelimuttu! Just to be clear,

"Explore stories from your world" = Temukan cerita dari seluruh dunia
"...or make your own" = atau buatlah ceritamu sendiri!

Right?

[2015-08-21 14:45] secretrobotron commented on #100
Thanks, @bellayet :D. Do you mind pinging another team member to review?

[2015-08-21 14:45] secretrobotron commented on #102
Thanks @rodrigowaters :D.

Do you mind pinging another team member to review?

[2015-08-21 15:07] thisandagain commented on #38
- [ ] Firefox Tiles re: https://github.com/MozillaFoundation/plan/issues/541

[2015-08-21 15:37] HPaulJohnson commented on #38
@LauraReynal thanks for flagging tile. We have provided an updated Webmaker tile and we're under the impression that it went live this week.

You hadn't previously "pinned" that tile had you? In any case, I will folllow up with that team to make sure the new tile is being used.

[2015-08-21 16:32] vazquez commented on #100
How does it look @bellayet?

![intro bengali 1x](https://cloud.githubusercontent.com/assets/1119821/9413565/9ef91e74-4800-11e5-8f05-2b1649c95bf3.png)

[2015-08-21 16:32] vazquez commented on #101
How does it look @kelimuttu?

![intro indonesian 1x](https://cloud.githubusercontent.com/assets/1119821/9413578/ab20f0be-4800-11e5-877f-86ed29863790.png)

[2015-08-21 16:32] vazquez commented on #102
How does it look @rodrigowaters?

![intro brazilian portuguese 1x](https://cloud.githubusercontent.com/assets/1119821/9413582/b3f0f428-4800-11e5-96e0-9a1de4fcbb2b.png)

[2015-08-21 17:36] KevZawacki commented on #19
Thanks so much, @bellayet! This is hugely helpful.

[2015-08-21 19:33] #34 closed

[2015-08-21 22:02] cpswsg commented on #102
@vazquez  where's:
"sua !" substitute by "sua!"
"Eu entendo" substitute by "Entendi"

@IanRamosC, could you review, please?

[2015-08-21 22:47] IanRamosC commented on #102
@vazquez I think you just need to apply the changes made by @cynthiapereira and it's okay. :smile:

[2015-08-22 01:42] kelimuttu commented on #101
That's right @secretrobotron
Okay, great @vazquez!

[2015-08-22 04:28] bellayet commented on #100
It looks good to me.

I am adding @maktrix here to review the text.

[2015-08-24 14:34] #101 closed

[2015-08-24 14:35] vazquez commented on #102
Done! Thanks everyone!

[2015-08-24 14:35] #102 closed

[2015-08-25 21:24] KevZawacki commented on #19
Hi all, our video team put together a neat video about Webmaker: https://www.youtube.com/watch?v=46dYHphb2Q8

If you think this would be useful in your region, our video team can re-edit a localized version if you're able to share copy translations. Let me know!

[2015-08-25 21:24] KevZawacki commented on #47
Hi all, our video team put together a neat video about Webmaker: https://www.youtube.com/watch?v=46dYHphb2Q8

If you think this would be useful in your region, our video team can re-edit a localized version if you're able to share copy translations. Let me know!

[2015-08-25 21:24] KevZawacki commented on #79
Hi all, our video team put together a neat video about Webmaker: https://www.youtube.com/watch?v=46dYHphb2Q8

If you think this would be useful in your region, our video team can re-edit a localized version if you're able to share copy translations. Let me know!

[2015-08-25 23:20] maktrix commented on #19
Dear Kevin,

A localized version of this video is a sure thing. Do we have any
transcript? Or we just translate the text appears in white within the video?

regards
mak

On Wed, Aug 26, 2015 at 3:24 AM, Kevin Zawacki notifications@github.com
wrote:

[2015-08-26 03:34] alamanda commented on #47
Hi @KevZawacki I tried to watch the video but it says: the video has been removed by the user.
![screen shot 2015-08-26 at 10 32 50 am](https://cloud.githubusercontent.com/assets/12945788/9485021/fb0468aa-4bdd-11e5-92b7-da99f598938b.png)

[2015-08-26 12:39] KevZawacki commented on #19
Hi @maktrix,

Translating the text as it appears should do the trick.
Looks like the link to the video is no longer working, though -- let me work on getting a new link.

Thanks!

[2015-08-26 13:01] KevZawacki commented on #47
Ah, sorry about that, @alamanda! I'll track down a proper link. :blush:

[2015-08-26 16:50] KevZawacki commented on #21
So cool to see this article today: http://www.prothom-alo.com/technology/article/612757

Thanks, everyone, for the great work!

[2015-08-26 16:59] cyz commented on #83
Guys,
I'll find some posts. We have priorities for localization?

[2015-08-26 17:08] bdgeek commented on #21
:) So far tracked 9 publication and updated in the spreadsheet. hope we would more spread

[2015-08-26 17:23] KevZawacki commented on #21
@bdgeek Excellent! :smile:

[2015-08-26 17:37] KevZawacki commented on #47
Hey @alamanda, here's the latest video: https://www.youtube.com/watch?v=hwprnE6ySsE&feature=youtu.be

[2015-08-26 17:38] KevZawacki commented on #19
Hi @maktrix, here's the latest link: https://www.youtube.com/watch?v=hwprnE6ySsE&feature=youtu.be

[2015-08-26 17:55] KevZawacki commented on #83
Thanks @cyz. Feel free to localize whichever ones seem best!

Are you able to post on https://twitter.com/mozillabrasil and https://www.facebook.com/mozillabrasil?_rdr=p?

[2015-08-26 19:22] KevZawacki commented on #21
Hey @bdgeek, I just read through all the coverage. Really, really amazing work! Thank you! :fireworks:

[2015-08-27 17:07] cyz commented on #83
Hi @KevZawacki!
Ok, I'll locate pending posts. Yes, I can post in Mozilla Brasil.

[2015-08-27 19:31] KevZawacki commented on #37
Hi @maktrix, we're seeing a huge increase in Webmaker downloads in Bangladesh, thanks to the PR work you guys have done. :fireworks: The [Prothom Alo](http://www.prothom-alo.com/technology/article/612757) story was a huge success.

I think we can capitalize on the momentum by sharing the news on Twitter.com/MozillaBD and Facebook.com/MozillaBD. What do you think?

[2015-08-27 20:24] lauradereynal commented on #37
Hey folks,  I'm joingning Kevin to thank you all for your great efforts :) we are seeing a lot of downloads and a lot of momentum in Bangladesh.  Thank you so much ✨

[2015-08-27 22:58] KevZawacki commented on #83
Thank you, @cyz!

[2015-08-29 15:34] bdgeek commented on #21
i found more and updated. So, total tracked 22 now.

[2015-08-31 13:20] KevZawacki commented on #21
Thanks, @bdgeek!

[2015-08-31 17:10] mmmavis commented on #93
Oops, I think we can close this ticket now!
Email on Acid is awesome! Thanks for checking with MoCo on this, @adamlofting :wink: :+1:

[2015-08-31 17:10] #93 closed

[2015-09-01 15:31] alamanda commented on #50
@secretrobotron we've been looking for you since yesterday:) did you receive any of my messages in telegram?

[2015-09-03 11:32] alamanda commented on #50
@williamq @secretrobotron please find the **fireladies** plan for surabaya in this link: https://etherpad.mozilla.org/school-visit-sub

[2015-09-05 03:46] rara79 commented on #50
@secretrobotron @williamq here's the new teaching kit for Webmaker App, using the awesome new thimble, remixed from bobby's teaching kit and my old teaching kit. Check this out: https://d157rqmxrxj6ey.cloudfront.net/rara/4349/

[2015-09-12 03:10] ashickurnoor commented on #37
Hi @KevZawacki  Can I have the vector file (ai and/or svg) of the web banner?

[2015-09-15 14:53] KevZawacki commented on #37
Hey @lovegushwa, per @ashickurnoor's request above -- do we have the vector file for [these web banners](https://www.dropbox.com/sh/0k2dty7g8abdtb0/AADIyrlM4GKs0YUhPaOndJG6a/Bangla/Web%20Banners?dl=0)?

[2015-09-15 15:46] maktrix commented on #37
@KevZawacki we also need the sticker .ai file

[2015-09-15 20:46] lovegushwa commented on #37
@KevZawacki @maktrix @SOFTowaha

Hello everyone, you can access the banner .ai and the sticker from the links. You can email me at jordan@mozilladoundation.org to get write access if you want to upload updated .png files.

Regarding type, Solaimanilipi.ttf is a beautiful choice but it's best if we stick to Noto Bengali. Currently we are using Noto in print applications, it's an extension of Open S

[2015-09-21 22:20] alamanda commented on #50
@rara79 how is our status in sending releases to the press? It's -7days to the day. We should make sure that many journalists show up to our event.

[2015-09-22 10:54] bolaram commented on #100
@secretrobotron  Hi, I am a Bangladeshi contributor . I review this . this text is right & looks great

[2015-09-22 11:52] KevZawacki commented on #50
@alamanda @rara79 If I can help at all with press releases / etc., please let me know!
Also, FYI, we are still waiting to hear back from XM Gravity and Juara Agency.

[2015-09-22 13:30] vazquez commented on #100
Thanks @bolaram!

[2015-09-22 13:30] #100 closed

[2015-09-22 16:34] andi-belutz commented on #50
@KevZawacki who do you contact in XMGravity?

[2015-09-22 17:16] bolaram commented on #100
Welcome @vazquez

[2015-09-22 17:48] KevZawacki commented on #50
@andi-belutz I emailed their general mailbox (info@xmgravity.com ), but haven't heard back. Do you have a specific contact I can reach out to?

[2015-09-22 18:12] andi-belutz commented on #50
@KevZawacki I will ask around, will have the answer for you by tomorrow

[2015-09-22 19:28] rara79 commented on #50
@KevZawacki same question with andi but different subject, who do you contact in Juara Agency?

[2015-09-22 20:56] KevZawacki commented on #50
Hi @rara79, I contacted them through [the form on their website](http://juara-agency.com/contact/), and also emailed admin@juara-agency.com. Do you have any contacts there?

[2015-09-23 01:01] rara79 commented on #50
@KevZawacki you can contact Wiwik for Juara, her emails are wiwik@juara-agency.com and wiwik.wae@gmail.com.

[2015-09-23 10:36] andi-belutz commented on #50
@KevZawacki for XM Gravity you can email Dimas Novriandi at dimas.novriandi@mirumagency.com and cc the email to Deden Purnamahadi at deden.purnamahadi@mirumagency.com
For addition, you can also contact Provetic (www.provetic.com) at nunik99@provetic.com

[2015-09-23 13:46] KevZawacki commented on #50
Thank you, @rara79 and @andi-belutz. I'm emailing now, and will update this ticket when I hear back.

[2015-09-23 14:00] andi-belutz commented on #50
@KevZawacki please let us know if they still don't answer your email. Btw, tomorrow is public holiday in Indonesia, so maybe you will get answer from them by Friday. But for XM and Provetic, I already give them a heads up. So if you done emailing them, you can ping me and I can ping them. Also I can help ping Wiwik from Juara, I know her also :)

[2015-09-23 14:02] KevZawacki commented on #50
Great! Yes, I've just sent the emails -- OK to ping. :-)

[2015-09-23 14:36] andi-belutz commented on #50
@KevZawacki I have ping all of them, 2 have responded to me. While waiting their formal reply to your email, let me recap our informal chat:
- XM Gravity
  Dimas said that what you requested is not their company scope of work, they are more into integrated digital marketing while what you requested is more like a work for PR Agency. So I ask him, what PR Agency that he recommend, and he recommend

[2015-09-23 18:55] KevZawacki commented on #50
Thanks, @andi-belutz!

[2015-09-24 05:39] rara79 commented on #50
@KevZawacki, I got a word from Wiwik (Juara Agency) that she already got your email and already reply to you, too. That's all :)

[2015-09-24 05:40] rara79 commented on #50
September 29th event:
Eventbrite URL: https://www.eventbrite.com/e/webmaker-app-party-tickets-18728634851
Reps event URL: https://reps.mozilla.org/e/webmaker-app-party/
@secretrobotron @HPaulJohnson @williamq

[2015-09-24 13:29] KevZawacki commented on #50
@rara79 I did! We're going to chat after the holiday :-)

[2015-09-25 19:31] KevZawacki commented on #50
Hi all, here's an update on our PR agency outreach:
- Provetic -- available to help. I've shared additional information about our Webmaker work in Indonesia, and am waiting to hear back re: campaign suggestions and rates
- Juara Agency -- closed for the holiday, and will provide campaign suggestions and rate card on Monday
- Mirium -- does not specialize in PR
- Burson-Marsteller -- has Opera as a

[2015-09-27 08:30] rara79 commented on #50
@KevZawacki can you help us to make a QA list for us. A list something like Anticipated Q&A from media, what to answer. Also if you can give us a document of facts about Webmaker App. These documents may help us to prepare face the media.

If you can do it, please send us before Tuesday Sept 29th, Jakarta time :) Thank you!

[2015-09-28 14:01] KevZawacki commented on #50
@rara79 Absolutely! I've put together a document, [here](https://docs.google.com/document/d/1_1NCKKERveaw0dkAyek7TugClEHeIBievs0CBF-mf8U/edit), with lots of information and answers. Please let me know if/how I can update it further.

[2015-09-28 19:25] rara79 commented on #50
@KevZawacki this is perfect! Thank you so much!

[2015-09-29 09:48] alamanda commented on #50
Thank you so much for compiling this together, Kevin! It's super helpful:)
Wish us luck for tonight. I hope many media show up.

cheers!

[2015-10-01 13:42] KevZawacki commented on #50
@rara79 @alamanda Hey, have you guys spotted any press coverage from Tuesday's event?

PS -- Check out the social media results [here](https://docs.google.com/document/d/1LbntletzsdOi6TWw6xqWRKUT1BLu2JWxshCVPAcMnVY/edit). Nice work! :smile:

[2016-01-05 00:24] #33 closed

[2016-01-05 00:24] #42 closed

[2016-01-05 00:24] #43 closed