[2015-05-26 23:02] LauraReynal opened #1 "Create Marketing Mad Lib"
1- Create the different marketing Mad libs
2 - Make them cool

@hpauljohnson @secretrobotron

[2015-05-26 23:08] lauradereynal commented on #1
Each Mad Lib will include a
- Timeline
- Budget
- Team
- Tactics
- How you support the community
- How do you want us to support you
- Channels of communication

[2015-05-26 23:09] secretrobotron commented on #1
Need to make sure goals are crisply stated:
- Content: 50 projects
- Community: ?? members
- Marketing: ?? eyeballs
- Overall: 10000 downloads and 5000 AUs

Can likely just pull these from the playbook.

[2015-05-27 13:55] LauraReynal opened #2 "Make a wiki to track links"
Goal:
Have a *clean* space for tracking different work.

Reason: This google doc is too noisy for broad participation https://docs.google.com/document/d/1hnpXwboPWv_VLa_NiKHYDnWyIB9IjEc89adoKgOuvPY/edit#
@secretrobotron

----

Model
This is what we did - this is the link

[2015-05-27 13:57] secretrobotron opened #3 "Move this repo to mozilla org"
Need to make sure that @LauraReynal and @HPaulJohnson (and others) can contribute to this repo. I can't setup the teams on the mozilla org. Will ask @simonwex to help.

[2015-05-27 15:25] secretrobotron commented on #1
Started putting together an "overall" one here: https://etherpad.mozilla.org/webmaker-launch-campaign-template

[2015-05-27 15:28] secretrobotron commented on #1
Need to drill into the templates for the roles.

[2015-05-27 15:30] lauradereynal commented on #1
What are some ways that the activities are localized ?

From Brian : @brianking
In india, provided 6 categories.
Can you paste the india work here ?
Can you look at the pad aboved ?

@secretrobotron add SCRATCH things in the mad lib

[2015-05-29 21:05] secretrobotron opened #4 "Create paper prototype activity"
Components:
- Intro
- Brainstorm
- Paper prototype
- Put it in Webmaker

@LauraReynal has this in a google doc that we can clean up

[2015-05-29 21:06] secretrobotron opened #5 "Create on-phone creation activity"
Components:
- Instructions
- Build it incrementally in Webmaker
- ¿Share it?

@LauraReynal has this in a google doc that we can clean up

[2015-05-29 21:14] secretrobotron commented on #3
@jbuck @simonwex can I have admin rights to this repo?

[2015-05-29 21:25] secretrobotron opened #6 "Fill out content dashboard"
Add content ideas from https://docs.google.com/document/d/125EsGZkf_bRKsZQT5L3VDFYs0NMXpV9J_ce8t1S-4fo/edit to https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1Ab53yEZKTlXw47ISP1HewAcL1kOwyczsZDy9ueogURY

[2015-05-29 21:26] secretrobotron opened #7 "Create emails to hand out to partners and community for content creation"
Start: https://etherpad.mozilla.org/content-email
Should ask for ideas from https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1Ab53yEZKTlXw47ISP1HewAcL1kOwyczsZDy9ueogURY/edit?usp=drive_web

[2015-05-29 21:29] secretrobotron commented on #1
- Schedule: https://etherpad.mozilla.org/webmaker-launch-campaign-template
- Activity templates: https://docs.google.com/document/d/1jUUWLW0lw6JQXVWHcZ4KVonrunJxcYuR8rw0xUUZWDA/edit
- Activity sketch: https://docs.google.com/spreadsheets/d/1vDJJe0uaUX3pZQpycNLBd8QTA25N3f3F3s49iyHkeGE/edit#gid=1471748768

[2015-05-29 21:30] secretrobotron commented on #5
Model after http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-kraken.html

[2015-05-29 21:30] secretrobotron commented on #4
Model after http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-kraken.html

[2015-05-29 21:36] secretrobotron opened #8 "Figure out how to produce marketing deliverables"
From https://etherpad.mozilla.org/webmaker-marketing-deliverables, we need to choose which are priority and figure out how to get them made. Could be contracted, in-house, or sourced otherwise.

cc @HPaulJohnson

[2015-05-29 21:49] secretrobotron opened #9 "Create dashboards for measuring goals"
Need to be able to measure goals (e.g. https://docs.google.com/spreadsheets/d/1ey21rhw-fiRMUtiSNVncv6P9BQ1FXoAFhSuO7D5CoHw/edit#gid=153522859) and have us, launch teams, and general public (if they want...) look at how we're doing.

[2015-05-29 21:53] secretrobotron opened #10 "Finalize important dates"
##### BD
* Kickoff: June 5-6
* Snippet: ____
* Launch: July 12

##### BR
* Kickoff: June 13
* Snippet: ____
* Launch: July 11 (FISL) and July 23-26 event (Campus Party)

##### KE
* Kickoff: June ___
* Snippet: ____
* Launch: July __

##### IDN
* Kickoff: June 13-16 (William is there)
* Snippet: ____
* Launch: August 11?

##### NA
* Kickoff: N/A
* Launch: Whistler
* Snippet: ____
* Get press public

[2015-05-29 21:56] thisandagain commented on #8
cc @cassiemc @xmatthewx

[2015-05-29 21:57] secretrobotron commented on #3
Woot!

[2015-05-29 21:57] #3 closed

[2015-05-29 21:57] secretrobotron commented on #1
ToDo: Put these in a wiki for easy access.

[2015-05-29 21:58] secretrobotron commented on #9
Need to talk to @adamlofting to find out what's possible.

[2015-05-29 21:59] secretrobotron opened #11 "Blame it firmly on marketing"
cc @HPaulJohnson

[2015-05-29 22:02] lauradereynal commented on #1
Why?
Do you have a problem with etherpads?
:dance:

Sent from a mobile device.
On May 29, 2015 5:57 PM, "Bobby Richter" notifications@github.com wrote:

[2015-05-29 22:02] amirad commented on #4
yes pls.

[2015-05-29 22:03] secretrobotron commented on #1
:dancers:

[2015-05-29 22:08] lauradereynal commented on #11
Work in progress
✨ ✨

[2015-05-29 22:10] thisandagain commented on #11
lol

[2015-05-29 22:12] lauradereynal commented on #8
@cecilepompei  @benrito @APLSmith
Could you see if some are a top priority for MNos in order to have them in mind for Bangladesh?

[2015-05-30 18:27] HPaulJohnson commented on #8
I added level of priority to each deliverable in the etherpad.

1 = must have
2 = nice to have
3 = an idea, tbd whether it's necessary

I'm hoping that we do a little design and most of this is just reformatting for the different assets. @KevZawacki and I will be responsible for all copy (some deliverables are just copy).

I'll schedule a kickoff for @KevZawacki, @thisandagain, @secretrobotron, @c

[2015-05-30 18:33] HPaulJohnson commented on #11
You know how marketing is awesome, right?

https://www.youtube.com/watch?v=4YBxeDN4tbk

[2015-05-30 19:07] HPaulJohnson opened #12 "Create plan for transcational emails, SMS and notifications"
We need to have a short-term solution for transactional communications, ideally including email, SMS and notifications.

It would be okay if we need to hardcode for now rather than have them be truly trigger based when a better system is implemented.

Initial ideas for communications include:
* Welcome
* Rate us in the app store
* Tell your friends about the app
* Promoted content activity for X d

[2015-05-30 19:08] HPaulJohnson commented on #12
cc @secretrobotron

[2015-06-01 09:11] adamlofting commented on #9
:+1:

I've booked a time to talk about this on Weds.

[2015-06-01 14:07] secretrobotron commented on #9
:dancers:

[2015-06-01 14:30] secretrobotron opened #13 "Design content idea/challenge to promote activity"
* Can pull good ideas from [Content Dashboard](https://docs.google.com/spreadsheets/d/1Ab53yEZKTlXw47ISP1HewAcL1kOwyczsZDy9ueogURY/edit#gid=0).
* What does a challenge look like? Can you share it with @Webmaker to get recognition?

[2015-06-01 14:33] secretrobotron opened #14 "Design activity to promote ongoing activity"
Need to design an activity (or a few, depending on why they're not active) to reengage with inactive users.

* Why do users not stick around?
* Can we test a few options to see which gets them involved again?

[2015-06-01 14:35] xmatthewx commented on #8
This is a comprehensive list ... lots to produce. @HPaulJohnson - can you identify 3 P1s that will be fairly representative of the range of assets in terms of content elements? We can design those first, and then adapt as needed.

[2015-06-01 15:05] secretrobotron commented on #12
:+1: Good list.

Should be able to hook that up using our current system.

Probably email and push notification?

Could manifest as an email, or a push notification that drops you into a share activity from within the app.

https://github.com/mozilla/webmaker-launch/issues/14

https://github.com/mozilla/webmaker-launch/issues/13
- Need to talk to @cadecairos to file appropriate bugs.
- Push notifi

[2015-06-01 15:05] secretrobotron commented on #14
cc @LauraHilliger

[2015-06-01 15:08] secretrobotron opened #15 "Devise activities for Whistler"
Opportunity to show off Webmaker in front large representation of Mozilla and engage them to make content, test, file bugs, share ideas.

* On-stage?
* Content workshop

[2015-06-01 15:25] secretrobotron commented on #2
Done https://github.com/mozilla/webmaker-launch/wiki

Added a couple different pages to categorize stuff.

[2015-06-01 15:25] #2 closed

[2015-06-01 15:51] secretrobotron commented on #14
- More targeted asks.

[2015-06-01 16:13] xmatthewx opened #16 "Plan activities for Maker Prom"
[Maker Prom](https://www.flickr.com/photos/scholasticgoldkey/sets/72157644990314956/) is Thurs June 11th. We need 2 or 3 activities planned.

 1. quick & easy for distracted youth who buzz by the table
 2. a bit more depth for youth who want explore the app for 10 minutes of so
 3. an activity for youth who have an Android and can continue their project throughout the evening

cc @secretrobotron @

[2015-06-01 16:22] amirad commented on #16
We could even work with one activity if we're pressed for time. Bonus points if it's relatable to high school students or prom.

Also, @KevZawacki is going to come and help us manage the station! Kev - June 11th, Roosevelt Hotel at 5:30pm.

[2015-06-01 16:43] HPaulJohnson commented on #8
Yep - added list to etherpad (line 50)

[2015-06-01 17:38] xmatthewx commented on #16
Here's how I've been thinking about it.

Selfie Jam
- A single demo project by a user called Maker Prom
- We could pre-populate with pages that name cities or countries or time zones roughly arranged in the Project Map view
- People create a new page near where they live
- People snap a selfie with their new friends, maybe using props
- Add text with their name and where they're from

Bonus
- Add

[2015-06-01 18:08] secretrobotron commented on #16
If helpful, for that last category, you can pick from a list of ideas: https://docs.google.com/spreadsheets/d/1Ab53yEZKTlXw47ISP1HewAcL1kOwyczsZDy9ueogURY/edit#gid=0

[2015-06-01 18:09] secretrobotron commented on #16
You can also link out to facebook/about.me/linkedin/myspace/profile/etc. pages and the like, right?

[2015-06-01 18:12] secretrobotron commented on #7
- Email written. Getting claw and @amirad to check them over.
- Content list created and cleaned up. Will continue to add to it and check off those with good examples.

[2015-06-01 18:12] #7 closed

[2015-06-01 18:13] secretrobotron commented on #6
Done. Will continue to refine and add examples of completed projects.

[2015-06-01 18:13] #6 closed

[2015-06-01 18:16] secretrobotron commented on #1
Do you mind adding feedback from BD, @LauraReynal? Provided it went well, we can add it to the wiki as an activity for other meetups.

[2015-06-01 18:26] xmatthewx commented on #16
That feature is planned. Won't land in Beta.

[2015-06-01 18:29] xmatthewx commented on #16
@secretrobotron - can you feature a new project called Maker People? I'd like to test feasibility of an intentional layout using a ton pages.

[2015-06-01 19:24] secretrobotron commented on #16
Ah, sorry.

I don't see "Maker People". Can you make sure that update propagated properly?

[2015-06-01 21:17] secretrobotron commented on #16
Found it :). Featured.

[2015-06-01 21:32] brianking commented on #1
Here is how we split things up last year in India for the Community Engagement sessions:
https://mozcampbeta.etherpad.mozilla.org/engagement-master

When it came to the actual Firefox OS launch, this plan was built out:
https://docs.google.com/presentation/d/1sI3T1vyPXZ6Wo4can-kncdpsHiSL9jahBF1USe3fLTI/edit?usp=sharing

Results (bus tour only):
https://docs.google.com/document/d/1W-NdkJmaZDLHABW1R

[2015-06-01 21:56] secretrobotron commented on #11
"Life is not about being liked. It's about being _effective_."

I've been going about this alllllll wrong.

[2015-06-01 22:05] secretrobotron commented on #1
:+1: I think so. Thanks, @brianking.

[2015-06-02 01:07] lauradereynal commented on #11
:panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :panda_face: :space_inv

[2015-06-02 01:09] lauradereynal commented on #11
Executive Request for Emojis (ERE): a Rickshaw full of colors.

[2015-06-02 01:12] lauradereynal commented on #1
Thanks
@secretrobotron I will update after the meet up with data from BD.

[2015-06-02 08:43] APLSmith commented on #8
@LauraReynal
Will investigate. Not sure we are ready to discuss that level of detail yet

[2015-06-02 12:49] secretrobotron commented on #11
...ttthis...?

![colorful_inflatable_rainbow_tuk_tuk_car_obstacle](https://cloud.githubusercontent.com/assets/403231/7936076/4156ab3c-0904-11e5-93da-d628cd1454c0.jpg)

[2015-06-02 15:49] cecilepompei commented on #8
Could we have a marketing plan ? (or is the local community that develops
this each time?)

On Tue, Jun 2, 2015 at 9:43 AM, Alexander P L Smith <
notifications@github.com> wrote:

##

Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-06-02 16:14] secretrobotron commented on #10
Note: MozFestEA is July 17in Uganda: http://mozfestea.org/2015/

[2015-06-02 17:13] benrito commented on #8
@cecilepompei , can you clarify?

[2015-06-02 19:25] xmatthewx opened #17 "Choose a category for Play store"
Question came up today in conversation with @HPaulJohnson. Have we picked one? We will list under Social? Or a less competitive category? Does google provide analytics on [these categories](https://support.google.com/googleplay/android-developer/answer/113475) and their audiences?

cc @thisandagain

[2015-06-02 20:17] amirad commented on #16
Selfie Jam sounds cool. Would you be able to do a demo of how it will work before the event?
What do we need to make it happen?
If there is after event asks we will need to think of a way to communicate not just at the table. I.e. sign up names and send them info afterwards or have cut-out info for people to grab.

[2015-06-02 20:35] thisandagain commented on #17
Good question. They don't, but [App Annie](https://www.appannie.com) and a few other services do. Social is _incredibly_ competitive FWIW ... we may want to look at "Tools".

[2015-06-02 20:52] secretrobotron commented on #10
How critical is it that someone is at each launch event?

[2015-06-02 21:12] xmatthewx commented on #17
Looks like you can change the category later with some latency. Here's a shorter list of options:

Social
Tools
Productivity
Lifestyle
Entertainment
Education
Communications

[2015-06-02 21:30] HPaulJohnson commented on #17
I have a few friends over at App Annie so I have a question into them about any intelligence around this that could help us make a decision. I'll have a better update shortly.

[2015-06-02 21:57] ldecoursy commented on #16
@xmatthewx Were you able to get it working on the Nexus tablet, or confirm if your team has a few Android phones to use?

[2015-06-03 15:27] secretrobotron commented on #9
For community:
- See if @LauraReynal can encourage community to be specific about how they're going to record progress toward goals

For overall:
- Adam is going to fix up metrics.webmaker.org to show # of users/project by region
- Make sure app has events hooked up for logging in, starting new project, sharing a project, viewing a project
  - https://github.com/mozilla/webmaker-android/issues/207

[2015-06-03 18:44] secretrobotron commented on #8
Relevant: https://github.com/MozillaFoundation/plan/issues/474

[2015-06-04 11:59] LauraHilliger commented on #14
Some ideas:

1) would be cool to encourage people to make the longest story ever – how many pages does the longest story have?
2) people <3 to talk about themselves, maybe [A Story of Self](http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session03-storyofus.html)
3) Might also try choose your own adventure – that's gone over really well in the past:
https://eatable-current-15.webm

[2015-06-04 12:01] LauraHilliger commented on #13
just put a challenge idea about the longest story in #14

[2015-06-04 12:04] LauraHilliger commented on #4
We have loads of paper prototyping activities, maybe I can help you find something appropriate with a little more information? @LauraReynal wanna share that doc and I'll point you stuff that needs minimal (if any) remix?

[2015-06-04 19:08] vazquez commented on #11
Paul's hair is beautiful, and that is unacceptable.

[2015-06-04 19:14] secretrobotron commented on #10
Ramadan is [June 18th to July 16th](http://en.wikipedia.org/wiki/Ramadan_%28calendar_month%29#Timing). Impacts KE, IDN, and BD.

[2015-06-04 19:20] benrito commented on #10
Could impact positively—inquire with Natalia in Firefox org to understand how a Ramadan launch window could be advantageous

[2015-06-05 14:25] adamlofting commented on #9
Here's a quick fix using GA data:
- https://mozillafoundation.geckoboard.com/dashboards/9D4FB715343B2AE5

This is showing the number of 'Unique Visitors' to the app by Country. Once we have login shipped and some more events instrumented we can filter this down to just those who create and account and login if we want.

But in the current format, this is a pretty good equivalent measure to number

[2015-06-05 16:13] cecilepompei commented on #8
I am thinking of designing what a marketing plan would look like with a
list of things that could happen ideally in terms of above the line
campaign and below the line campaign so MNOs could just get inspired ?
Could try and do that next week

On Wed, Jun 3, 2015 at 7:44 PM, Bobby Richter notifications@github.com
wrote:

##

Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-06-05 16:55] HPaulJohnson commented on #8
@cecilepompei we have a marketing plan and we can discuss at our meeting on Monday. It may just be a format issue and we need to understand the specific deliverable/package you need for MNO's.

[2015-06-05 18:36] secretrobotron commented on #8
cc @edrushka

[2015-06-05 22:45] xmatthewx commented on #16
We should be good with Nexus 7. I will try a bit more this weekend.

If you try the app, in Discover you will see a project called Maker People.  Let's all try to add ourselves to it as a test. I've arranged by time zone. Will this be US or global youth?

We will probably need Bobby to reassign author now that login is in place. (hence the bug about demo@ user).

[2015-06-06 05:14] LauraReynal opened #19 "Bangladesh GTM - Localize Webmaker App in Bangla"
Goal: Localize webmaker for Android in Bangla

Date: ideally before launch, but needs information to estimate time of completion.

Team:  @bellayet @tapuafrad
cc : @secretrobotron

[2015-06-06 05:15] lauradereynal commented on #19
tracking also here https://github.com/mozilla/webmaker-android/issues/2002

[2015-06-06 05:17] lauradereynal commented on #19
Team plan for localization sprint is here https://bd.etherpad.mozilla.org/localization

[2015-06-06 05:55] LauraReynal opened #20 "Bangladesh GTM - Content Team"
Goal: Create Bangladeshi Content on Webmaker.

Team : @Maliha-Momtaz-Islam @bdgeek @hossainalikram @pinktanha @aniruddha-adhikary @r-i-nahian

Plan: https://bd.etherpad.mozilla.org/content

- [ ] During the meet-up, the team makes a plan and shares it on the etherpad

Milestones:
- [ ] Workshop on the Tuesday 9th to create content with the community - Afternoon - @LauraReynal
- [ ] Workshop 1 on t

[2015-06-06 06:05] LauraReynal opened #21 "Bangladesh GTM - Public Relations and Newspaper team"
*Goal*: Get 20 stories in the newspapers + mentions on radio

Team: @hossainalikram @bdgeek @pinktanha

Plan from the team is visible here;

https://bd.etherpad.mozilla.org/pr

[2015-06-06 06:24] LauraReynal opened #22 "Bangladesh GTM - Curriculum test"
Team : @jaggedzak @asif21 @smamir-tuhin @srdesh @Amena-Islam @gauthraj

Goal : Test 3 units of curriculum during the week of the 8th -12th and improve the curriculum for Bangladesh

Pad : https://bd.etherpad.mozilla.org/curriculum

[2015-06-06 06:29] lauradereynal commented on #22
Draft curriculum waiting for an update by monday https://docs.google.com/document/d/1InFeyRmkFNWVWuimD1Ayu6tRMUr7ZgE7eJx0nkL0uGk/edit?usp=sharing

[2015-06-06 06:46] srdesh commented on #22
Team timing https://docs.google.com/document/d/1ZQQxXaiC1x47Ho1alum9zd9U8GF-OWJUPUEeXUVsA4g/edit?usp=sharing

[2015-06-06 06:52] LauraReynal opened #23 "Bangladesh GTM - MNO research"
Goal: Conduct some quick street research to understand how students perceive different MNO packages and marketing.

Team: @istiaqueahmed @afrinrahman @farahnsadik

[2015-06-06 06:53] lauradereynal commented on #23
https://bd.etherpad.mozilla.org/MNOS

[2015-06-06 06:55] lauradereynal commented on #23
We will conduct quick interviews with @afrinrahman on campus -

[2015-06-06 07:04] LauraReynal opened #24 "Bangladesh GTM - Partnership team"
Goal : Create programs and activities with partners in Bangaldesh
Team : @orvi2014 @shriyad @atiqueahmedziad

Plan:
https://bd.etherpad.mozilla.org/partners

[2015-06-06 07:12] LauraReynal opened #25 "Bangladesh GTM - Street events Team"
TBD

[2015-06-06 08:26] lauradereynal commented on #21
Needs coms information / press package from us cc / @HPaulJohnson @secretrobotron

[2015-06-06 10:01] LauraReynal opened #26 "Bangladesh GTM - Celebrities endorsement"
Team : @SOFTtowaha
Goal : Get 2 celebrities endorsement for Webmaker

[2015-06-06 10:06] LauraReynal opened #27 "Bangladesh GTM - Webmaker Tutorials"

[2015-06-07 21:31] SOFTowaha commented on #26
Planning pad: https://bd.etherpad.mozilla.org/celebrities

[2015-06-08 03:25] lauradereynal commented on #20
Linked with
 https://github.com/mozilla/webmaker-launch/issues/13
https://github.com/mozilla/webmaker-launch/issues/5
https://github.com/mozilla/webmaker-launch/issues/4

[2015-06-08 03:33] lauradereynal commented on #22
I added comments on the pad - line 108 - things to figure out by the end of the day ?
Also, feel free to invite more Mozillians for these 3 testing sessions.
:dancers:

[2015-06-08 03:36] LauraReynal opened #28 "Document localization process"
Proposition :  Meet with localization team in BD in order to understand the following questions.

cc / @secretrobotron do you have a list of questions / desires for this activity ?

1. What is difficult / what is easy ?
2. How could we improve the process / make it easier for you ?
3. Which is your preferred software and why ?
4. Can we do a screen cast of the experience ?

[2015-06-08 06:23] lauradereynal commented on #23
Hey guys, take a look at the etherpad, I updated it with questions to answer. thanks  ! :question: :grey_exclamation: :grey_question:

[2015-06-08 06:29] LauraReynal opened #29 "Refine GTM strategy & playboook"
Goal: Given observations from Bangladesh, refine the playbook and the way we approach GTM with the community.

Team: @secretrobotron @HPaulJohnson

[2015-06-08 14:09] secretrobotron commented on #28
I'd say number 4 would be excellent, especially if it can be done with Webmaker (which should work soon, but not yet).

Maybe, also,
- How much do you rely on communities of localizers, like Transifex?
- Have you had any localization experience in the past?
- Can you describe the best way to work with a team of developers and designers?
  - What is the preferred frequency for string updates?

[2015-06-08 14:45] amirad commented on #16
Youth will be from all around US

[2015-06-08 14:59] secretrobotron commented on #16
Can do. Just ping me when it's in there.

[2015-06-08 18:49] secretrobotron opened #30 "Find out what info printers need in regions to make assets"
* Do they have templates we need to fill out?
* What things can't they print?

[2015-06-08 19:30] secretrobotron commented on #30
Related to #8.

[2015-06-08 19:31] edrushka commented on #8
I've started organizing the assets here: https://docs.google.com/spreadsheets/d/1zD_pVMKIpjPR_LicXIBb-zbA1ts_L1b03MB2iszvlXE/edit#gid=1015536383

[2015-06-08 19:37] cassiemc commented on #8
Can we add a RACI? Please edit as needed.
- Driver: @edrushka
- Design lead (print): @lovegushwa
- Design lead (digital): TBD contractor (I am reaching out to one today & filing bug to get the contract made up)
- Copy lead: @KevZawacki
- Consulted: @HPaulJohnson, @secretrobotron, @vazquez to ensure consistency with other Webmaker design, @thisandagain
- QA: @cassiemc to help manage contractor (I s

[2015-06-08 19:42] secretrobotron opened #31 "Prepare for Whistler Science Fair"
- [ ] Prepare demo slides (can come from Intro deck)
- [ ] get a few Nexus 5s
 - @secretrobotron x 1
 - @k88hudson x 3
- [ ] put Webmaker on them

[2015-06-08 19:44] cassiemc commented on #8
@edrushka @HPaulJohnson @secretrobotron @lovegushwa I think it'd make sense for Jordan to lead the direction with the print work given his comfort with that medium; it would also give us more lead time to get things printed. So I will contact the contractor for creating the digital assets on that list unless I hear otherwise.

@HPaulJohnson / @edrushka When do you think we could have a design brie

[2015-06-08 19:44] edrushka commented on #8
Chelsea Novak at MoCo will be our liaison for any implementation pieces. She'll help us coordinate with the individual teams/channel owners.

[2015-06-08 19:54] secretrobotron commented on #31
Basics from @thisandagain

[2015-06-08 21:30] edrushka opened #32 "Design Core Assets for Webmaker Launch"
Driver: @edrushka
Design lead: @lovegushwa (Logo & Wordmark), @thisandagain (Identity)
QA: @cassiemc
CC: @secretrobotron @HPaulJohnson

Need the following core assets completed and delivered so we can create the print and digital assets:
- [x] Logo
- [x] Wordmark
- [x] Identity

Progress charted [here] (https://docs.google.com/spreadsheets/d/1zD_pVMKIpjPR_LicXIBb-zbA1ts_L1b03MB2iszvlXE/edit#gid=10

[2015-06-08 22:02] edrushka opened #33 "Design Printed Assets for Webmaker Launch"
Driver: @edrushka
Design lead: @lovegushwa
QA: @cassiemc
Print production coordinator: TBD (possibly Jordan)
CC: @secretrobotron @HPaulJohnson

We need the following designed, to be printed, for the Webmaker Launch in July
#### P1 Must Haves
- [ ] Posters : https://github.com/mozilla/webmaker-launch/issues/53
- [ ] Stickers
- [x] Buttons

#### P2 Nice to Haves
- [ ] Shirts
- [ ] Postcards

#### De

[2015-06-08 22:12] edrushka opened #34 "Design Digital Assets for Webmaker Launch"
Driver: @edrushka
Design lead: @jaykappa
QA: @cassiemc
CC: @secretrobotron @HPaulJohnson

These will be created using the [core assets] (https://github.com/mozilla/webmaker-launch/issues/32).
#### P1 Must Haves
- [x] ~~Snippet icon~~ <-- being done by Moco
- [x] MoFo email callout
- [x] Facebook graphic
- [x] Twitter graphic

#### P2 Nice to Haves
- [x] [Partner digital assets] (https://github.com

[2015-06-08 22:19] xmatthewx commented on #34
The value, importance, and complexity of these digital assets is higher than the print assets. Seems like we should have @lovegushwa's talent here and across the P1s to make sure that we design a consistent system that works across print and digital.

[2015-06-09 00:43] cassiemc commented on #34
@xmatthewx – Agreed that @lovegushwa should drive the work. I thought it'd be good for him to tackle print stuff first and establish styles/systems that a contractor can use, and he'll be involved in reviewing the contractor's work. It's useful to get the print stuff out first since it needs to go to production, and I actually don't see anything that complex in the P1s. If you disagree we should c

[2015-06-09 10:05] cecilepompei opened #35 "Create template training on Webmaker to support Mozillians (and other educators)"
@LauraReynal
team @secretrobotron

I have to build this for Cambodia/Rwanda - thinking to merge whats done and prepare a one pager to support Mozillians
Any already made curriculum?

[2015-06-09 10:38] lauradereynal commented on #35
Hey @cecilepompei
I'm not sure if I understand everything. I propose to clarify:
- Training on Webmaker : I think this would be tutorials on how to use Webmaker, common questions and problems.
  Example: _"Click here, then click here, then click here and magic happens. If X does not work, then you need to do XX."_
- Curriculum on Webmaker: When we talk about **"curriculum"** on Webmaker I think of

[2015-06-09 10:46] cecilepompei commented on #35
1) training on Webmaker is very valuable but @secretrobotron told me he is already working on this

What I mean here is a manual on how to train people on Webmaker.
The audience would be the educators would are teaching Webmaker
Format would be something like:
a) Discussion about local content: what do you like to share? what do you want to know? which website could help your friends, family and c

[2015-06-09 10:49] lauradereynal commented on #35
Ok. I was pretty far :smiley_cat:
I dont have anything like this prepared already.

[2015-06-09 10:53] cecilepompei commented on #35
I

On Tue, Jun 9, 2015 at 12:49 PM, Laura de Reynal notifications@github.com
wrote:

##

Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-06-09 10:54] cecilepompei commented on #35
It seems that what would help and be a good start is some prompts on local
content creation - if you have any idea of how to introduce Webmaker let me
know. I am as well prepping something

On Tue, Jun 9, 2015 at 12:53 PM, Cecile Pompei <cecile@mozillafoundation.org

##

Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-06-09 19:20] amirad commented on #16
Notes from our call today:

Activity
•Take a selfie and tag it to your city. Add a button and link to your friends profile.
•During Maker Prom, download the app and document the event, share your work and share your NYC experience

To complete tomorrow
•Update Nexus devices in the office
•Divide up tablets to bring to the event
•Prepare and print small pieces of paper with the Webmaker App downloa

[2015-06-09 19:20] xmatthewx commented on #16
@secretrobotron @amirad @KevZawacki @vazquez @ldecoursy - add yourself to the demo project if you haven't already. Check your email for username info.

make a page. add a photo, name, and where you're from.

[2015-06-10 13:19] lauradereynal commented on #29
Paul added slide about Webmaker 's transition  :white_check_mark:
Next, I propose to remove the last part of "perks of being a Webmaker volunteer" and to deal with honorariums on a per-country need assessment.
@HPaulJohnson any thoughts ?

[2015-06-10 13:21] lauradereynal commented on #30
I think the 3 colors of Bangladesh, Brazil and Indonesia go very well together. It's a nice rainbow
:rainbow:

[2015-06-10 13:54] lauradereynal commented on #23
I made a very first draft for a quick marketing interview with our target audience
https://docs.google.com/document/d/1F4sIRNZu22JBJ9lChgvYdP9szBerGYi-lpkK4HUoIPI/edit

=> @HPaulJohnson @secretrobotron can you have a quick look ? It's not a survey - but an interview guide if Mozillians do it without me.

=> @istiaqueahamed @afrinrahman let me know if anything is unclear and feel free to comment on

[2015-06-10 17:37] HPaulJohnson commented on #29
works for me. (deleted "honorariums" from perks section.)

[2015-06-10 22:35] xmatthewx commented on #16
I made a couple quick sheets to print and slice for people to take. 2 pages. Nothing fancy.
https://www.dropbox.com/s/iy5cqinebu0urqr/Webmaker%20Event%20Info.pdf?dl=0

Any edits?

@vazquez or @lovegushwa - can you drop vectors into this Sketch file? 3 pages. https://www.dropbox.com/s/o8qnhzlp4lx0dif/Webmaker%20Event%20Info.sketch?dl=0

[2015-06-10 23:06] amirad commented on #16
These look great! LMK if you need help printing and cutting for tomorrow

[2015-06-11 01:21] vazquez commented on #16
@xmatthewx - I don't have the final logo on my home computer. I'll get to this first thing in the morning.

ps. Very nit-picky edit would be to increase the kerning to `0.2` especially in the Webmaker Info artboard; it makes for a clearer read with small type.

[2015-06-11 01:40] lauradereynal commented on #19
Laura to do :
After friday, ask the team about localization strings

[2015-06-11 02:09] LauraReynal opened #36 "Create a set of marketing messages that I could test in Bangladesh"
@HPaulJohnson would you be able to create ~5 marketing messages that we could test in real life here ?
Example :
- Share the things you love
vs
- Make the web in Bangla
...
we could see what resonates most with our audience

[2015-06-11 02:31] lauradereynal commented on #21
Folks, I hope you are well since the meet-up. We would love your help on PR.
@KevZawacki has a specific question for you, we would love if you could help us list News papers and perhaps find an agency we could all work with for PR ?

[2015-06-11 13:24] vazquez commented on #16
@xmatthewx - Here is the Sketch file with vector logo in place.

https://dl.dropboxusercontent.com/u/43783651/Mozilla/Android/Webmaker%20Event%20Info.sketch.zip

[2015-06-11 14:14] secretrobotron commented on #31
Signed up @adamlofting and @k88hudson to help :).

[2015-06-11 14:38] k88hudson commented on #31
Note, I have nexus 4s, not 5s

[2015-06-11 16:23] HPaulJohnson commented on #36
@LauraReynal yes! working on a key messaging doc today so that should get you started. I'm hoping by early next week we can also provide some ealry mockups of actual ads for you to get some quick feedback on.

[2015-06-11 16:52] lauradereynal commented on #36
Ping @edrushka this bug is related to your question from earlier email

[2015-06-11 18:58] secretrobotron commented on #31
@k88hudson :+1: should be fine

@thisandagain do you have a phone you can spare too?

[2015-06-12 06:57] lauradereynal commented on #21
@pinktanha Let me introduce you to @HPaulJohnson @edrushka

Folks, This team and especially @pinktanha has questions about our PR goals. Tanha has contacts and will be able to help.

@pinktanha, can you please list your questions here ?

[2015-06-12 16:16] HPaulJohnson opened #37 "GTM - Social Media Team"
@LauraReynal do we have any community members who are social media superstars?

[2015-06-12 17:09] xmatthewx opened #38 "Update Webmaker logo on other Moz sites etc"
step 1 - gather a list of destionations

[2015-06-12 17:24] edrushka commented on #38
@kevzawacki, do you have a list of channels that we could check to see where the logo is present?

[2015-06-12 17:24] edrushka commented on #38
@xmatthewx we should assign this to someone with channel access. Maybe Kevin? Any ideas @HPaulJohnson?

[2015-06-12 17:28] HPaulJohnson commented on #38
No list like this exists and an audit will need to be done to create one. We'll then need some resources to go through and make this update.

[2015-06-12 17:31] edrushka commented on #38
Agree. This is probably quite a significant task. @xmatthewx do you want to file a ticket in /plan so we can resource it properly?

[2015-06-12 17:33] HPaulJohnson commented on #38
Started a spreadsheet here that anyone can/should add to as they come across the logo. I likely won't have time to dedicate to this until next week:

https://docs.google.com/a/mozilla.com/spreadsheets/d/19v3SW-oX68t4R8uZ9NMkRS36beyKAXIzHS0d3zgU26I/edit?usp=sharing

[2015-06-12 17:54] KevZawacki commented on #21
Hi all,

Our guide for local Webmaker PR can be found here: https://goo.gl/iwIrcG

Please let me know if you have any questions!

[2015-06-12 17:56] KevZawacki commented on #37
When we track down our superstars, here's their guidebook: https://goo.gl/T2IcQt

[2015-06-12 17:59] HPaulJohnson commented on #25
Here is a marketing guide for both informal and formal events: https://docs.google.com/document/d/1mtbKi2sK6xek6m95fGvfZVLsSRl0u9ohvmwTUsI31NY/edit

[2015-06-12 18:10] secretrobotron commented on #21
:+1: super cool. Can we put that in the wiki for easier finding/access.

[2015-06-12 18:37] KevZawacki commented on #38
@HPaulJohnson Thanks for the spreadsheet. I can start auditing next week, too.

[2015-06-12 18:49] edrushka opened #39 "Edit shortlink to point to playstore"
Assigned to @kevzawacki

When the app is available for download, edit the mzl.la shortlink to point directly to the Play Store.

It's currently: https://beta.webmaker.org/#/
Edit to point to: https://play.google.com/store/apps/details?id=org.mozilla.webmaker

cc @HPaulJohnson @secretrobotron @thisandagain

[2015-06-12 19:04] HPaulJohnson commented on #39
I think we'll need country specific short-links for localized marketing assets. For now they can all point to the same play.google.com link and as locale-specific instances of the app show up we can update the links. Make sense?

[2015-06-12 19:27] HPaulJohnson commented on #21
All have been added to the wiki

[2015-06-12 19:40] KevZawacki commented on #39
Sounds good

[2015-06-12 19:44] cassiemc commented on #34
The contractor, Jay of [Brand Muller](http://brandmuller.com/), and contract are in place! Ready to start work on Tuesday. We'll be looking for at least one finalized print asset from @lovegushwa by EOD Monday so we can have a kickoff and get Jay started on Tuesday.

cc @edrushka @thisandagain @secretrobotron @HPaulJohnson @xmatthewx

[2015-06-12 22:00] thisandagain commented on #34
Awesome. Thanks for the update!

[2015-06-13 05:30] tanhaislam commented on #21
Ok, I wanted to know how many news are going to be before the launch of the app and after the launch as in pre and post news story. And I am trying to get a PR agency asap.

[2015-06-13 06:12] lauradereynal commented on #21
Hey @pinktanha thanks for the efforts to find a PR agency.

Could you please all have a look at this document for the PR to dos ?
https://goo.gl/iwIrcG
@hossainalikram @bdgeek  do you have any questions ?
 @pinktanha

[2015-06-13 06:37] LauraReynal opened #40 "Bangladesh GTM - Figure out how to provide resources"
*Goal*: Community members are going to host workshops / events / do stuff

*Action*: need to have a clear budget for supporting these different actions and a process to implement it.
It's becoming quite urgent since people are ready to start and already asking for details.

- [x]  Decide how much we allow
- [ ]  Write up or copy a set of guidelines ( I have seen some heavy requests - these are nee

[2015-06-13 06:39] lauradereynal commented on #31
:shipit:

[2015-06-13 06:40] lauradereynal commented on #31
Should we have lower quality phones too ?
Im bringing back 2 commonly purchased phones from Bangla
and @thisandagain and @k88hudson each have a micromax from India.

[2015-06-13 07:27] shriyad commented on #24
@LauraReynal, meeting on 15th June at 7pm

[2015-06-13 13:27] orvi2014 commented on #24
@shriyad I think 8pm is the proper time though I don't have any problem at 7pm too

[2015-06-13 14:52] jaggedzak commented on #24
@orvi2014 @shriyad @atiqueahmedziad, me and Laura will meet you on Tuesday 16th, 6pm to 8pm in Banani.

[2015-06-13 14:58] jaggedzak commented on #23
@istiaqueahamed @afrinrahman @farahnsadik, me and Laura will meet you on Tuesday 16th, 6pm to 8pm in Banani.

[2015-06-13 15:31] orvi2014 commented on #24
Okay @jaggedzak

[2015-06-13 17:39] davidascher commented on #40
Sounds like the reps program might be a good way to do it if it works for
Pamela. Has @secretrobotron or @hpauljohnson talked to her yet?

If someone puts forth a budget plan I'm happy to review it.

[2015-06-15 01:29] asif21 commented on #20
Hi, @LauraReynal, me, @srdesh and  @jaggedzak want to join this team. And we are planning to do some content creation workshop as well.

[2015-06-15 02:18] lauradereynal commented on #20
That sounds great ! Thank you for joining the team - the more we get people creating content the better :small_blue_diamond: :smile_cat: :dancers:
The 3 of you have attended almost all workshops from last week so I recommend you help on-board others on the different things that are important.

---

To all :
On this document, you can find an outline of the workshops we did last week https://docs.go

[2015-06-15 03:59] lauradereynal commented on #28
@secretrobotron @alicoding
cc/ FYI @thisandagain @geroter

Had a discussion with the 3 leaders for the localization efforts in BD. I wrote the answers in this document to facilitate comments / questions : https://docs.google.com/document/d/1x2_sk2sPJ5XGhj-6hfSR9MTOIAHG8xPa34Z_YfyUjjc/edit?usp=sharing

Let us know if we need more, I'm sure @jaggedzak @bellayet @maktrix  can also provide details.
Th

[2015-06-15 10:38] lauradereynal commented on #40
Thanks @davidascher

I made a buget here with @jaggedzak based on the cost we encountered in Dhaka.
It will come to 35 USD without location rent or 55 USD with renting a cheap place we used.

@secretrobotron @HPaulJohnson do we have a bigger budget existing already somewhere ?

[2015-06-15 12:09] rosanardila commented on #40
we can certainly use the Reps program to get the money to the field.
We can probably also fund some initiatives. Let us know if you have a budget so that we can make things go smoothly.

[2015-06-15 12:31] secretrobotron commented on #19
This is on the last of things to do before hit launch 1.0 (June 19). Let's try to get it addressed within the next heartbeat.

[2015-06-15 13:45] anistuhin commented on #25
Hi Laura, we created this pad primarily for this team https://bd.etherpad.mozilla.org/streetevents

[2015-06-15 14:45] KevZawacki commented on #39
The http://mzl.la/webmaker shortlink now redirects to the Google Play Store. Give it a try -- let me know if you experience any issues.

[2015-06-15 14:53] secretrobotron commented on #39
:+1: looks good!

[2015-06-15 15:05] edrushka commented on #39
:star2: Thanks Kevin!

[2015-06-15 15:05] #39 closed

[2015-06-15 15:28] secretrobotron commented on #31
@LauraReynal :+1: those will be cool for people to try out. I'll track down @k88hudson for the micromax.

[2015-06-15 15:34] thisandagain commented on #31
Sure! I've got a Nexus 4 I will bring and a _ton_ of lower-end and older Android devices.

[2015-06-15 15:35] lauradereynal commented on #31
Me too I now have 4 phones from Bangladesh from 45 - 100 USD

[2015-06-15 18:03] bellayet commented on #19
To translate the strings we need the strings in a translation tool like Pootle or Transifex.

[2015-06-15 18:28] KevZawacki commented on #38
Spreadsheet updated with additional sites using the old logo:

https://docs.google.com/spreadsheets/d/19v3SW-oX68t4R8uZ9NMkRS36beyKAXIzHS0d3zgU26I/edit#gid=0

[2015-06-15 18:33] xmatthewx commented on #38
nice. step 2 - swap logos starting with p1s.

[2015-06-15 18:56] maktrix commented on #19
Where are the strings residing right now? Do we have to extract strings from the source, which is complex for us. If the dev/engineer teams hosts the strings in Pootle or Transifex would be excellent for us. We can start translating right away.

[2015-06-15 19:04] thisandagain commented on #19
We are extracting all the strings this week. We'll have them up on Transifex for you by end-of-week! :smile:

[2015-06-15 20:15] KevZawacki opened #41 "GTM - Blogger team"
As part of our PR strategy laid out in #21, @HPaulJohnson and I created a guidebook for volunteers eager to blog about Webmaker on their personal websites.

The guide: https://docs.google.com/document/d/1OYov_IFXV0o5BeBlY1SOPZeoZfjO9Jp646og1ef8U8U/edit

[2015-06-15 20:16] KevZawacki commented on #21
We've also created a guidebook for volunteers who would like to blog about Webmaker on their personal websites — see #41

[2015-06-15 20:31] edrushka opened #42 "Print assets for launch"
Driver: @edrushka
Designer: @lovegushwa
Signoff: @HPaulJohnson
CC'd: @secretrobotron @benrito @LauraReynal

[Here are the assets we're printing] (https://docs.google.com/spreadsheets/d/1zD_pVMKIpjPR_LicXIBb-zbA1ts_L1b03MB2iszvlXE/edit#gid=396925387). Jordan, please add the print specs and we'll update this ticket with quotes as they come in.

[2015-06-15 21:01] secretrobotron commented on #37
@LauraReynal are there some people on the launch team that can help out with this? Who owns social media channels already?

[2015-06-15 21:03] secretrobotron commented on #37
@KevZawacki and @HPaulJohnson will create a content calendar to get this going.

[2015-06-15 21:05] secretrobotron commented on #40
@HPaulJohnson is creating a budget we can follow. Stay tuned.

We'll use the reps program if we can. It's great.

[2015-06-15 21:44] lovegushwa commented on #42
Hi All, You can pull up the print specifications in this etherpad:
https://etherpad.mozilla.org/JopE4UtXDi

I'm working on one quote in Portland but need to bring in a few more if possible.

[2015-06-15 22:50] HPaulJohnson commented on #41
We should also encourage blogging on other popular local sites that might have more traffic and we'll can also curate the best of these to promote on the our own channels, like the main webmaker blog.

[2015-06-15 23:37] edrushka commented on #39
@lovegushwa here's the shortlink

[2015-06-15 23:43] HPaulJohnson commented on #37
@KevZawacki we already have a contact for Facebook and Twitter in BD.  Once we have the content we should just reach out directly to them unless additional volunteers emerge.

[2015-06-15 23:47] HPaulJohnson commented on #36
@LauraReynal we likely won't have any of the more fully developed creative assets until later in the week. Is the key message doc that I sent last week sufficient? Otherwise, we can mock up some additional headlines/ads just so you can get feedback while you are there.

[2015-06-16 00:17] edrushka commented on #32
This work is done! Nice job, Jordan and team!

[2015-06-16 00:17] #32 closed

[2015-06-16 00:22] HPaulJohnson commented on #26
@SOFTowaha Thanks for this. I left a few questions and comments in the pad.

I think the next, best step might be to create a list of the most influential people on social media that we might want to reach out to. They don't have to be celebrities but should have lots of followers.

Overall, I think this should be part of a bigger social media strategy which we are tracking over here https://githu

[2015-06-16 00:23] edrushka opened #43 "Create digital assets kit for partners"
Driver @edrushka
Copy @kevzawacki
Design: @jaykappa
QA: @cassiemc & @lovegushwa
Signoff @HPaulJohnson

Need to create content for a digital partners kit. [This one from Maker Party] (https://docs.google.com/document/d/1O7BJf63vPjNLLV8GWXB_xs2ZF7IdPnAMm4uktEGKHMc/edit) is a good template.

We need partner-facing
- [ ] Intro on how to use the kit
- [ ] Sample blog post
- [ ] Sample social media

@ke

[2015-06-16 00:29] lauradereynal commented on #26
@SOFTowaha I agree with @HPaulJohnson that we should work with the social media team. Im closing this issue then, and adding you to the other one.

[2015-06-16 00:30] #26 closed

[2015-06-16 00:33] lauradereynal commented on #37
Welcome to new member @SOFTowaha who was working on https://bd.etherpad.mozilla.org/celebrities

As @HPaulJohnson suggested, could you guys start by making a list of the most popular social media account in Bangladesh ? We are looking for people who have lots of followers on Facebook, instagram, twitter, youtube ... any famous Bangladeshi youtuber ?

I propose that you start with a spreadsheet wit

[2015-06-16 00:42] HPaulJohnson commented on #25
@anistuhin awesome work here. I really like the idea and added a few questions and comments to the etherpad.

I'm hoping we can do these few events as a test, find out what works and then do more of them in the coming months. So as many different types of venues/locations the better to understand what is most effective.

One idea is to use the app as a "virtual" photo booth and encourage people to

[2015-06-16 00:55] HPaulJohnson commented on #24
Great stuff here. Left a few questions and comments in the etherpad.

Looks like there is a list of partners to start with, so what's the next step to actually contact them and gauge interest?

[2015-06-16 01:04] HPaulJohnson commented on #21
@pinktanha this is really great.

I think the next steps are to:
- Continue to fill out the list of target media (newspaper, radio and even TV).
- Develop a proposed agenda for a press event.
- Work with @KevZawacki to start developing our media pitch that we can send out to media targets to introduce Webmaker. We should plan on sending out this pitch by July 1 if possible.

[2015-06-16 01:14] maktrix commented on #37
I've created a spreadsheet to collect Bangladesh Celebrities' information; anyone can comment on https://docs.google.com/spreadsheets/d/1lUcLp73iQDpWrde_eXAIHHypIDNlf3AIJc3GOx-pmVU/edit?usp=sharing

[2015-06-16 01:28] lauradereynal commented on #21
@pinktanha @hossainalikram @bdgeek an you make the list on a google doc spreadsheet in order to faciliate collaboration please ?
Thanks and let me know how I can help :)

[2015-06-16 01:31] lauradereynal commented on #24
I would say next steps would be
- [ ] make a list of interesting partners  - on a spreadsheet
- [ ] brainstorm about the different things we could do with them
- [ ] Prepare material and start sending communications
- [ ] Document process

@HPaulJohnson anything to add ?

[2015-06-16 01:33] lauradereynal commented on #37
@maktrix thank you this is PERFECT  -

Let's have everyone jump in and add accounts they think are important :)

[2015-06-16 01:35] lauradereynal commented on #36
the messages are already great to test,
the one with creativity is the winner
Sharing is in second position.

I have little time left here, so anything else to test, please send today :fire:

@edrushka @HPaulJohnson

[2015-06-16 01:43] maktrix commented on #37
Anyone can edit with this link: https://docs.google.com/spreadsheets/d/1lUcLp73iQDpWrde_eXAIHHypIDNlf3AIJc3GOx-pmVU/edit?usp=sharing

[2015-06-16 01:59] ariestiyansyah opened #44 "Indonesia GTM - Team 1: Webmaker Content"
Goal :
- Create 1000 projects in 60 days post launch

Team member : Yofie, Nhie, Deryan
Team pilot : Deryan

Document Plan : https://docs.google.com/document/d/1JZFnWXNrbtAjPMK0Ig4wI-aozbdI12zWUyjw3q2UaUw/edit?usp=sharing

[2015-06-16 02:01] lauradereynal commented on #41
Hey  @KevZawacki  that sounds perfect - thanks for the guide.

[2015-06-16 02:04] ariestiyansyah opened #45 "Indonesia GTM - Team 2: Webmaker Tutorials and School Presentations"
Goal:
- 1 Webmaker tutorials (per member)
- 5 school presentations (per member)
- spread posters during each school/institution visit

Team Member:
Rizky , Munif,  Diky, Eriska, Nuansa, Ginanjar, Fadhil, Agung, Elfas , Budiman,  Edginawan, Arief, Kosha, Fachrul Razy
Team Pilot: Fadhil

Document Plan:
https://docs.google.com/document/d/1oY7642i8qjQYyFf-ppELjjTmVrRjygCL6pd5DlXi20g/edit?usp=sharing

[2015-06-16 02:08] ariestiyansyah opened #46 "Indonesia GTM - Team 1: Partnerships and Celebrity Endorsement"
Goal:
- at least 1 celebrity/internet celebrity endorsement
- 3 programs with partners
- Get sponsorship/partnership for launch event
- Get sponsorship/partnership for school roadshow event

Team Member: Belutz, Kosha, Ina
Team Pilot: Ina

Document Plan: https://docs.google.com/document/d/1-1fsISvNg849kuwwwAUdRhtJa4wG_CFbWcIE2RKKGpc/edit?usp=sharing

[2015-06-16 02:10] ariestiyansyah opened #47 "Indonesia GTM - Team 4: Localization"
Goal:
- 100 percent localizations of Webmaker and Mozilla Learning site

Team Member: Fauzan, Kelimuttu, Fadhil
Team Pilot: Kelimutu

Plan: https://docs.google.com/document/d/1Gq0ZRjMKo7xdyUAdyd5kndFRxv3ULrHkDPW3PujyEdw/edit?usp=sharing

[2015-06-16 02:11] ariestiyansyah opened #48 "Indonesia GTM - Team 5: Social Media and Communications"
Goal:
- 20 newspaper/magazines/online media/blogs stories
- daily social media
- 500 posters in public
- trending topic in twitter?

Team Member: Yofie, Nhie, Deryan, Ginanjar, Ahmad Munif, Fadhil, Arief, Masset (just backing up)
Team Pilot: Nhie

[2015-06-16 02:12] ariestiyansyah opened #49 "Indonesia GTM - Team 6: Mozilla Clubs"
Goal:
- recruiting 3 regional coordinators (we have 2 already)
- creating and testing curriculum

Team Member: Ina, Eriska, Nhie, Budiman, Agung, Faizal, Fachrul Razy, Fauzan
Team Pilot: Eriska

Plan: https://docs.google.com/document/d/1nv9-F7y7txQKkb2m5IbBSvJZ67uXI_n0sEYA5wzwuDU/edit?usp=sharing

[2015-06-16 02:13] ariestiyansyah opened #50 "Indonesia GTM - Team 7: Launch Event"
Goal:
- Organize launch on the first week of August (date TBD)
- Press conference should be held in weekdays (estimated 11 - 14 August)

Team Member: Rara, Belutz, Ina, Masset, Rizky, William Quiviger, Rosana Ardila (yeay)
Team Pilot: Rara

Plan: https://docs.google.com/document/d/1tVJZfGiwAD7SGCskzi4NbJvaKzRVSqZ18nR5s8HiuTo/edit?usp=sharing

[2015-06-16 05:37] SOFTowaha commented on #37
Thanks for your questions on the pad, I have answered @HPaulJohnson ;
The guidebook will help a lot :) @KevZawacki
Thanks @LauraReynal ; Well I'm on it;
Thanks @maktrix for the spreadsheet ;

[2015-06-16 15:06] KevZawacki commented on #43
Sure, I'm on it!

[2015-06-16 17:06] edrushka commented on #43
@HPaulJohnson This should be translated, no?

[2015-06-16 20:50] xmatthewx opened #51 "Help existing Webmakers with login"
For Whistler, all MoFo staff should be aware of this to ease trouble for MoCo staff.

Problem: People with a Webmaker account need to set a password to start using the mobile app. Doing this requires a password reset that takes users from the app to the browser, but not back again (https://github.com/mozilla/id.webmaker.org/issues/289). True for users of both persona and passwordless login.

To sm

[2015-06-16 20:51] xmatthewx commented on #51
Note:
- Users with **accounts on Teach** already set passwords and will _not_ be affected.
- Users who **created an account on the alpha mobile app** will need to create a new account altogether, unless they had a prior WM account. This is likely a small set of people. We could add a second sentence that says "If you participated in alpha testing, please create a new account." ... but this might c

[2015-06-17 00:45] lovegushwa commented on #33
R? @cassiemc @HPaulJohnson @edrushka
My vote is the one that is less likely to show up at goodwill, and if it did show up at good will I would buy it.

![screen shot 2015-06-16 at 5 44 26 pm](https://cloud.githubusercontent.com/assets/12228435/8197630/5e04b4f8-144f-11e5-8896-9867e3a1f64b.png)

![screen shot 2015-06-16 at 5 32 15 pm](https://cloud.githubusercontent.com/assets/12228435/8197593/de6b9

[2015-06-17 01:04] HPaulJohnson commented on #33
+1 on the first one (assume we agree that it would be the least likely to show up at Goodwill)

[2015-06-17 01:19] HPaulJohnson commented on #51
@xmatthewx to clarify, are you suggesting we send an email to some subset of the list before Whistler? That wasn't our current plan, rather we were saving our launch communications for early July once the other channels turn on and we have lots of awesome content in the app.

[2015-06-17 01:33] cassiemc commented on #33
Yeah I like the first one better but wonder if it's slightly awkward for women. Maybe making it a bit smaller would fix? @lovegushwa @HPaulJohnson

[2015-06-17 04:36] lovegushwa commented on #33
Good call @cassiemc  maybe we can do a larger and smaller size. Can find out tomorrow.

[2015-06-17 12:07] cassiemc commented on #33
It'd be a good idea. http://geekfeminism.wikia.com/wiki/T-shirts

[2015-06-17 13:50] xmatthewx commented on #51
@HPaulJohnson - stick with your plan, I'm sure it's a great one. It'd be great if we could fit that sentence in gracefully.

I do think we should explain this bit to MoFo staff if we don't land better login error notices before whistler. I'd bet quite a few MoCos have Webmaker accounts they've used once in the distant past.

[2015-06-17 13:58] mijanurrahman commented on #33
+1 for the first Tshirt. What ll have on back side? @lovegushwa

[2015-06-17 14:24] panaggio opened #52 "Brazil GTM - Localize Webmaker"
Goal:

* Webmaker fully localized

Team:

* TBD

**This needs to be done before FISL** (chosen launch date in Brazil)

[2015-06-17 15:14] edrushka commented on #33
I'd prefer to do one design for this run. It's only 100 shirts, so we can improve the design when we print the next batch.

[2015-06-17 15:15] edrushka commented on #33
@mijanurrahman there's nothing on the back side.

[2015-06-17 15:18] edrushka commented on #33
@HPaulJohnson @cassiemc confirming you've given R+ to this [final sticker design](https://drive.google.com/drive/folders/0B4rEOP1A0tc0fklGMS15Vk41UG1rRllpTkFhdHBOajhXdk90YXFEb09aMGZpajRSU0NtXzg/0B4rEOP1A0tc0flFZXy0yWnFFcGtNUTQwblNfNjNUSC1TRnR0eDNXam5NNEQxak4zRkZlcms) before we send to print.

[2015-06-17 15:21] cassiemc commented on #33
@edrushka R+ on the sticker. We should see after this batch if we want to adjust with a heavier text weight.

Re. t-shirts, will there be multiple sizes, ladies and mens? I would prioritize a smaller logo for ladies if we can only have one implementation.

[2015-06-17 15:23] edrushka commented on #33
There will be multiple sizes (XS, S, M, L, XL) hopefully with some of the smaller sizes in 'fitted'.

[2015-06-17 15:27] cassiemc opened #53 "Design poster"
Filing this as a new issue to document and share iterations.

[2015-06-17 15:44] panaggio opened #54 "Brazil GTM - Localize teach.mozilla.org"
Goal:

* teach.mozilla.org partially/fully localized

Team: Localization

There are some stuff that are more urgent than others, and the compilation of that list is TBD.

This is limited by https://github.com/mozilla/teach.webmaker.org/issues/916

[2015-06-17 15:47] edrushka opened #55 "Assets for Whistler"
These assets are specifically for the Whistler All-Hands
driver: @edrushka

- [ ] stickers
- current status: at printers (Victoria & Portland)
- [ ] pins
- current status: at printers (Vancouver)
- [ ] t-shirts (for people demoing at Science Fair only. **Not** for staff)
- current status: at printers (Victoria)
- [ ] banner for science fair
- current status: at printers (Portland)

cc @secretrobot

[2015-06-17 15:51] edrushka commented on #55
@secretrobotron will this work for the banner?
![purple banner](https://cloud.githubusercontent.com/assets/4515662/8211936/e5982764-14cd-11e5-8d6a-b4d3788bd1eb.jpg)

[2015-06-17 16:02] panaggio opened #56 "Brazil GTM - Promote Webmaker downloads"
Goal:

* 10k downloads (by the end of the year?)

Teams: TBD

This is a meta issue, because we're going to have smaller and more focused plans to achieve a lot of downloads.

[2015-06-17 16:12] secretrobotron commented on #55
Can this be on a darker shade of blue? #65DBC8 is what @vazquez recommends based on the style guide he's producing.

[2015-06-17 16:13] panaggio opened #57 "Brazil GTM - Promote Webmaker downloads on FISL 2015"
Goal:

* 500 downloads (from 4k participants)

Team: TBD

FISL is a big event and we expect to have a lot of Webmaker presence there (@melissacd, @panaggio and @samuelmoraesf already have a few confirmed talks and more are to be confirmed).

We plan a Launch Party during FISL, and also a guerrilla action after the event.

[2015-06-17 16:13] panaggio opened #58 "Brazil GTM - Promote Webmaker downloads on Campus Party Recife 2015"
Goal:

* 200 downloads (from 4k participants)

Team: TBD

Campus Party Recife is a big event and we expect to have some Webmaker presence there (@melissacd is already confirmed to be there for a WoMoz talk, and there's a chance we'll present a Webmaker talk).

It's hard to make a lot of people give you attention at Campus Party, so we're not expecting to have as much downloads as we expect for FIS

[2015-06-17 16:13] edrushka commented on #55
@vazquez I used the purple from the colour palette 485ECC @100% opacity

[2015-06-17 16:15] panaggio opened #59 "Brazil GTM - Organize FISL's Launch Party"

[2015-06-17 16:16] panaggio opened #60 "Brazil GTM - Organize FISL's Guirrilla action at Redenção"

[2015-06-17 16:16] edrushka commented on #55
Sorry for the rush but we need to R+ this right away to get it to the printer. @cassiemc R? cc @lovegushwa

[2015-06-17 16:17] secretrobotron commented on #55
@vazquez and I are R'ing it right meow.

[2015-06-17 16:17] lovegushwa commented on #55
Hi all, will have a revised color version up in 2min.

[2015-06-17 16:21] panaggio opened #61 "Brazil GTM - Organize Guirrilla actions"
Goal:

* 12 street team events - unofficial - fun - guerrillla street style

Teams: TBD

This is a meta issue, a new issue for the organization of each guerrilla action will be created for each event.

Current planned actions:

* FISL's Guerrilla action at Redenção (https://github.com/mozilla/webmaker-launch/issues/60)

[2015-06-17 16:27] lovegushwa commented on #55
@secretrobotron @edrushka  @cassiemc @vazquez

2 different brand colors. 4D8EFF blue and 685ECC purple (The colors pulled from the Google Play store assets.)

![screen shot 2015-06-17 at 9 22 22 am](https://cloud.githubusercontent.com/assets/12228435/8212768/786441fa-14d2-11e5-881c-1dd5e3faf751.png)

![screen shot 2015-06-17 at 9 22 42 am](https://cloud.githubusercontent.com/assets/12228435/821277

[2015-06-17 16:28] vazquez commented on #55
What about using the Plum? The red really becomes vivid on top of that colour.

![feature-graphic](https://cloud.githubusercontent.com/assets/1119821/8212881/59286a7c-14ec-11e5-9add-2b6717d1cf56.png)

[2015-06-17 16:29] vazquez commented on #55
I can provide the AI file if you need it @lovegushwa

[2015-06-17 16:33] lovegushwa commented on #55
@vazquez, I like Plum ... It's part of the app pallet, we should add it to the marketing pallet. Any one have a Pantone book handy so we can nail this color in CMYK? (It will probably print dark if we use the RGB hex value.)

[2015-06-17 16:34] panaggio opened #62 "Brazil GTM - Create projects to be featured in the gallery"
Goal:

* 50 local projects featured in the gallery

Teams: TBD

Current plan is:

* announce this talks on mailing list this week
* have 20 projects by the end of next week (June 20th)
* have 30 extra projects one week after that (June 27th)

We have a few days of leverage if these goals are not fulfilled in time, but we shouldn't count on them.

**This needs to be done before FISL** (chosen launc

[2015-06-17 16:35] vazquez commented on #55
Oh gosh I don't have that :( how can I help with this?

Plum is being used in the Feature graphic and promo graphic of the Android marketing material, it's already part of the marketing palette.

[2015-06-17 16:38] vazquez commented on #55
It seems to be 38, 35, 0, 59 in CMYK

[2015-06-17 16:38] cassiemc commented on #55
The plum feels nice. @lovegushwa I'd check with the Vancouver office (@sabrinang) and maybe @vazquez you can ask around Toronto – could be in the back UX meeting room.

[2015-06-17 16:40] vazquez commented on #55
Asking FxOS Designers, hang tight.

[2015-06-17 16:42] cassiemc commented on #53
Here's a hand. What do you think @lovegushwa? I'm going to put the final assets in Drive / Launch Assets / Process / Hand. I don't have much more time to put into this today so if you need to pull it down and make any adjustments yourself, please do!
![hand-v5-13](https://cloud.githubusercontent.com/assets/1186326/8213185/2ebd62ea-14ee-11e5-9bee-44b55210f424.png)

[2015-06-17 16:43] vazquez commented on #55
FxOS Designers are missing, the back room bookshelves don't have a Pantone book. I'll keep searching.

[2015-06-17 16:44] secretrobotron commented on #55
This work? http://www.netfront.fr/Services/rgb2pantone/pantone.htm?r=65&g=68&b=104&rgb=
Looks like 5265 is closest.

[2015-06-17 16:56] panaggio opened #63 "Brazil GTM - FISL's media coverage"
Goal:

* 3 newspaper stories/blog posts about Webmaker
* 1 radio mention
* 1 feature on TV

Team: Marketing and Communication

FISL is a big event and we expect to have a lot of Webmaker presence there (@melissacd, @panaggio and @samuelmoraesf already have a few confirmed talks and more are to be confirmed).

We plan a Launch Party during FISL (#59), and also a guerrilla action after the event (#6

[2015-06-17 17:02] panaggio opened #64 "Brazil GTM - Media coverage"
Goals:

* 20 newspaper stories/blog posts about Webmaker
* 5 radio mention
* 2 feature on TV

Team: Marketing and Communication

This is kind of a meta issue, to list all the different fronts in which this is going to be achieved.

Current planned activities:

* FISL's media coverage (https://github.com/mozilla/webmaker-launch/issues/63)

[2015-06-17 17:02] lovegushwa commented on #53
@cassiemc Looking great thank you!!

[2015-06-17 17:14] lovegushwa commented on #33
Hi All, Here is an adjusted version. @cassiemc @HPaulJohnson  @edrushka
![screen shot 2015-06-17 at 10 13 00 am](https://cloud.githubusercontent.com/assets/12228435/8213806/7e3c6ccc-14d9-11e5-957f-dad88de77d3f.png)

[2015-06-17 17:20] lovegushwa commented on #55
Rad, thanks everyone. Am I clear to go ahead with this? @cassiemc @secretrobotron  @edrushka R?

![screen shot 2015-06-17 at 10 18 49 am](https://cloud.githubusercontent.com/assets/12228435/8213899/486a9d0c-14da-11e5-8c6c-37b64d2e6ee1.png)

[2015-06-17 17:20] lovegushwa commented on #55
@vazquez ^

[2015-06-17 17:21] cassiemc commented on #55
R+ from me!

[2015-06-17 17:22] edrushka commented on #55
R+ print it! :)

[2015-06-17 17:22] edrushka commented on #55
cc @jaykappa

[2015-06-17 17:23] edrushka commented on #33
cc @jaykappa

[2015-06-17 17:24] vazquez commented on #55
R++++++ :rocket:

[2015-06-17 17:25] lovegushwa commented on #55
Rad, on the way to the print shop. Thanks everyone.

[2015-06-17 17:30] panaggio opened #65 "Brazil GTM - Create Webmaker tutorials"
Goal:

* at least 5 Webmaker tutorials

Team: Content

Current plan:

* Gather ideas for tutorials for the next few weeks (until June 28th)
* Create a new tutorial each week (getting 5 in 5 weeks, until August 2nd)

[2015-06-17 17:40] panaggio opened #66 "Brazil GTM - Organize school presentations"
Goal:

* 10 school presentations by the beginning of next semester

Teams: Community, Partnerships

This is a meta issue, a new issue for the organization of each presentation will be created for each event.

Current planned presentations per region:

* São Paulo:
  * Campinas:
    * Jovem Hacker (mid-July), by @panaggio and @melissacd (TBD)
    * Escola Culto à Ciência (mid-August), by @panaggio

[2015-06-17 17:52] HPaulJohnson commented on #37
Great progress on this list. Thanks!

We'll have a more detailed social media calendar available by Friday. With that we can plan both how we will do our own posting and when the optimal timing might be for reaching out to celebrities.

I might suggest adding into the comments on the spreadsheet some creative ways we might engage. Could we post a fun piece of Webmaker content on their page that's

[2015-06-17 18:00] edrushka commented on #53
@HPaulJohnson - we need to finalize copy on this before end of day Friday (Eastern) so Cassie can sign off and we can hand over to Karen.

[2015-06-17 18:01] edrushka commented on #53
cc @jaykappa

[2015-06-17 18:04] edrushka commented on #53
@HPaulJohnson updating that deadline as cassie will be PTO beginning tomorrow afternoon. Can we get the finalized copy by EOD today? cc @kevzawacki

[2015-06-17 18:05] panaggio opened #67 "Brazil GTM - Create partner programs"
Goal:

* 10 partner programs (eg student unions, organizations...)

Teams: Community, Partnerships

This is a meta issue, a new issue for the organization of each partnership will be created for each new one.

Current partnership programs by region:

* São Paulo:
  * Campinas:
    * Jovem Hacker (collective to teach young people how to become hackers), by @panaggio and @melissacd (issue TBD)
    *

[2015-06-17 18:18] HPaulJohnson commented on #53
This design is looking good. Per our conversation last night, now that we have a design, I'd love to see a few different variations of messages in this layout and then do a lightening round of feedback from a slightly wider audience before we finalize and localize.

Here are the copy variations I sent around last night: https://etherpad.mozilla.org/webmaker-launch-poster

Is it possible to do some

[2015-06-17 18:20] edrushka commented on #53
Awesome @HPaulJohnson! Let's finalize this pad by EOD and ask @lovegushwa to mock up the best variations.

[2015-06-17 18:23] panaggio opened #68 "Brazil GTM - Organize user testing session"
Goal:

* 5 user testing sessions

Teams: QA

This is a meta issue, a new issue for the organization of each user testing session will be created later.

Current planned sessions:

* @cyz is teaching a UX course and plans to use one of the classes to do a session. More details to come

[2015-06-17 18:32] edrushka commented on #42
Update: we're  hiring a contractor to oversee the actual printing and shipping. A few quotes collected already.

[2015-06-17 18:54] HPaulJohnson commented on #53
Let's consider the pad final so we can keep moving. @lovegushwa feel free to mock up now.

[2015-06-17 19:02] cassiemc commented on #33
@lovegushwa Can you put it on a female model? I suspect it needs to be smaller yet and perhaps higher on the t-shirt.

[2015-06-17 19:23] cyz commented on #68
I'm waiting for the goals for planning.

[2015-06-17 19:35] panaggio opened #69 "Brazil GTM - First user testing session"
@cyz is teaching a UX course and plans to use one of the classes to do a session. More details to come.

We need more info on goals for this. Or, if we already have this, the plan for user testing sessions. @secretrobotron could you help us here, please? Who should we talk to?

[2015-06-17 20:49] lovegushwa commented on #53
@HPaulJohnson @edrushka  ... out sticker hunting, will send variations shortly.

[2015-06-17 20:59] cassiemc commented on #53
@lovegushwa a note – The purple shadow might be too dominant, it kinda "overshadows" the logo+copy at the bottom, ha-ha.

[2015-06-17 21:32] lovegushwa commented on #53
@HPaulJohnson @cassiemc @edrushka

Hi all, copy options posted, Also a PDF file is up on the drive.
Webmaker Launch Assets > 16 Posters - Medium (Jordan) > Webmaker-18x26-copy-options.pdf

![webmaker-18x26-01](https://cloud.githubusercontent.com/assets/12228435/8220805/0de3896e-150c-11e5-8fa6-6e3728cae3c0.jpg)
1

![webmaker-18x26-02](https://cloud.githubusercontent.com/assets/12228435/8220806/0de4

[2015-06-17 21:39] secretrobotron commented on #69
Oh, great! @cyz, when is a good time to do this in your course?

I'll catch up with @LauraReynal in a couple of days. She may already have some good pointers for you here.

[2015-06-17 23:09] lovegushwa commented on #53
^ Sorry all, a few blank art boards made it into the last comment. Just fixed it. Now using numbers for each poster to avoid confusion. Comment away.

[2015-06-17 23:52] lovegushwa commented on #33
@cassiemc R?
@HPaulJohnson @edrushka

I revised the imprint size. We can also go with more of a badge version. Let me know if were are in the ballpark.

![screen shot 2015-06-17 at 4 26 40 pm](https://cloud.githubusercontent.com/assets/12228435/8221212/528fc13c-1510-11e5-9565-b0306b89d389.png)
![screen shot 2015-06-17 at 4 49 53 pm](https://cloud.githubusercontent.com/assets/12228435/8221259/1aa15

[2015-06-17 23:54] edrushka commented on #33
Awesome, Jordan! I prefer the larger one because I like the logo but I'll leave it to  Paul to decide and Cassie to sign off.

[2015-06-18 00:12] cassiemc commented on #53
@lovegushwa I liked the shadow, it anchors the phone in space, I just thought it was too dark. Should the arm go right to the edge of the page?

@edrushka @HPaulJohnson Was it deliberate that none of the statements have periods? Feels weird not to have them on the taglines that are actually statements, and I think you could have them even on the fragments. It creates a finality to them that looks

[2015-06-18 00:15] edrushka commented on #53
@cassiemc no, not deliberate. Just rushed copywriting ;) We'll quadruple check punctuation for final version.

[2015-06-18 00:17] cassiemc commented on #33
R+ both of these. I do like that badge, but the big one feels more like it hits the marketing needs better. Thanks for the persistence @lovegushwa :)

[2015-06-18 00:18] edrushka commented on #33
@HPaulJohnson it's your call!

[2015-06-18 00:19] cassiemc commented on #42
@lovegushwa @edrushka  StickerYou is a company in Toronto that'll print stickers online. http://www.stickeryou.com/

[2015-06-18 00:21] HPaulJohnson commented on #53
Super helpful to see these in layout form. Here's my favorites, ranked:
- 6 - An app made for you, by you (feel like this one captures an essence of local pride that I like)
- 5 - Imagine the possibilities (this one probably works particularly well with some of the previous designs; more on that below)
- 1 - Discover. Create. Share (the original, still works)
- 8 - Share what you love with friends

[2015-06-18 00:28] HPaulJohnson commented on #33
Larger one is great. Save me one :)

[2015-06-18 00:41] lovegushwa commented on #33
Cool @cassiemc @HPaulJohnson @edrushka  I'll get the artwork ready!

[2015-06-18 01:32] cyz commented on #69
Hi @secretrobotron, the best date for apply user testing is 29/06 and 30/06.

[2015-06-18 04:43] lovegushwa commented on #33
@edrushka

The final layered CS5 AI file is on the drive. Also we should send over the two latest Women's, Men's comps. (all these files are in Webmaker-t-shirt-artwork.zip). The .AI should be really close to the correct size but the printer should compare with the comps and send a digital proof of the imposition. I'm sure they are pro's.
![screen shot 2015-06-17 at 9 41 59 pm](https://cloud.githu

[2015-06-18 05:07] lovegushwa commented on #53
@HPaulJohnson @cassiemc @edrushka
Tomorrow 1st thing I'm going to push the design, shadows/no shadows, texture etc, additional illustration etc. It's at a 5.5 or 6 right now, we will push it to a 10, no worries. I just need to spend some time on it. (Buttons, stickers, pins and t-shirts are finished so I can get cracking.)

[2015-06-18 05:09] HPaulJohnson commented on #53
@lovegushwa thanks! love where this is going and excited to see where we land.

[2015-06-18 12:46] cecilepompei opened #70 ""database error" message during test in Rwanda"
we had a research project on Webmaker that started on the 13th june in Rwanda
participants tried to install Webmaker from the release version and maybe of them got a "database error" message on the day and for the few days following

@secretrobotron

[2015-06-18 12:47] cecilepompei opened #71 "Offline feature needed for emerging markets"
@secretrobotron

main feedback from 60 participants in Emerging Markets

people cannot use Webmaker because it is only online so far and they generally do not have data on their phone

many people in emerging markets go to (fancy) restaurants and cafes to use the net.
 but the problem is for the ones who cannot afford frequent cups of tea (the majority) in fancy restaurants. they therefore never h

[2015-06-18 14:18] panaggio commented on #71
JTFR, I spoke with @secretrobotron in private about this and we may have the same problem in Brazil.

On the bright side of things, this is already on webmaker-android's radar:
- https://github.com/mozilla/webmaker-android/issues/2005
- https://github.com/mozilla/webmaker-android/issues/954
- maybe other issues I couldn't find.

This is critical, so maybe this label could be added to those issues

[2015-06-18 14:34] panaggio opened #72 "Brazil GTM - FISL 2015 presence"
What this will help us to achieve more awareness, because of:

* our launch party (https://github.com/mozilla/webmaker-launch/issues/59),
* our guerrilla action at Redenção (https://github.com/mozilla/webmaker-launch/issues/60)
* our talks confirmed and workshops:
  * talk: Mozilla Webmaker: Ensine e aprenda a web na sua comunidade
  * talk: Inclusão digital para uma cidade inteira com Software Li

[2015-06-18 14:38] KevZawacki commented on #43
The Webmaker Partners Kit is ready for review: https://goo.gl/SL4JMY
Drop in any and all additions and revisions!

[2015-06-18 15:14] secretrobotron commented on #71
Thanks @panaggio.

Yeah, this is definitely something the team is aware of. I'll catch up with @thisandagain to see when we'll be able to land these features.

[2015-06-18 19:04] HPaulJohnson commented on #53
Meant to add two other small comments re: the URL (mzl.la/webmaker.org).

Can we make it stand apart so that it doesn't get lost in the block of copy? It's the true CTA of this piece and want to make it as clear as possible.

I think webmaker.org is probably stronger than the mzl shortlink. I understand using the shortlink when we have less real estate but, here, seems like full URL would reinforc

[2015-06-18 21:23] lovegushwa commented on #53
@HPaulJohnson @cassiemc @edrushka  more iterations to come over the afternoon. I'll see if I can make that URL stand out a bit more. (Oh also I took a stab at the headline :)

![screen shot 2015-06-18 at 2 17 14 pm](https://cloud.githubusercontent.com/assets/12228435/8242537/f07e210e-15c4-11e5-86d2-d5088e9935bc.png)
A

![screen shot 2015-06-18 at 3 14 26 pm](https://cloud.githubusercontent.com/ass

[2015-06-18 22:45] rodrigowaters commented on #42
When will be sent to Brazil?

[2015-06-18 22:55] alamanda commented on #46
- potential celebrity to endorse: christian sugiono (model, actor, web designer, tech entrepreneur) https://en.wikipedia.org/wiki/Christian_Sugiono
- potential partner for school roadshow events: telkomsel

[2015-06-18 23:21] HPaulJohnson commented on #53
Thanks @lovegushwa. I'll wait to see the other iterations to compare and make more extensive comments.

In the mean time, I think we can just commit to a single version of the body copy. I'm obsessed with having the word download and free so let's go with this:

Webmaker lets you build original creations on your mobile device in minutes and share them with your friends. Download Webmaker for Andro

[2015-06-18 23:24] lovegushwa commented on #53
@HPaulJohnson ^
Cool, I'll keep using that version of the body copy as iterations progress.

[2015-06-18 23:27] HPaulJohnson commented on #53
Cool, I'm digging it (C in particular).

Forgot to add re: body copy. Think we should also just go with webmaker.org for URL (instead of mzl.la/webmaker).

[2015-06-18 23:42] lovegushwa commented on #53
@HPaulJohnson is the link just webmaker.org?

[2015-06-18 23:44] HPaulJohnson commented on #53
Yep. I like it because it reinforces the brand a second time. We will likely be reaching people who have never heard of us before so repetition is good. Also, I like that it is a subtle wink to internet.org

[2015-06-19 00:21] HPaulJohnson commented on #43
Nice @KevZawacki - I added a few comments/suggestions but this is very close. Going to get input from @cecilepompei tomorrow for a partnership/BD perspective.

With that input I think we can finalize (and once we get the resources in the dropbox of course). Would be nice if the final asset here was a well-designed PDF.

[2015-06-19 00:40] mfachrulrazy commented on #45
It's nice to join this team.. I will handle on East Indonesia.. of course with the help of Mozilla Reps and FSA

[2015-06-19 00:41] mfachrulrazy commented on #49
Mozilla Club Makassar.. on progress \

[2015-06-19 03:24] lovegushwa commented on #53
@HPaulJohnson @edrushka
Back at it in the morning. Tomorrow we will crack it for sure.

[2015-06-19 08:15] AgungFirdausi commented on #49
Mozilla Madura on Process

[2015-06-19 12:35] jaykappa commented on #34
![2015-webmaker-facebook_twitter-eng-v1](https://cloud.githubusercontent.com/assets/1036635/8253424/9ec57a1c-165d-11e5-89ab-ec99ae0ad612.png)

![2015-webmaker-facebook_twitter-eng-v2](https://cloud.githubusercontent.com/assets/1036635/8253427/a60a0568-165d-11e5-958a-41ab1063289d.png)

The reason why I've combined everything for this initial presentation is because of how similar the Twitter and Fa

[2015-06-19 14:12] KevZawacki commented on #43
Thanks, @HPaulJohnson -- I've just updated the doc per your suggestions.

[2015-06-19 14:43] bellayet commented on #37
Hello, I would like to help on social media issue, Please add or share me the necessary documents.

@HPaulJohnson @KevZawacki @LauraReynal

[2015-06-19 14:55] fauzanalfi commented on #47
@secretrobotron:
Here, I want to explain more why we would like to do remote and on-site L10n hackathon.
First, we want to make on-site L10n hackathon is 'a celebration' to people's participation to Webmaker launch project. When all participants are reaching the goal of 100% localized material, they will feel achieving something in this project. We want them to get those feeling, not just to have

[2015-06-19 15:01] secretrobotron commented on #44
Some more content ideas: https://etherpad.mozilla.org/8LtQGBkY6A

_Note: we should add these to the content dashboard: https://docs.google.com/spreadsheets/d/1Ab53yEZKTlXw47ISP1HewAcL1kOwyczsZDy9ueogURY/edit#gid=0_

[2015-06-19 15:03] yofiesetiawan commented on #44
Timeline
1. Gather list of schools and campus we can visit
2. Create awesome local contents for ideas
3. Run events on school and campus visits, and also promoting our big launch event
4. Run big launch event

What we need:
1. Proposal Letter format for schools and campus
2. Swags

Content Ideas:
1. Comic - build partnership with communities like comic illustrators
2. Personality Test
3. Scrapbook

[2015-06-19 15:13] secretrobotron commented on #44
@yofiesetiawan @deryanEM are you hoping to build partnerships with illustrators by visiting campuses? Or do you have another plan for approaching them?

[2015-06-19 17:34] edrushka commented on #43
@jaykappa is also going to do some research to see if there are other good examples of this, and if there are other assets we should be including.

[2015-06-19 18:50] secretrobotron commented on #42
@rodrigowaters we're working on dates right now!

[2015-06-19 20:10] KevZawacki commented on #37
@bellayet Great!

To get started: We have a best-practices playbook (https://goo.gl/T2IcQt) and sample content to be localized and posted later this summer (https://goo.gl/RKRqV1).

[2015-06-19 20:50] lovegushwa commented on #53
![screen shot 2015-06-19 at 1 25 18 pm](https://cloud.githubusercontent.com/assets/12228435/8262794/ee9ba42c-1689-11e5-8600-4425f5b1a0e9.png)
E

![screen shot 2015-06-19 at 1 47 44 pm](https://cloud.githubusercontent.com/assets/12228435/8262792/e9e6648a-1689-11e5-94a9-2a5d42069180.png)
F

[2015-06-20 00:02] edrushka commented on #34
@jaykappa and I reviewed these during our stand today, and I got some further feedback from @HPaulJohnson:
- love showing the phone
- love the logo with wordmark
- prefer showing people on the phone screen over landscapes (I'll attach screenshot we're using on the landing page).
- no value proposition (tagline) needed on the small squares, since space is limited
- let's go with the chevrons for th

[2015-06-20 00:02] edrushka commented on #34
![hero 2x](https://cloud.githubusercontent.com/assets/4515662/8265034/f21d8a50-16a4-11e5-95dd-0b87b25ec18c.png)

[2015-06-20 01:03] jaykappa commented on #34
@edrushka Thanks for the feedback I'll post a RedPen for the revisions and a link here afterward.

[2015-06-20 14:43] alamanda commented on #50
@secretrobotron
![pricelist-swag-indonesia](https://cloud.githubusercontent.com/assets/12945788/8267681/49d219e6-1795-11e5-896f-fd0f40f32f21.jpg)

[2015-06-20 16:26] jaykappa commented on #34
@edrushka is it possible to get a crop of this screenshot without the phone and a bit length (vertically) by about 500px ?

[2015-06-20 17:12] edrushka commented on #34
@vasquez @cassiemc could either of you get that for @jaykappa? Or direct me to who I should ping? Thanks!

[2015-06-21 17:33] cassiemc commented on #53
These seem a bit off to me – like there is too much going on, and the yellow hand seems the wrong hue for our market (perhaps too realistic, too peachy-white). Are these patterns/textures being used anywhere in the UI? They feel a bit extraneous to me and at this early stage in marketing the app we should be a little more reflective of the app's feel, though I get trying to inject more personality

[2015-06-22 15:31] cassiemc commented on #34
@edrushka – @vazquez (typo above) should be able to get that, or @lovegushwa.

[2015-06-22 15:53] panaggio opened #73 "Brazil GTM - Localize playbook"
Team: L10n

This needs to be done ASAP, as more people could be reached if this was in pt-br.

[2015-06-22 15:53] panaggio commented on #73
@secretrobotron would it be possible for us to localize it and send it back to the person that made the playbook look beautiful, to be sure that we didn't make any mistakes while localizing?

[2015-06-22 16:26] HPaulJohnson commented on #53
@cassiemc we talked a bunch about the hand with @lovegushwa and @edrushka on Friday. Jordan was going to work with the hue but, generally speaking, the reactions to the hand itself have been mixed. So I'm open to options. We are working against some production deadlines but I trust that in my absence, the three of you can land on something awesome. We should also be as flexible as possible in our

[2015-06-22 20:53] jaykappa commented on #34
Opened a RedPen for the Facebook and Twitter assets:
https://redpen.io/jv101e34ce561d05cb

R? @cassiemc @edrushka @lovegushwa

Some general notes:

## 200 x 200
- removed the rejected designs from the screenshots
- feedback said that I could ditch the tagline to conserve space, but in some cases, tagline was kept to help balance out the composition (sometimes the wordmark logo and phone create whi

[2015-06-22 20:59] jaykappa commented on #34
Mofo Email Callout
Opened a RedPen for the asset:
https://redpen.io/qw6b3d43d04df3d468
- after revising designs for Twitter and FB assets, the busier compositions with the tagline could work well for MoFo callout
- took the options that could work best and re-sized them into the three requested dimensions (200x 200, 500x500, 800x800)

R? @cassiemc @edrushka @lovegushwa

[2015-06-22 22:32] jaykappa commented on #34
**Teach.Org Banner**

Opened a RedPen for the asset:
https://redpen.io/uh0fcccfcd8440a057

It might be too adventurous based on the guidelines but with some strong CSS it can work, but the limitations for what adjustments are possible for banner absolute positioning is of a bit unknown. If the positioning is very strict then the options are more limited to just the word or brand mark (because the

[2015-06-23 00:14] rodrigowaters commented on #73
I can help to translate

[2015-06-23 07:16] kelimuttu commented on #47
@secretrobotron Bobby, can you the share us the link of the translation material from transifex here?

[2015-06-23 07:47] kelimuttu commented on #47
I think I've found it. Is this the right link? @secretrobotron => https://www.transifex.com/projects/p/webmaker/translate/#id/webmaker-stringsxml/50935942

[2015-06-24 01:12] secretrobotron opened #74 "Make sure logo can print on shirts"
The gradients don't work super well on shirts (printing woes). What advice can we get from designers/printers?

cc @davidascher @lovegushwa

[2015-06-24 01:17] secretrobotron opened #75 "entering tinker mode in photos stalls the app (blank screen)"
Bobby is a cool dude.

[2015-06-24 01:33] #75 closed

[2015-06-24 03:00] davidascher commented on #74
I'll get my friend the T-shirt printer to opine and report back. Can you
attach a high res photo of the shirt logo impression?

[2015-06-24 12:19] yofiesetiawan commented on #44
@secretrobotron ina has relationships with illustrator community, we will try to first approach them. while visiting campuses and schools is different, we will need to prepare a letter for schools and campuses. We hope that you don't mind to help us sign on the letter..

[2015-06-24 12:49] technowizard commented on #45
Hi all,

I attach an Introduction Letter that can be used for school visit that has been written by Ina. Maybe we could try to review the whole letter and add the necessary materials to the document to fit our target.

https://docs.google.com/document/d/1pCW4ss5Yy-SymY5bSCUEwcutYh2OZBfpe_5avlRE3UU/edit?usp=sharing

Thank You

[2015-06-24 13:25] secretrobotron commented on #44
Not at all, @yofiesetiawan! Ina said she had a template for me to work with. If you've got it, can you post it here or give me access? I'm sure she did send it to me last week, but it's buried in email.

[2015-06-24 13:36] secretrobotron commented on #74
Folder with vector assets for logo: https://drive.google.com/drive/folders/0B-7F6kqkuFwdUHRXMlByQklaNGs

[2015-06-24 13:38] secretrobotron commented on #47
@kelimuttu that's right! And https://www.transifex.com/projects/p/webmaker/resource/user_createdjson/

I'll post those on the wiki right now.

[2015-06-24 13:44] secretrobotron commented on #47
Thanks for the wait, @kelimuttu. I'll continue to put relevant localization info here: https://github.com/mozilla/webmaker-launch/wiki/Localization

[2015-06-24 13:45] secretrobotron commented on #54
Here's a wiki with information about each part of Webmaker that needs localizing: https://github.com/mozilla/webmaker-launch/wiki/Localization

[2015-06-24 13:45] secretrobotron commented on #52
Here's a wiki with information about each part of Webmaker that needs localizing: https://github.com/mozilla/webmaker-launch/wiki/Localization

[2015-06-24 13:45] secretrobotron commented on #19
Here's a wiki with information about each part of Webmaker that needs localizing: https://github.com/mozilla/webmaker-launch/wiki/Localization

[2015-06-24 13:53] mauredtha commented on #44
Halo @secretrobotron, Ina said you can check the format template in team's 2 github , this is the link :

Team 2 : https://github.com/mozilla/webmaker-launch/issues/45

[2015-06-24 13:54] mauredtha commented on #44
https://docs.google.com/document/d/1pCW4ss5Yy-SymY5bSCUEwcutYh2OZBfpe_5avlRE3UU/edit?usp=sharing

[2015-06-24 13:54] secretrobotron commented on #44
That's what I needed! Thanks :).

[2015-06-24 13:59] mauredtha commented on #44
@secretrobotron pleasure :)

[2015-06-24 13:59] fauzanalfi commented on #47
I've written some updates here: https://github.com/mozilla/webmaker-launch/wiki/Indonesia-Updates

TL;DR: webmaker-mailroom and webmaker-android are already localized. Now, we're waiting for 'webmaker landing page' and 'Google Play Store' material to be localized

[2015-06-24 14:03] jaykappa commented on #43
**Redpen URL:**
https://redpen.io/p/vnd5a95dd70f79a748

I tried to find some good examples but nothing caught my attention to what I think would might work here. So decided to simply progress with layout for review. The cover should most likely be adjusted once final print assets are selected.

**Notes**
Each section has its own page in anticipation of additional incoming copy, as well as the unkn

[2015-06-24 14:30] secretrobotron commented on #73
@panaggio that sounds fine. Does it make sense to pull parts out of the playbook and place them in the wiki here?

p.s. we made the playbook look the way it does. So glad you said "beautiful" :P.

[2015-06-24 14:49] yofiesetiawan commented on #74
![tshirt-template-webmaker](https://cloud.githubusercontent.com/assets/2810823/8332860/53506ac2-1aba-11e5-8901-04c000ef49ea.jpg)
I'll just share the preview of the tshirt just in case printed on white tshirt. Anyway regarding gradient, yes it won't be easy if we print it using screening printing method, but it should be easy if we use computer printing (laser/inkjet). But usually if we produce man

[2015-06-24 14:55] yofiesetiawan commented on #34
Hi, do we have any color guidelines?

[2015-06-24 15:05] yofiesetiawan opened #76 "T-Shirt Design"
Proposing design ideas for t-shirts relate to Webmaker Launch.

[2015-06-24 15:09] yofiesetiawan commented on #76
![tshirt-webmaker-creator](https://cloud.githubusercontent.com/assets/2810823/8333538/a19467c6-1abd-11e5-9fe3-4890bb0ddbec.jpg)
![tshirt-webmaker-user](https://cloud.githubusercontent.com/assets/2810823/8333539/a19c2bd2-1abd-11e5-8a17-117f97aed010.jpg)
What if we play with fonts and some taglines?

[2015-06-24 22:57] panaggio opened #77 "Transfer project to a new Github organization (? This is a suggestion to be discussed)"
I'm not sure this is the best idea, as there are good and bad consequences of doing this.

Issues this could "fix":

* everyone would be able to know who's part of the launch team
* all member of the launch team could help on issue tagging
* No need to add anyone to Mozilla organization

What you guys think?

cc @secretrobotron

[2015-06-24 23:01] panaggio commented on #73
@secretrobotron that sounds good. I'll add those strings to some wiki page (I'll search for some existing one or create it if it doesn't exist).

@rodrigowaters as soon as this is done, I'll add a note here and we can start localizing. The localization team is just the two of us by now.

[2015-06-24 23:24] panaggio commented on #52
@secretrobotron About webmaker-android and webmaker-mailroom: are them string frozen? I've already localized everything, but I'm not sure it I should watch those files on Transifex for changes or if I can expect this to be really done.

[2015-06-24 23:55] secretrobotron commented on #77
We've actually created a team for adding to this repo without adding to the org. We should be able to add a bunch of people. I just need a list so I can try it.

[2015-06-25 00:16] panaggio commented on #77
@secretrobotron this is the list I sent a few days ago:

@cyz
@marianamioto
@melissacd
@panaggio
@RafasTavares
@rodrigowaters
@shadow44g4

For now, no one joined the team on our pad or answered the dudle, so this list should do it for now.

Are the team members public? This would be enough for "everyone would be able to know who's part of the launch team". If not, maybe we could create a wiki page

[2015-06-25 01:20] panaggio commented on #73
Playbook strings and images that may need localization are here: https://github.com/mozilla/webmaker-launch/wiki/Playbook-l10n

[2015-06-25 19:32] jaykappa commented on #34
Made some alterations based on our convo today @edrushka @cassiemc @lovegushwa

**Mofo Email Callout/Facebook/Twitter:**
https://redpen.io/jmd1fe0a33abe69672
![2015-webmaker-mofo-eng-v2](https://cloud.githubusercontent.com/assets/1036635/8363746/175404bc-1b4f-11e5-8f49-3d7fb370ec80.jpg)

**Teach.Org Banner:**
https://redpen.io/cj5346b0097f53c477
![2015-webmaker-teachorg-eng-v2](https://cloud.githu

[2015-06-25 19:40] secretrobotron commented on #74
Thoughts, @lovegushwa? @thisandagain what do you think of a non-gradient logo for shirts?

[2015-06-25 20:40] secretrobotron commented on #45
This is great, @technowizard. I left some edits/comments in the document, but nothing major. Let me know if that works for you.

What are the next steps here? Should we create a rough outline of the presentations/tutorials?

cc @deryanEM.

[2015-06-25 20:41] secretrobotron commented on #30
This is well underway in another channel.

[2015-06-25 20:41] #30 closed

[2015-06-25 20:46] cyz commented on #69
Hey @secretrobotron and @LauraReynal!
We have a base material for test? I plan to make the test in  Monday or Tuesday.

[2015-06-25 20:54] secretrobotron commented on #74
For reference, here are the printing details we have atm: https://drive.google.com/drive/folders/0B-7F6kqkuFwdYk5qMGpzbmJXd28

[2015-06-25 20:56] secretrobotron commented on #76
Hey, @yofiesetiawan, these are cool, but we've got a design you can use right away: https://drive.google.com/drive/folders/0B-7F6kqkuFwdYk5qMGpzbmJXd28

Let's keep these in mind for launch though. Would be cool to have the design and marketing team comment on what you made up: @lovegushwa @HPaulJohnson @kevzawacki

[2015-06-25 20:58] secretrobotron commented on #42
@rodrigowaters see https://github.com/mozilla/webmaker-launch/wiki/Swag

Will keep it updated with more info as it comes in.

[2015-06-25 23:28] rodrigowaters commented on #42
@secretrobotron Send in July 17? The event will be July 12 ( Brazil )

[2015-06-26 03:32] budiman11120905 commented on #45
thanks to invite me @ariestiyansyah
our pilot is @technowizard
thanks :)

[2015-06-26 05:15] atiqueahmedziad commented on #24
@LauraReynal @HPaulJohnson I am going to hold an event in my college (Notre Dame College, Dhaka). Estimate Attendees 30-40 people. We are hoping to get 20+ projects & 30+ downloads from the event. Here is the event planning etherpad: https://etherpad.mozilla.org/remo-webmaker-explore-ndc
Please add your ideas in etherpad :) thanks

[2015-06-26 14:26] alamanda commented on #46
next week's goal: writing a proposal for potential collaboration with telkomsel, esp. in west java and north sumatera. deadline: july 2nd.
things to propose: networking to schools, transportation, logistic.

[2015-06-26 14:29] alamanda commented on #50
- Ina found a supplier who can speak english.
- t-shirt will be produced and ready on july 30th for launching in august and produced locally.
- quotation will be ready on monday (june 29)

[2015-06-26 18:42] KevZawacki commented on #76
Hi @yofiesetiawan, great work. I suggest incorporating the word 'Web' somewhere into the design, so it's a bit more clear what we're talking about. So, something like: 'Stop just using the Web. Start creating it.'

[2015-06-26 20:29] KevZawacki commented on #72
Hi @panaggio,

Have you thought about promoting Webmaker's presence at FISL on social media in the weeks/days leading up? We have some basic language you can remix and translate here: https://goo.gl/578BTG. Let me know if I can help.

I can also connect you with the folks who run Twitter.com/mozillabrasil and Facebook.com/mozillabrasil, if that would be helpful.

[2015-06-26 20:35] KevZawacki commented on #69
Hey @cyz , it'd be great if you could share this Webmaker session on social media. Perhaps inviting students beforehand, and then sharing photos during/after the event. You can mention Twitter.com/Webmaker in your tweets.

You can find sample Webmaker social media posts here: https://goo.gl/IcKpdp. Feel free to remix and translate. We also have a social media best-practices doc here: https://goo.g

[2015-06-26 20:39] cyz commented on #69
Hi @KevZawacki! Sure, I'll share!

[2015-06-26 20:43] KevZawacki commented on #64
Hi @panaggio,

@HPaulJohnson and I created a guidebook to help with media coverage: https://docs.google.com/document/d/13Ie2_xMYw2iqb_m3uHCqGSkSWFE_yH6jceYwzOHDPiY/edit

Let's stay in touch as we get closer to launch!

[2015-06-26 20:46] KevZawacki commented on #58
Hi @panaggio, would it be useful to leverage social media around Webmaker and Campus Party Recife?

[2015-06-26 21:03] KevZawacki commented on #48
Hi, @ariestiyansyah and team,

To help with daily social media, we developed some sample Twitter and Facebook posts to translate and localize: https://goo.gl/yUfr5s. There are also columns where you can drop in links to your posts, number of RTs, etc.

We also have a guidebook with social media best practices: https://goo.gl/1FNduY

I'd love to set up a time next month to say "hi" go over these do

[2015-06-26 21:08] KevZawacki commented on #45
It'd be great to share these tutorials/presentations on social media as they happen. If you mention Twitter.com/Webmaker, we can RT to all our followers.

Here's an example: https://twitter.com/girlscrackcode/status/613143458253942784

I also shared our sample social media content + best practices over in ticket #48

[2015-06-26 21:12] KevZawacki commented on #24
@atiqueahmedziad That's great! Have you thought about promoting the event on social media? You can find best practices and sample content at https://goo.gl/7ivg4c and https://goo.gl/2p2SI3

Also, make sure to tweet from the event and mention Twitter.com/Webmaker. We can RT!

[2015-06-27 01:40] KevZawacki commented on #37
Hey, checking in to let you know we've added columns in our content calendar to track each tweet and Facebook post. Let me know if you have questions!

https://docs.google.com/spreadsheets/d/1tWRmjYW_DUH-YhpmsF5rcbHPeSF6eeu-3Yy-_FdTcvU/edit#gid=443327769

[2015-06-27 02:36] ariefbayu commented on #48
Hi @KevZawacki, thank you for the document. I'll read and discuss with socmed team. About the meetup, it would be great if we have one :)

[2015-06-27 14:35] atiqueahmedziad commented on #24
Yes, sure :)
Thanks @KevZawacki
And here is reps portal event link: https://reps.mozilla.org/e/webmaker-explore-ndc/

[2015-06-27 18:28] edrushka commented on #34
Thanks @jaykappa, these are looking really good. @lovegushwa and @cassiemc can you select two and give final feedback so Jay can finish these up?

[2015-06-28 17:54] edrushka commented on #43
@jaykappa - this is a great start. First impression is that it seems like a lot of text. Would it work to include some creative assets into the doc, without linking away (e.g. web banners, logos) or will the quality be too low embedded in a PDF?

Another idea to break up the "great wall of text" would be to include some of the screenshots and/or PlayStore graphics.

Adding @KevZawacki to provide f

[2015-06-28 19:00] jaykappa commented on #43
@edrushka it would be great to add some creative assets to help make each page a bit more visually appealing. If hi-res screenshots can be provided I can throw them in. Currently I only have one asset (the phone with the app screenshot) but could use a few more.

The Playstore graphics are great but I could benefit with having CS6 artwork files to use (if possible please).

[2015-06-28 19:02] edrushka commented on #43
@vasquez Do you have the Playstore artwork files in CS6 for @jaykappa?

[2015-06-29 13:19] lauradereynal commented on #1
Meet-up happened - closing.

[2015-06-29 13:19] #1 closed

[2015-06-29 13:21] lauradereynal commented on #10
@secretrobotron @HPaulJohnson I am closing this one since we are tracking in other calendars and these events have passed already.

[2015-06-29 13:21] #10 closed

[2015-06-29 13:24] lauradereynal commented on #40
This is undercontrol and WIP by @secretrobotron and @HPaulJohnson . Closing

[2015-06-29 13:24] #40 closed

[2015-06-29 13:25] #36 closed

[2015-06-29 13:26] lauradereynal commented on #22
The first round of curriculum has been tested and report has been submitted. Thanks to you all team :smile: will ping when there is something new

[2015-06-29 13:26] #22 closed

[2015-06-29 13:28] lauradereynal commented on #20
Hey All, what is new from your side ?
@Maliha-Momtaz-Islam @bdgeek @hossainalikram @pinktanha @aniruddha-adhikary @r-i-nahian

Is there anything I could help with ?

We are collecting feedback from this survey that we ask you to share when hosting your next round of events and workshops. www.mzl.la/feedback

[2015-06-29 13:43] lauradereynal commented on #24
Hey @atiqueahmedziad When is your event planned ?

Thanks for sending an agenda ahead of time - I notice that Webmaker for Android is not part of the agenda though, and that you are currently planning for Popcorn, Appmaker and Thimble, which should no longer be a focus for the different events.

Could you take a second pass at the agenda by looking at www.beta.webmaker.org and mzl.la/webmaker ?
Le

[2015-06-29 13:46] lauradereynal commented on #69
Hey folks, you can also share this form where we have been collecting feedback www.mzl.la/feedback
Let me know if you need anything else - Im happy to help.
Laura

[2015-06-29 13:57] cassiemc commented on #43
@vazquez (note spelling @edrushka with a 'z' not 's') is on PTO today and tomorrow. Cc'ing @lovegushwa to see if he can provide more assets and feedback as well.

I like how clean this looks, the text is set nicely. Agree more visual interest would help. If the final result is a pdf, seems important from usability pov that the text is selectable and that the final file size is not too big (would s

[2015-06-29 14:00] atiqueahmedziad commented on #24
Here is the agenda: https://etherpad.mozilla.org/remo-webmaker-explore-ndc
The event is mainly focused on the Webmaker app for andorid
You can see the writings after line no.22 in the agenda. Talking on Popcorn, Appmaker and Thimble are just introductory. We will not work with that in the event. We will only work with Webmaker app. So if you want I can remove the introductory sessions from the age

[2015-06-29 14:05] jaykappa commented on #43
@cassiemc here's a link to the PDF view:
https://dl.dropboxusercontent.com/u/3603970/2015-Webmaker-PartnerKit-Eng-V1.pdf

[2015-06-29 14:10] cassiemc commented on #43
Cool thanks @jaykappa!

[2015-06-29 14:17] atiqueahmedziad commented on #24
Made change in Agenda. Have a look, if anything need to change pls change there :)
Changed the event title to : WebMaker App Explore @ NDC
is it okey ? :)

[2015-06-29 14:24] lauradereynal commented on #24
Thanks ! It looks awesome :)
Dont forget to share the results with us and let us know how it went

[2015-06-29 15:16] lauradereynal commented on #19
@maktrix Can you type here the update you gave on the call today  ? Im not sure that I was able to hear every detail. Thanks !

[2015-06-29 15:43] KevZawacki commented on #43
Peppering screenshots throughout the report would be great! & @jaykappa, I've added a couple comments to the Red Pen.

@HPaulJohnson is on PTO, so I'll weigh in on file size in his absence. Our research reports are about ~6.5MB apiece. Can we shoot for < that?

[2015-06-29 15:44] KevZawacki commented on #69
@cyz thanks! Let me know how we're received on social.

[2015-06-29 15:59] vazquez commented on #43
Perhaps alternating between the blue and the purple (we call it plum) would
make for a nice visual pattern. The purple also looks great with white text
on top of it. Give that a shot :)

On Monday, June 29, 2015, Kevin Zawacki notifications@github.com wrote:

##

Ricardo Vazquez
UI Designer, Webmaker
Mozilla Foundation
@iamrvazquez http://twitter.com/iamrvazquez
IRC: ricardo

[2015-06-29 16:40] cassiemc commented on #53
Jordan and I discussed a simpler and more conservative poster design at the workweek after trying a couple different directions. This seems smart given our time constraints. He is going to iterate on possibly including other ghosted ui screens or elements, to emphasize that this is an app poster and not an ad for a cell phone. @lovegushwa can you post the latest here?

[2015-06-29 16:43] jaykappa commented on #34
@cassiemc @lovegushwa here are the assets that need selections:

Mofo Email Callout/Facebook/Twitter (2 to be selected):
https://redpen.io/jmd1fe0a33abe69672

Teach.Org Banner (1 to be selected):
https://redpen.io/cj5346b0097f53c477

[2015-06-29 16:43] cassiemc commented on #53
@lovegushwa will also markup the design with guidelines & provide @jaykappa the fonts, sizes, colors, margins, etc.

[2015-06-29 17:00] cassiemc commented on #53
Update from today's stand:

**App Screen/s** – up in the air. Not sure if images of people are appropriate. We need images that will work in all locales. We need help from @xmatthewx (given @vazquez's PTO today and tomorrow) to finalize so I'll set up a conversation for later today.
**Printer:** @lovegushwa is handling the printing of these. The main time concern is that the UI will need to be tra

[2015-06-29 17:17] vazquez commented on #53
Everything is updated on Drive under `webmaker-android -> version 2.0`

`Webmaker-App Content-UI-2015-06-30.sketch`
`Webmaker-Google Play Store Assets-UI-2015-06-30.sketch`
`Webmaker-Mobile-UI-2015-06-30.sketch`
`Webmaker-Landing Page-UI-2015-06-30.sketch`

(give it a few minutes for all files to upload)

[2015-06-29 17:27] cassiemc commented on #53
Awesome thanks @vazquez. I don't think I have access to that folder – any way you can add these to 'Webmaker Launch Assets'? Also, @jaykappa is working in CS6. Can you make sure they all have jpg, png or – preferably – svg exports?

[2015-06-29 17:35] vazquez commented on #53
I don't have access to Webmaker Launch Assets lol. Matthew, can you add
Cassie to the Webmaker-android folder?

 For just the UI elements though, SVG can definitely be done. However, some
art boards contain images (the people, or the mountains) that prevent them
from being able to be exported in SVG. Matthew, can you help @jaykappa with
that?

On Monday, June 29, 2015, Cassie McDaniel notification

[2015-06-29 19:29] bellayet commented on #19
We have done the translation for these resources. Few reviews are left. We are discussing about them. Hope we'll complete them soon.
https://www.transifex.com/projects/p/webmaker/resource/user_createdjson/
https://www.transifex.com/projects/p/webmaker/resource/webmaker-stringsxml/

[2015-06-29 19:44] bellayet commented on #37
@KevZawacki
I don't have the access to the spreadsheet "Webmaker results tracker". If you can manage edit access for me, I can help to translate the posts in Bangla.

[2015-06-29 19:59] KevZawacki commented on #37
Hi @bellayet, thanks for your help! You should now be able to access and edit.
Please let me know if you have any questions.

[2015-06-29 20:10] KevZawacki opened #78 "Brazil GTM - Promote Webmaker Across Social Media"
Goal:
+ Drive Webmaker downloads and encourage conversations via social media, particularly Facebook and Twitter

Tools:
+ Playbook with best practices: https://goo.gl/T2IcQt
+ Content to be localized & tracked: https://goo.gl/DDw8IW

We can start spreading the word now. In July, @HPaulJohnson and I will host a social media roundtable for everyone participating.

[2015-06-29 20:51] cassiemc commented on #53
We've decided to go forward with two directions:
- **v1: Refined speech bubble.** _Try:_ less contrast with background, an idea bubble instead of a speech bubble, less sharp curves, etc.
- **v2: Less phone more app** _Try_: Make the phone feel like less the subject of the poster (an ad for a phone); could ditch the hand, add hint of other screens, or dial back the detail of the phone.

In both ver

[2015-06-29 21:37] cassiemc commented on #34
@jaykappa – 

Mofo email callout – needs refinement on the spacing, hierarchy, text weight & color. @lovegushwa should inform you on the fira weight to use for the headline. Left some comments in the redpen, but generally prefer the bottom placement of elements (it's unlabeled but would've been D I guess?)

Teach.org banner – I prefer the patterned options. Would just fix the margins a big, and tr

[2015-06-29 21:43] cassiemc commented on #43
@jaykappa: you can find plum and it’s evil twin shadow plum here: https://github.com/mozilla/webmaker-android/search?utf8=%E2%9C%93&q=plum

[2015-06-29 23:00] jaykappa commented on #34
Thanks @cassiemc please see below for the **Teach.org banner**

![2015-webmaker-teachorg-eng-v3](https://cloud.githubusercontent.com/assets/1036635/8420495/f10b543c-1e90-11e5-8b16-62ddf4f6473f.jpg)

Mofo email callout - I'll stay on standby. for details via @lovegushwa but will work with "D"

[2015-06-30 08:01] lovegushwa commented on #53
@cassiemc @edrushka

v1 (refined speech bubble shape, less contrast)
![screen shot 2015-06-30 at 12 51 10 am](https://cloud.githubusercontent.com/assets/12228435/8426156/362f3764-1ec2-11e5-96f8-e808d047b57a.png)

v1 additional options
![screen shot 2015-06-30 at 12 31 48 am](https://cloud.githubusercontent.com/assets/12228435/8426162/44eafc98-1ec2-11e5-9b92-2faac4b58d66.png)

![screen shot 2015-06

[2015-06-30 14:23] cassiemc commented on #53
Really like the 3-up option, v2, nice work @lovegushwa. Would also be okay with v1, the top option. I think they both make it feel more human (less about the phone) and add a small bit of visual lavour.

@edrushka can you advise how we should move forward with a decision given @HPaulJohnson is on PTO (unless Paul can comment here)?

[2015-06-30 16:27] cassiemc commented on #34
I think A&B are working well, just not sure about the white text on yellow button. Will check out the UI toolkit for consistency. @lovegushwa can you please design R? these?

[2015-06-30 19:19] xmatthewx commented on #53
Looking nice. I'll let this group continue to drive the direction.

A few thoughts/suggestions on the little details:
- remove the microphone/speaker dots. I've only ever seen them on htc brand phones. A little line or rectangle would be more universal.
- maybe make the camera circle less contrasty.

The text in the app screenshots should be crafted carefully:
- ~~Olympic Mountains~~ >> something

[2015-06-30 19:30] KevZawacki commented on #53
+1 to @xmatthewx's three copy suggestions.

[2015-06-30 19:46] cassiemc commented on #53
Kev was just looking for your handle! I also like @xmatthewx' suggestions. Can we nail down that first line of copy changes – what would you prefer @kevzawacki between birthday / holiday / graduation?
cc @lovegushwa

[2015-06-30 20:37] lovegushwa commented on #53
@cassiemc @xmatthewx @edrushka
Hi everyone, check out the updated final version. @xmatthewx thanks for the feedback, I incorporated it. I also cleaned up the sunset image a bit and added little slivers of content images to the top, bottom, left and right of the main image. Let me know if it's all good and I'll get it up on the server for Jay.

![screen shot 2015-06-30 at 1 34 55 pm](https://cloud.

[2015-06-30 20:41] KevZawacki commented on #53
Let's go with birthday.

[2015-06-30 21:24] lovegushwa commented on #53
@cassiemc @xmatthewx @edrushka @KevZawacki
Hi Everyone, Can some one confirm the final copy? ... Birthday 2015? Also I would like to stay away from numbers since they have the potential to cause problems when translated. (I know that sounds crazy but trust me.)

1
![screen shot 2015-06-30 at 2 18 01 pm](https://cloud.githubusercontent.com/assets/12228435/8442282/f48bf5d8-1f32-11e5-845d-2ad14643004

[2015-06-30 21:53] xmatthewx commented on #53
Project title looks to be a wee bit high, rather than centered in header. Otherwise, looking super nice.

[2015-07-01 00:23] lovegushwa commented on #53
@cassiemc @HPaulJohnson @edrushka @jaykappa
The final artwork is up on the server: Webmaker Launch Assets > PROCESS

![screen shot 2015-06-30 at 5 20 51 pm](https://cloud.githubusercontent.com/assets/12228435/8444987/a29fbf1a-1f4c-11e5-9c03-264cb81344e0.png)

[2015-07-01 01:23] jaykappa commented on #34
Thanks @cassiemc when I took a peek at the UI the text was white, but it was Upper and lower case not all uppercase.

[2015-07-01 01:26] jaykappa commented on #34
Thanks for the poster file @lovegushwa the revised Mofo Email callout was applied accordingly plus with the revisions previously if ya can R? @cassiemc

![2015-webmaker-mofo-eng-v3](https://cloud.githubusercontent.com/assets/1036635/8445671/5561e86e-1f6e-11e5-9a50-9dfa7d589f68.png)

Should note that with making margins the same for logo on top as on it's sides and enlarging the phone the logo does

[2015-07-01 09:44] secretrobotron commented on #47
@fauzanalfi @kelimuttu

We've got a couple more assets that we're hoping to get localized this week so we can print them. Do you think you can help?

We're making a poster, and there are a couple parts of it that need to be translated into sensible Indonesian: https://github.com/mozilla/webmaker-launch/issues/53#issuecomment-117377754
- "Sunset with Friends"
- "Discover. Create. Share."
- "Webmake

[2015-07-01 09:46] secretrobotron commented on #52
@panaggio yes, they're string frozen. We're going to try for a regular release schedule (every two weeks?).

[2015-07-01 09:48] secretrobotron opened #79 "Brazil GTM - Localize Printed Assets"
@panaggio @soapdog

We've got a couple more assets that we're hoping to get localized this week so we can print them. Do you think you can help?

We're making a poster, and there are a couple parts of it that need to be translated into sensible Portuguese: https://github.com/mozilla/webmaker-launch/issues/53#issuecomment-117377754
 * "Sunset with Friends"
 * "Discover. Create. Share."
 * "Webmaker

[2015-07-01 09:51] secretrobotron commented on #19
@bellayet thanks for translating those :). Were you able to use @k88hudson's QA checklist to help? (https://gist.github.com/k88hudson/16e0b6a720f33e1f7c3e)

[2015-07-01 09:52] secretrobotron opened #80 "Bangladesh GTM - Localize Poster"
@bellayet @tapuafrad @LauraReynal

We've got a couple more assets that we're hoping to get localized this week so we can print them. Do you think you can help?

We're making a poster, and there are a couple parts of it that need to be translated into sensible Bangla: https://github.com/mozilla/webmaker-launch/issues/53#issuecomment-117377754
 * "Sunset with Friends"
 * "Discover. Create. Share."

[2015-07-01 10:01] edrushka commented on #43
Quick update: Bobby and I have terrible wifi in Scotland so he's not even going to attempt localizing this doc until next week. In the meantime, let's get the design of the English version finalized.

[2015-07-01 10:19] fauzanalfi commented on #47
@secretrobotron
Sure, we can help you to localize them. We will post localized parts ASAP.

[2015-07-01 10:47] fauzanalfi commented on #47
@secretrobotron
Since we're very excited with Webmaker app, we're finally localize those parts for the poster. Here they are:
- "Senja bersama Teman"
- "Temukan. Buat. Bagikan"
- "Webmaker dapat kamu gunakan untuk membuat kreasi orisinil di perangkat bergerakmu dalam sekejap dan membagikannya ke teman-temanmu. Unduh Webmaker untuk Android – semuanya gratis dan kode sumbernya terbuka"

Please let u

[2015-07-01 10:50] bellayet commented on #80
@tapuafrad is no longer active. I am adding @maktrix here.

[2015-07-01 11:17] cecilepompei opened #81 "Read this blog/feedback on Webmaker from Cambodia"
here a blog post from Cambodia
http://rethiya.blogspot.in/2015/06/mozilla-webmaker-now-on-play-store.html

[2015-07-01 11:26] panaggio commented on #79
If the strings are these, here are the localizations:
-    "Sunset with Friends": "Por do sol com amigos" (if this doesn't fit, let me know)
-    "Discover. Create. Share.": "Descubra. Crie. Compartilhe."
-    "Webmaker lets you build original creations on your mobile device in minutes and share them with your friends. Download Webmaker for Android — it's free and open source.": "Webmaker permite

[2015-07-01 11:26] panaggio commented on #53
The last phrase doesn't have any reference to the Web. Is it on purpose?

[2015-07-01 11:30] panaggio commented on #79
@rodrigowaters could you review this, please?

[2015-07-01 12:10] panaggio commented on #52
I'll watch those files and ask here for localization when something new show up.

Is the QA "script" frozen too? We still need to check if our current localization is OK on the app.

Also, is there a quick guide for building the app for localization? If not, we need one, so people that are willing to do QA can do it on their computers. It's the same for building the app for development, with an ad

[2015-07-01 12:15] panaggio commented on #52
And where are the release going to be planned? Here or on https://github.com/mozilla/webmaker-android? We could add an additional step on the release plan to have sign offs from each localization QA team. What do you think?

[2015-07-01 13:58] jaykappa commented on #43
I've updated the Kit based on feedback for R? @cassiemc @lovegushwa @edrushka
https://dl.dropboxusercontent.com/u/3603970/2015-Webmaker-PartnerKit-Eng-V5.pdf

Just would need images to swap out with for localization.

[2015-07-01 15:50] lauradereynal commented on #81
Hey @cecilepompei are you able to reach out to him and ask him to fill in http://mzl.la/feedback ?
Thanks for sharing the blog post !

[2015-07-01 15:52] lauradereynal commented on #71
Thanks for the feedback here. This is currently being tackled by the team in https://github.com/mozilla/webmaker-android

[2015-07-01 15:52] #71 closed

[2015-07-01 19:21] edrushka commented on #43
This is looking really good! I'll let @cassiemc and @lovegushwa continue to manage the design feedback, but just wanted to give a general YAY :tada: for this direction.

[2015-07-01 20:27] edrushka opened #82 "Design Postcard"
Design postcard for WM launch (based on poster)

[2015-07-01 22:57] lovegushwa commented on #82
R? @cassiemc @HPaulJohnson @edrushka  @xmatthewx @secretrobotron @KevZawacki
Hi Everyone, Please checkout the 5x7in postcard. Same copy as the poster, but split front and back.
I included the google play logo as per @HPaulJohnson 's request.
- The URL will be localized. Let me know if we are good to go and I will knock out the other languages.
- The colors show are in CMYK, that's why they lack a

[2015-07-02 13:22] KevZawacki commented on #82
Looks great! A thought: the em dash looks a bit strange at the end of the first line. Maybe we replace it with a period?

"Download Webmaker for Android.
It's free and open source. --> webmaker.org"

[2015-07-02 15:37] panaggio commented on #77
@secretrobotron I'm going to take some time today to organize Brazil related issues. Could you please add me to the team, so that I can tag issues properly? This way people from Brazil team could filters tasks by Brazil and by team (l10n, content, ...)

[2015-07-02 15:44] cassiemc commented on #43
- The initial webmaker logo on p1 feels way to big. It's also lacking a gradient so I am wondering if the correct version is placed or of something happened to it in downsampling the images in the file? Overall would prefer more whitespace around the logo, so that it feels more elegant and refined; less in-your-face.
- Really love the new layouts! And alternating between full color, color with whi

[2015-07-02 15:46] secretrobotron commented on #50
Figuring out the format:
- 1 launch with 300+ people in Jakarta
- 5 launches with fewer people in different cities?

[2015-07-02 16:05] secretrobotron commented on #47
Thanks @fauzanalfi. Super helpful.

[2015-07-02 16:15] lovegushwa commented on #82
Good call @KevZawacki will do.

[2015-07-02 16:20] cassiemc commented on #55
I think these are all done, @lovegushwa correct me if I'm wrong! The banner looked super :bomb: awesome at the science fair!

[2015-07-02 16:20] #55 closed

[2015-07-02 16:24] secretrobotron commented on #77
@panaggio done.

Still working on getting everyone a part of this repo. Just sent some emails to figure it out. Will report back asap.

[2015-07-02 16:46] secretrobotron commented on #53
@KevZawacki ^^

[2015-07-02 16:51] secretrobotron commented on #47
Just noticed that the translations for [https://www.transifex.com/projects/p/webmaker/resource/webmaker-stringsxml/](webmaker-strings) aren't reviewed. Are you able to review them (maybe go through the [QA checklist](https://gist.github.com/k88hudson/16e0b6a720f33e1f7c3e)) to bump that up?

[2015-07-02 17:33] KevZawacki commented on #43
@cassiemc Good call. In the interest of our potential partners not having to squint at screens and mistake Is for 1s, here are customized shortlinks:

http://mzl.la/WebmakerAssets (for the Dropbox link)
http://mzl.la/WebmakerPhotos (for the Flickr link)

Note: These links are case sensitive. Probably worthwhile to note that in the kit.

[2015-07-02 17:41] KevZawacki commented on #53
You're talking about "Webmaker lets you build original creations... free and open source"?

We didn't purposefully exclude a reference to the Web. If we feel it's important to include, we can update the phrase to:

"Webmaker lets you build original creations on your mobile device in minutes and share them on the Web. Download Webmaker for Android — it's free and open source. --> Webmaker.org"

But

[2015-07-02 19:53] panaggio commented on #78
@KevZawacki @HPaulJohnson I'm not the best person to talk about this because I don't even have a Facebook account (and although I still have a twitter account, I don't use it). @melissacd is the best person to help on this. She's one of the most active people in Mozilla Brasil social media. And she's done it professionally for several years.

[2015-07-02 19:54] panaggio commented on #78
@KevZawacki can we localize those messages? I can organize that with the localization team.

[2015-07-02 20:07] panaggio commented on #59
As the launch is probably not going to happen during FISL, this can be closed.

[2015-07-02 20:07] #59 closed

[2015-07-02 20:28] cassiemc commented on #53
@KevZawacki I think it's fine as is, I believe @edrushka / @HPaulJohnson have already passed this copy on to translators and would prefer not to change it at this point. cc @lovegushwa @secretrobotron

[2015-07-02 20:45] panaggio commented on #63
We just talked to the person in charge of Mozilla's PR for FISL this year, and we're helping her build the press release for FISL, with a focus on what we're doing in Brazil regarding "teach the web" (don't want to cause confusion with "Webmaker app").

[2015-07-02 20:47] panaggio commented on #68
@cyz did we lose this opportunity? If so, how can we plan for a next opportunity, so that you have everything you need until then?

[2015-07-02 21:05] panaggio commented on #69
@cyz did we lose this opportunity? If so, how can we plan for a next opportunity, so that you have everything you need until then?

[2015-07-02 21:20] KevZawacki commented on #63
Hi @panaggio, great to hear. Who did you speak with on the PR side?
And after FISL, are you able to share all press coverage here in this ticket? Thanks!

[2015-07-02 21:20] KevZawacki commented on #53
+1

[2015-07-02 21:24] KevZawacki commented on #78
Great! We'll connect with @melissacd.

And please do go ahead and localize! You can place the translations in column G:

https://docs.google.com/spreadsheets/d/1tWRmjYW_DUH-YhpmsF5rcbHPeSF6eeu-3Yy-_FdTcvU/edit#gid=443327769

[2015-07-02 21:29] edrushka commented on #82
Sounds like we're changing the poster to the 3-phone version, which should be reflected on the front of this card as well.

[2015-07-02 21:30] lauradereynal commented on #69
Hey folks, Im happy to provide material, but could you give more details about the session ?
- what is the goal?
- who is the target ?
- Is this an assignment for students or a course or something else ?
  Thanks !

[2015-07-02 21:37] lovegushwa commented on #82
Hi @edrushka discussed it with @cassiemc we are going to stick with 1 image for the card, 3 will be a bit too much to squeeze in a card (and the other screens have much smaller text elements.)

[2015-07-02 21:43] panaggio opened #83 "Brazil GTM - Localize social media material"
Goal: Localized material <https://goo.gl/DDw8IW>

Tasks:

-   [ ] localize
-   [ ] review
-   [ ] QA

cc @KevZawacki

[2015-07-02 22:06] KevZawacki commented on #79
Hi @panaggio, hoping you can assist with one more translation.
We'd like to translate "text size," in the context of this poster (first screen): https://goo.gl/Z1R2Il
Thanks!

cc @lovegushwa

[2015-07-02 22:07] KevZawacki commented on #80
Hi @maktrix , hoping you can assist with one more translation.
We'd like to translate "text size," in the context of this post (first screen): https://goo.gl/Z1R2Il
Thanks!

cc @lovegushwa

[2015-07-02 22:07] KevZawacki commented on #47
Hi @fauzanalfi, hoping you can assist with one more translation.
We'd like to translate "text size," in the context of this post (first screen): https://goo.gl/Z1R2Il
Thanks!

cc @lovegushwa

[2015-07-02 22:10] panaggio commented on #79
@KevZawacki "tamanho do texto".

Are all the other localizations available? "Text Options", "Pick a destination page", ... I'm sure some of these are ready on Transifex, but if "text size" wasn't, maybe others aren't :(

[2015-07-03 04:50] kelimuttu commented on #47
@secretrobotron I'm working on it. I'll let you know as soon as it finished.

@KevZawacki "text size" is "Ukuran Teks" in Bahasa Indonesia. Any other text we need to translate?
cc @lovegushwa

[2015-07-03 05:56] lovegushwa commented on #79
@panaggio @KevZawacki @secretrobotron @cassiemc
Please review the final placed copy. Thank you!

![webmaker-poster-27x39in-g2](https://cloud.githubusercontent.com/assets/12228435/8493270/b98dd704-210c-11e5-9d8e-d0c9e61d2882.jpg)

[2015-07-03 05:59] lovegushwa commented on #47
@fauzanalfi @KevZawacki @secretrobotron @cassiemc
Please review the final placed copy. Thank you!

![webmaker-poster-27x39in-g3](https://cloud.githubusercontent.com/assets/12228435/8493317/5818ac8c-210d-11e5-9647-3e790ce9395a.jpg)

[2015-07-03 06:01] lovegushwa commented on #80
@secretrobotron @LauraReynal @kevzawacki @edrushka
Any word on the Bangladesh translation? I need it by end of day Friday because we are going to press. Thank you!!

[2015-07-03 07:36] fauzanalfi commented on #47
@lovegushwa:
That's perfect!

By the way, we want to fix the bottom part of the poster and make it into more effective sentence.
So...
- "Webmaker dapat kamu gunakan untuk membuat kreasi orisinil di perangkat bergerakmu dalam sekejap dan membagikannya ke teman-temanmu. Unduh Webmaker untuk Android – semuanya gratis dan kode sumbernya terbuka"

will be change to:
- "Webmaker dapat kamu gunakan untu

[2015-07-03 08:58] cecilepompei commented on #81
Ok ! Sending out to people!

On Wed, Jul 1, 2015 at 9:20 PM, Laura de Reynal notifications@github.com
wrote:

##

Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-07-03 11:27] lauradereynal commented on #28
Closing this for now, until we have more localization questions ! Thanks team

[2015-07-03 11:27] #28 closed

[2015-07-03 11:29] lauradereynal commented on #80
I think @maktrix or @jaggedzak or @bellayet or maybe @asif21 or @srdesh @Amena-Islam
could help ?
Let us know  - thanks !

Ps : @lovegushwa Friday is a holiday in Bangladesh, so we might not see anything until Sunday

[2015-07-03 11:32] lauradereynal commented on #29
Closing this, it seems like we are good with the playbook

[2015-07-03 11:32] #29 closed

[2015-07-03 11:39] lauradereynal commented on #80
ok update from @bellayet : We already working on that. Reviewing the translated strings.

[2015-07-03 12:01] jaykappa commented on #43
An updated view of the partners kit with major changes to the cover + fixes to the pages mentioned.
https://dl.dropboxusercontent.com/u/3603970/2015-Webmaker-PartnerKit-Eng-V8-Spreads.pdf

R? @cassiemc

[2015-07-03 12:05] secretrobotron commented on #28
cc @simonwex

[2015-07-03 12:16] secretrobotron commented on #53
:+1:

[2015-07-03 12:58] edrushka commented on #82
Makes sense! Thanks.

[2015-07-03 14:08] panaggio commented on #79
@lovegushwa where's "amigo", substitute by "amigos" on the left and middle screens, please.

"Editar texto" is not centered. Is that the expected?

[2015-07-03 14:39] panaggio commented on #64
@melissacd this might be of interest ^

[2015-07-03 14:40] cassiemc commented on #79
:sparkling_heart: Thanks so much for your help @panaggio!

[2015-07-03 14:41] panaggio commented on #58
I think so. @melissacd is going to Campus Party Recife and she's on the Marketing team, so she's **the** person to talk to on this topic :)

[2015-07-03 14:54] cassiemc commented on #43
Great work @jaykappa, loving the updates! I like the new structure and looks to me like the final changes will be to really hone in on the right photo choices.

@KevZawacki Can you provide input on the final page, the thank you, and maybe some copy there if you like it (perhaps some contact info)? We thought it would make a nice bookend to the package. Alternatively I think we could scrap the copy

[2015-07-03 15:42] edrushka commented on #43
Gorgeous! This is really coming along!! @HPaulJohnson will be back next week to give final signoff on this. Thanks so much for your work on this @jaykappa @KevZawacki @cassiemc

[2015-07-03 15:42] bellayet commented on #80
"Sunset with Friends"
"বন্ধুদের সাথে সূর্যাস্ত"

"Discover. Create. Share."
"আবিষ্কার। সৃষ্টি। শেয়ার।"

"Webmaker lets you build original creations on your mobile device in minutes and share them with your friends. Download Webmaker for Android — it's free and open source."
"ওয়েবমেকার এক মিনিটেই আপনার মোবাইল ডিভাইসে মৌলিক সৃষ্টিকর্ম তৈরি এবং বন্ধুদের সাথে তা শেয়ারের ব্যবস্থা করে। অ্যান্ড্রয়েডের জন

[2015-07-03 16:18] cyz commented on #69
Hello guys,
I make a simple session, because I don't know about goals. I request for my classes installation, creation and review.
I'll receive a review in next Monday. In July/August, I can make a new user test, but focused in hard user(great knowledge in development). Is util?

[2015-07-03 18:12] lovegushwa commented on #34
@cassiemc @jaykappa These are a hot mess but I was thinking about how to simplify the numbe of elements in the composition.  I experimented with braking the lockup and more aggressive phone cropping. (maybe mozilla webmaker should be bold and discover. create. share in book weight.) Anyhow maybe breaking away from the lockup will give us a bit more flexibility. Also we could look at an alternative

[2015-07-03 18:23] cassiemc commented on #34
@lovegushwa I really like the tighter cropping of the phone! Maybe amend it to include the + button. I'm not a fan of breaking the lockup though. Here's a really quick example of the kind of hierarchy I am after with the headline + image + button (colors, pattern, exact sizes and margins to be tightened up accordingly) cc @jaykappa
![email-banner](https://cloud.githubusercontent.com/assets/1186326

[2015-07-03 18:29] cassiemc commented on #34
Re the teach.org banner, @jaykappa are you going to update it with a new screen? I'm happy with the general layout but I wonder if we can shorten the copy by a line. cc @KevZawacki

[2015-07-03 19:12] jaykappa commented on #34
@cassiemc here's the updated Teach.org with the new screen.

![2015-webmaker-teach-eng-v4](https://cloud.githubusercontent.com/assets/1036635/8503943/ec4660e2-2195-11e5-97b5-c4b43cfaa980.png)

[2015-07-03 23:39] melissacd commented on #78
Hi @KevZawacki, @panaggio will localize the posts and when we have the dates they will be posted, I'll post them.
I'm one of the people who admin Mozilla Brasil's fanpage and twitter account and I can share it on my own accounts too :)
Do we need to talk before the dates are define?

[2015-07-05 18:55] anistuhin commented on #25
Hello, @HPaulJohnson i am really very sorry for being late. But you should know, we are passing a really tough schedule here in Bangladesh after the meetup. We are having FoxYeah campaign and Mozilla, a2i MOU related events/workshops targeting the Webmaker campaign later on this year. So, i was and still am very busy :) i think we should plan for August last week to September first week for the st

[2015-07-06 07:56] benrito commented on #19
When do we anticipate this will be live in Google Play?

[2015-07-06 13:23] KevZawacki commented on #78
Hi @melissacd, thanks! And yes, we'll set up a time to talk before we figure out the dates.

[2015-07-06 13:46] andi-belutz commented on #46
### Potential Sponsors, Partnerships, and Endorsement:

**Telco Provider**
- Telkomsel PIC: Mira

**Mobile Devices**
- Acer (+Intel) PIC: Astrid Irawati & Dhyoti Basuki
- Lenovo PIC: Lenovo guy (forgot the name)
- Advan PIC: ??

**Venue**
- Jakarta Digital Valley (JakDiVa) PIC: Kuncoro

**Celebrities**
- Christian Sugiono (model, actor, web designer, tech entrepreneur) https://en.wikipedia.org/wik

[2015-07-06 13:48] KevZawacki commented on #34
@jaykappa @cassiemc

If we're planning to shorten the copy to two lines:

"Webmaker lets you build and share original content
on your smartphone. Start creating in minutes."

[2015-07-06 14:08] RizRiyz commented on #46
Potential Communities :
1. IGOS Nusantara : PIC : Nana Suryana
2. Fedora Indonesia PIC : Michel Alexandre Salim

They are interest in web technologies

[2015-07-06 14:23] andi-belutz commented on #50
Need to be discuss

**For launch event:**
- Launch event concept
- Target audience (eg. how many reporters, students, teachers, bloggers)
- Venue
- Mozilla person(s) attending

**Post Launch event:**
- Launch event in other cities(?)
- Schools Roadshow
- Webmaker contest(s)

[2015-07-06 14:53] #15 closed

[2015-07-06 14:53] #31 closed

[2015-07-06 15:32] xmatthewx opened #84 "Update Webmaker in assets.mozilla.org"
Who has the keys to this?
https://assets.mozilla.org/portal/assets/#category/29

This will require a handful of lockups by @lovegushwa or @vazquez. @cassiemc - can you inform them on the process?

[2015-07-06 15:34] xmatthewx commented on #84
We should update the styleguide as well, though that might take a bit more time. Getting old assets out of the hands of new partners etc should be p1. https://www.mozilla.org/en-US/styleguide/identity/webmaker/branding/

[2015-07-06 15:36] xmatthewx commented on #38
Filing bugs for the P1s in the spreadsheet.
- [x] twitter
- [x] blog: https://github.com/mozilla/blog.webmaker.org/issues/15
- [x] teach: https://github.com/mozilla/teach.webmaker.org/issues/1073
- [ ] assets.mozilla.org & style guide: https://github.com/mozilla/webmaker-launch/issues/84
- [x] mozfest: https://github.com/mozilla/2015.mozillafestival.org/issues/141
- [x] Mozilla.org
- [x] transifex

[2015-07-06 16:44] jaykappa commented on #34
Just an update for the Mofo Callout if lockup can't be broken. @cassiemc @lovegushwa

![webmaker-mofo_callout-eng-v7](https://cloud.githubusercontent.com/assets/1036635/8527810/bdd1d18a-23dc-11e5-9649-c5a642b90fef.png)

[2015-07-06 17:34] atiqueahmedziad commented on #24
Yeah,  sure :)
but problem is we dont have internet support for 200 people as we dont have that much powerful router.
I need router that can connects 200 people at a time.
What can i do?  :(

[2015-07-06 18:23] xmatthewx opened #85 "Gather & refine QA scripts"
There are a few QA scripts in circulation. It'd be great to gather these in one place and link to that place from build dot Webmaker. Or maybe they're already in one place that I don't know about.

@k88hudson @secretrobotron @vazquez @hannahkane

 - Step 1: drop links here
 - Step 2: ...

[2015-07-06 18:31] secretrobotron commented on #85
@k88hudson's script: https://gist.github.com/k88hudson/16e0b6a720f33e1f7c3e
Please put stuff you find in the appropriate place in the wiki: https://github.com/mozilla/webmaker-launch/wiki

(k88's is already listed in the Localization article)

[2015-07-06 18:31] secretrobotron commented on #85
@xmatthewx why is this in the Indonesia Launch milestone?

[2015-07-06 18:39] xmatthewx commented on #85
@secretrobotron - the date seemed like the right distance from now. no other reason. We can also move this to /plan/ if you think it'd be helpful.

[2015-07-06 18:40] secretrobotron commented on #85
Ah ok. Here's fine. I'll switch the milestone.

[2015-07-06 18:42] secretrobotron commented on #17
@xmatthewx @thisandagain we can close this now, right?

[2015-07-06 19:03] xmatthewx commented on #17
Yes. Category chosen. Probably worth testing alternatives after we establish a baseline.

[2015-07-06 19:03] #17 closed

[2015-07-06 19:40] lovegushwa commented on #34
@jaykappa We need to move ahead with the lockup for now. You can get access to a PDF screens in every language in Webmaker Launch Assets > PROCESS > Webmaker-Screens.pdf

[2015-07-06 19:44] cassiemc commented on #34
I dig C & D, nice work @jaykappa! @lovegushwa will you review them for pixel perfection?

[2015-07-06 19:51] jaykappa commented on #34
Sounds good @lovegushwa and great to hear @cassiemc - I'll wait for any other tidbits of adjustments and we can move forward.

[2015-07-06 20:45] lovegushwa commented on #80
Thank you so much for the translation and help @bellayet !!
Please review the poster and postcards for accuracy. Files will release to the printer tomorrow morning the 7th (Bangladesh time.)

POSTER
![webmaker-poster4](https://cloud.githubusercontent.com/assets/12228435/8532536/af05116a-23e3-11e5-913a-e79d6bd04fc6.jpg)

POSTCARD FRONT
![webmaker-postcard-5x7in-proof7](https://cloud.githubuserconte

[2015-07-06 20:49] lovegushwa commented on #47
Thank you so much for the translation and help @fauzanalfi !!!
Please review the poster and postcards for accuracy. Files will release to the printer tomorrow morning the 7th (Indonesian time.)

POSTER
![webmaker-poster3](https://cloud.githubusercontent.com/assets/12228435/8532780/9071bb20-23e5-11e5-965a-a1d02df5dd07.jpg)

POSTCARD FRONT
![webmaker-postcard-5x7in-proof5](https://cloud.githubuserco

[2015-07-06 20:53] lovegushwa commented on #82
@cassiemc @xmatthewx  R?
Planning on sending these to the printer tonight if they are good to go.
You can check out the other language versions here:
https://github.com/mozilla/webmaker-launch/issues/47
https://github.com/mozilla/webmaker-launch/issues/80
https://github.com/mozilla/webmaker-launch/issues/79

![webmaker-postcard-5x7in-proof](https://cloud.githubusercontent.com/assets/12228435/85328

[2015-07-06 20:57] lovegushwa commented on #79
Thank you so much for the translation and great eye for detail @panaggio !!!
Please review the poster and postcards for accuracy. Files will release to the printer late tonight (July 6).

POSTER
![webmaker-poster2](https://cloud.githubusercontent.com/assets/12228435/8532959/9a5915ec-23e6-11e5-8e36-f5f36de3c286.jpg)

POSTCARD FRONT
![webmaker-postcard-5x7in-proof3](https://cloud.githubusercontent.c

[2015-07-06 20:57] xmatthewx commented on #82
Nice. Let's block the tinker icon in the screen on the right. Destination tinker doesn't exist yet.

[2015-07-06 20:59] lovegushwa commented on #82
Awesome, thanks @xmatthewx , will do!

[2015-07-06 21:13] fauzanalfi commented on #47
@lovegushwa both poster and postcard are great!!!

But, @secretrobotron and I found out that there's a missing period after "Bagikan" both on poster and postcard. Can you fix it please?

Thanks.

[2015-07-06 21:19] lovegushwa commented on #47
@fauzanalfi
The original copy translated to Indonesian is missing a period at the end as well. Also any text with multiple sentences is missing a period on the last sentence. I though perhaps this was Indonesian grammar? Please advise!

 "Senja bersama Teman"
 "Temukan. Buat. Bagikan"
 "Webmaker dapat kamu gunakan untuk membuat kreasi orisinil di perangkat bergerakmu dalam sekejap dan membagikanny

[2015-07-06 21:56] fauzanalfi commented on #47
@lovegushwa @secretrobotron
oops sorry, it's my bad. There should be a period after 'Bagikan'. Btw, there're last minute changes on the translation. Is it OK if I'll inform it to you maybe in an hour? I'm still gathering feedback from whole Indonesia launch team members.

[2015-07-06 22:04] lovegushwa commented on #47
Thanks @fauzanalfi !
Should all sentences in Indonesian end in a period?
No problem with the translation changes, I will check back soon.
cc @secretrobotron

[2015-07-06 22:12] bellayet commented on #80
Please don't print the poster. Your fonts are not working. Texts are completely broken down. Please take help from the designer who worked on the poster for Firefox OS launching. Make sure the texts working properly before printing.

[2015-07-06 22:15] fauzanalfi commented on #47
@lovegushwa
Yes, mostly all sentences in Indonesian end in a period.
Cc @secretrobotron

[2015-07-06 22:15] lovegushwa commented on #80
Thank you !!! @bellayet
@secretrobotron @KevZawacki can you help me sort this out?

[2015-07-06 22:28] fauzanalfi commented on #47
@lovegushwa
Here's updated version of last sentence on poster & postcard:
"Webmaker dapat kamu gunakan untuk membuat kreasi orisinal di perangkat bergerak dalam sekejap dan membaginya pada teman-teman. Unduh Webmaker untuk Android — gratis dan sumbernya terbuka."

cc @secretrobotron

[2015-07-06 22:31] secretrobotron commented on #62
cc @cynthiapereira

No longer needs to be done before FISL, but soon. Working on an activity to help generate content with workshop.

[2015-07-06 22:45] lovegushwa commented on #47
Thank you, Thank you @fauzanalfi
cc @secretrobotron

[2015-07-06 23:10] lovegushwa commented on #47
@fauzanalfi
Please confirm the  revised version of the poster and postcard.

POSTER
![webmaker-poster3](https://cloud.githubusercontent.com/assets/12228435/8535280/3b819c98-23f9-11e5-9d38-0c61937fe53d.jpg)

POSTCARD FRONT
![webmaker-postcard-5x7in-revised](https://cloud.githubusercontent.com/assets/12228435/8535311/7fa19ad6-23f9-11e5-96f4-84aa8d6ece26.jpg)

POSTCARD BACK
![webmaker-postcard-5x7in-

[2015-07-06 23:15] secretrobotron commented on #80
Just sent an email to some people to find out how to do this. Will report back when I've got an answer.

[2015-07-07 00:18] lovegushwa commented on #80
@bellayet
Here is a screenshot of what I see when looking at your translated text in my browser window. Is this text displaying correctly?

<img width="811" alt="screen shot 2015-07-06 at 5 15 45 pm" src="https://cloud.githubusercontent.com/assets/12228435/8536193/d685fa6e-2402-11e5-8aba-8532cbeb1812.png">

[2015-07-07 00:44] lovegushwa commented on #80
@bellayet
Please also confirm if this interface text is displaying correctly.
<img width="471" alt="screen shot 2015-07-06 at 5 43 11 pm" src="https://cloud.githubusercontent.com/assets/12228435/8536456/817dbfee-2406-11e5-9e8e-daa68e452e2f.png">

[2015-07-07 00:49] lovegushwa commented on #34
Awesome @jaykappa I think we should go ahead with D. Let's meet up tomorrow morning after or during stand up and sort through the details together.

[2015-07-07 01:03] fauzanalfi commented on #47
@lovegushwa
Awesome! But, there's a missing period after 'Bagikan' on poster. It should be like 'Bagikan' on postcard which has period at the end.

Overall, it's super awesome!

Thanks a lot :D
/cc @secretrobotron

[2015-07-07 01:12] peiying2 commented on #80
A general comment, if we have these posters in other languages, let's also get them reviewed before releasing them.  Sometimes accents could be wrong or missing.

[2015-07-07 01:40] panaggio opened #86 "Brazil GTM - Set up our IRC channel"
Well, most of us are always on IRC, so setting an IRC channel for us should be good. Even if it's not our main channel, it'd be a good secondary/tertiary/... channel.

Is #webmaker-br, which already exist, good enough?

[2015-07-07 02:09] jaykappa commented on #34
Amazing @lovegushwa ! I'm free all day tomorrow shoot me an email and I'll be ready to go through things.

[2015-07-07 02:20] maktrix commented on #80
Bengali is written in "Complex Script"; Unicode has our complex script included, we use Unicode to write Bengali in places on the Internet and Web; as Belayet wrote his mail to translate strings through Unicode Bengali.

Unfortunately, most of the popular desktop publishing applications (DTP Apps) does not support UNICODE Bengali. So, copying text from what we wrote, will display this kind of "non

[2015-07-07 03:32] panaggio opened #87 "Brazil GTM - Partnership with Garoa"
Goal:

* Get this partnership up and running
* Get recurrent activities happening there

@cynthiapereira started a partnership with Garoa Hacker Clube, a lot of mozillians (including me, @melissacd and several others) participated on the first workshop, but than people disappeared, and @cynthiapereira was left alone :(

We need to get this back on track. Alexandre, another community member, showed

[2015-07-07 03:41] panaggio opened #88 "Brazil GTM - Partnership with Novatec"
Goal:

* Get this partnership up and running
* Get recurrent activities happening there

@cynthiapereira said she talked to Novatec people, and they offered space (which could be used for training sessions and stuff like that), but for the same reason the partnership with Garoa (#87) stopped, this never started (correct me if I'm wrong @cynthiapereira).

We need to get this back on track. @cynthia

[2015-07-07 04:58] cpswsg commented on #87
cc @alexandre

[2015-07-07 05:22] lovegushwa commented on #47
lol @fauzanalfi I only fixed one, thanks!

[2015-07-07 09:08] cecilepompei commented on #25
Probably fits our timeline to do a big kick off in Q3 so around September/October as well !

[2015-07-07 14:24] alexandre commented on #87
(y)

[2015-07-07 14:24] alexandre commented on #87
I'm watching/following the repo now. =]

[2015-07-07 16:15] secretrobotron commented on #79
@rodrigowaters @cynthiapereira @melissacd @panaggio when you get a minute, can you review these posters once more? @lovegushwa wants to send them to the printers ASAP.

[2015-07-07 16:32] cyz commented on #79
Hi @secretrobotron, this task's for me or @cynthiapereira?

[2015-07-07 16:37] secretrobotron commented on #79
@cyz your help would be appreciated too!

[2015-07-07 16:38] alamanda commented on #49
@AgungFirdausi @fahrulrazy please update your school visit plan (related to mozilla club activities and webmaker app introduction) to this page. we can share them with the school visit team, so that everything is integrated. thank you:)

[2015-07-07 16:50] KevZawacki commented on #38
More bugs:
- [x] Google+: https://github.com/mozilla/learning-networks/issues/199
- [ ] Wikipedia: https://github.com/mozilla/webmaker.org/issues/1421
- [x] Mozilla.org: https://bugzilla.mozilla.org/show_bug.cgi?id=1172771

Note: SUMO is going to require a major overhaul. Logos, copy, updating/removing legacy tools, etc. https://support.mozilla.org/en-US/products/webmaker

[2015-07-07 17:16] alamanda commented on #45
Hi everyone!
It will be great if you can share your school visit plan, so I can start calculating swag allocation, because I already have maximum number of swag we can have for this project in Indonesia. Thanks!

[2015-07-07 17:22] cpswsg commented on #79
Hi @secretrobotron, it's all ok!

[2015-07-07 17:24] lovegushwa commented on #79
Great! thank you @cynthiapereira and @cyz

[2015-07-07 17:55] lovegushwa commented on #80
@maktrix Thank you. I completely agree that translation and localization should not be rushed. The current situation is not ideal.

Below is the exact text we need translated and then shared in a format that does not corrupt.
Can you help us get a working translation that we can forward on to a designer that understands Bangla? (perhaps a .rtf file?)

POSTER & POSTCARD
- Discover. Create. Share.
-

[2015-07-07 21:44] lovegushwa commented on #80
@bellayet  Can you place your translation in this google doc? We are having issues with UNICODE script not displaying correctly and pasting the script into a Google doc should be a good workaround.

https://docs.google.com/document/d/1mPIRPj1thXT16fHUhkM3IpmMUmkM7s5PAt1uI_OH9GI/edit?usp=sharing

CC @maktrix @secretrobotron @HPaulJohnson

[2015-07-07 22:51] jaykappa commented on #34
R? @cassiemc @lovegushwa Here is a red pen url to review the assets at this point:
https://redpen.io/p/ch9b83172b72ab93bf

[2015-07-07 23:03] giuseppe-828 commented on #80
@bellayet Once you place the Bengali strings into the spreadsheet, I'll move them into InDesign.

I'd love to be able to do a screenshare/Google Hangout so we can quickly adjust and confirm the results. Let me know what times would work best for you.

[2015-07-07 23:56] lovegushwa commented on #80
@tlow87 @bellayet  I used the Adobe world ready single line composer feature in indesign and I think resolved the issues with the script breaking. Please advise if the poster and postcard now read correctly!

POSTER
![webmaker-poster4-final](https://cloud.githubusercontent.com/assets/12228435/8559975/f92d8cc4-24c7-11e5-93c7-fb446aa4cf41.jpg)

POSTCARD FRONT
![webmaker-postcard-5x7in-final](https:/

[2015-07-08 00:12] giuseppe-828 commented on #80
I believe you must enable the World-Ready Composer, but it may also be useful to follow the instructions under Set Indic Preferences (http://blogs.adobe.com/vikrant/2012/05/indesign-cs6-indic-support-and-preferences/). Fingers crossed!

[2015-07-08 01:09] HPaulJohnson commented on #25
Thanks, @anistuhin, I have been out of the office too so no problem!

We are planning our heaviest promotion around launch for August, so having street teams at the end of August would be perfect.

When you have some time to begin discussing details let me know and we can start planning our support for these events.

[2015-07-08 01:12] HPaulJohnson commented on #24
@atiqueahmedziad - when is your event and what type of router would be required to connect all of the attendees? I can look into options about whether it would be possible for us to supply one in time for your event?

[2015-07-08 01:14] HPaulJohnson commented on #11
where has marketing been for the last 2 weeks?!?

[2015-07-08 04:02] fahrulrazy commented on #49
this is from Makassar, still using Indonesian language
https://docs.google.com/document/d/1D-W9S5Q76ivmTPca9HabIk-pvZStMPi-9ZEZVSKElbk/edit?usp=sharing

[2015-07-08 04:07] mfachrulrazy commented on #49
Sorry, this is the update doc of our planning about school visiting
https://docs.google.com/document/d/1D-W9S5Q76ivmTPca9HabIk-pvZStMPi-9ZEZVSKElbk/edit?usp=sharing

[2015-07-08 04:09] alamanda commented on #49
no worries about the language. we'll translate it into english whenever necessary. otherwise, let's use the document as it is in bahasa indonesia. thanks!

[2015-07-08 04:28] alamanda commented on #49
@fauzanalfi how many schools do you think mozilla club in bandung can handle? we would like to have a strong presence in bandung as this city known as 'the city of education'

[2015-07-08 04:54] atiqueahmedziad commented on #24
@HPaulJohnson Thanks for the reply, last night in a chat with our community people, they said they have managed a router which can connects 100+ people. And I think we can go with that :) Thanks

[2015-07-08 14:27] cassiemc commented on #34
@jaykappa Left a bunch of comments! Would be great to see an update today if possible.

[2015-07-08 14:50] jaykappa commented on #34
Thanks @cassiemc on it right now. All changes applied except for web banners, but that should be done soon and will be uploaded to Red Pen this afternoon.

[2015-07-08 16:25] mauredtha commented on #44
We have created some webmaker content for helping Team 2  #45 to make presentation and tutorial for event on school visitation :
https://beta.webmaker.org/users/50713/projects/3496
https://beta.webmaker.org/users/50713/projects/3448
https://beta.webmaker.org/users/50713/projects/3445
https://beta.webmaker.org/users/50713/projects/204
https://beta.webmaker.org/users/426154/projects/2926
https://bet

[2015-07-08 17:34] secretrobotron commented on #80
@maktrix @bellayet can you check out the poster above again? @lovegushwa spent some more time to get those characters right.

[2015-07-08 17:59] peiying2 commented on #80
Mak and Bellayet, Webmaker, according to brand guideline, needs to be kept in English.  You can put the translated names in parenthesis as an alternative.

[2015-07-08 18:37] secretrobotron commented on #80
@jaggedzak had a look at the posters — they looks alright. Nothing funny anymore.

[2015-07-08 18:37] secretrobotron commented on #80
@peiying2 good catch. @KevZawacki @HPaulJohnson @cassiemc thoughts?

[2015-07-08 21:02] secretrobotron commented on #12
#### Prioritize push notifications
- Rate the app
- Share the app
- Inspiring Content

##### Onboarding email
- Tips & tricks
- Starter content

cc @HPaulJohnson @adamlofting

@thisandagain how do we do push notifications?

[2015-07-08 21:29] mmmavis commented on #38
Do we plan to update favicon as well?
e.g., http://mozilla.github.io/learning-networks/clubs/ and https://blog.webmaker.org/ (these are just the 2 examples I can think of)

[2015-07-08 21:51] cassiemc commented on #80
Seems right to keep Webmaker in English (don't think I'd include the translated names)

[2015-07-08 21:52] HPaulJohnson commented on #80
I agree. Pretty standard to leave brand/wordmark untranslated.

[2015-07-08 21:57] xmatthewx commented on #38
Good catch @mmmavis. @vazquez made a favicon for beta dot webmaker, but I'm not sure if we have optimized versions for different standards like iOS yet.

[2015-07-08 23:16] peiying2 commented on #80
Well, brand/product name localization is a hot topic that we are discussing right now.  This is a major issue for lots of  languages, especially those based on non-Latin scripts. Here is the discussion on that: http://tinyurl.com/qh6xe4u.
We are conducting a survey with the l10n communities on this so we can revisit the current guidelines and look into possible exceptions with Brand/Creative team'

[2015-07-09 00:15] mfachrulrazy commented on #45
Hello all.. this is our planning of Webmaker Roadshow in Makassar >> https://docs.google.com/document/d/1D-W9S5Q76ivmTPca9HabIk-pvZStMPi-9ZEZVSKElbk/edit?usp=sharing

[2015-07-09 03:14] cecilepompei opened #89 "Monetization"
@secretrobotron @davidascher @simonwex @benrito
One of the comment I hear a lot is can we add some monetizing option on Webmaker
It would open to new customers such as SME

(I remember I had mentioned and you explained it is quite complex)

[2015-07-09 13:23] cassiemc commented on #80
This is an awesomely resourceful doc @peiying2 thank you for sharing that! Would love to be kept in the loop on that discussion. Is there a bug somewhere I can add myself to the cc list?

[2015-07-09 16:32] secretrobotron commented on #48
@fauzanalfi @kelimuttu there's another localization ask here. @KevZawacki has a spreadsheet with several small blurbs about Webmaker for social media. I've added it to https://github.com/mozilla/webmaker-launch/wiki/Localization for reference. Think you can help?

https://docs.google.com/spreadsheets/d/1tWRmjYW_DUH-YhpmsF5rcbHPeSF6eeu-3Yy-_FdTcvU/edit#gid=443327769

[2015-07-09 16:34] secretrobotron commented on #37
@bellayet @maktrix @jaggedzak are you able to jump back in to help @KevZawacki with that spreadsheet?

https://docs.google.com/spreadsheets/d/1tWRmjYW_DUH-YhpmsF5rcbHPeSF6eeu-3Yy-_FdTcvU/edit#gid=443327769

If there are particulars in translating to Bangla (language, script, or otherwise), please let us know. We can work on making it sound good together.

[2015-07-09 16:49] kelimuttu commented on #48
@secretrobotron sure. We can work on that since we also have plan to help communication team.

[2015-07-09 16:52] secretrobotron commented on #48
:+1: thanks @kelimuttu :D

[2015-07-09 17:10] secretrobotron commented on #89
For the record, what is SME?

[2015-07-09 17:23] jaykappa commented on #43
With some incredible image selections from @lovegushwa the Partners Kit has been updated for Review:

https://dl.dropboxusercontent.com/u/3603970/2015-Webmaker-PartnerKit-Eng-V9-Spreads.pdf

@cassiemc @edrushka @HPaulJohnson

[2015-07-09 18:03] jaykappa commented on #43
The kit has been updated with the new screens as suggested.

**PDF Download:**
https://dl.dropboxusercontent.com/u/3603970/2015-Webmaker-PartnerKit-Eng-V10-Spreads.pdf

**Screenshots**
![2015-webmaker-partnerkit-eng-v10](https://cloud.githubusercontent.com/assets/1036635/8602947/231c2834-2643-11e5-90b9-39f1131a8c61.jpg)
![2015-webmaker-partnerkit-eng-v102](https://cloud.githubusercontent.com/asset

[2015-07-09 18:42] rara79 commented on #50
- @alamanda  has followed up more with Karen. The proforma invoice for 50% down payment has been sent. Waiting for the payment right away.
- Need to be careful with swag allocation for the events scheduled in August 1-4th, as everything will be ready by August 4th. The printer had a sudden and extensive  order last week when @alamanda  was out in Scotland without connection!:(
- @rara79 and @willi

[2015-07-09 20:16] xmatthewx opened #90 "Prep announcement on Terms update (CC license)"
We will soon release new terms of service and need to notify users of the changes, particularly around the new CC license.

@HPaulJohnson - do you have other emails going out to all users? We can include this statement in another message as long as it has prominence. Or, we can send it separately if we want to explain the spirit of CC a bit more.

The one open question that will impact the languag

[2015-07-09 22:34] HPaulJohnson opened #91 "Build - Webmaker Email Template for BSD"
Description: Create a new email template for BSD that utilizes new Webmaker branding.

Driver: @HPaulJohnson
Design: @lovegushwa

NOTE: for now we will use Mozilla branded template along with Webmaker email callout graphic being finalized now. This template would replace and/or be tested against that approach and be used for transactional emails where HTML templates are supported.

[2015-07-09 22:36] HPaulJohnson commented on #34
Adding a new deliverable to create a Webmaker email template for BSD. Tracking in https://github.com/mozilla/webmaker-launch/issues/91

[2015-07-09 23:39] lovegushwa commented on #91
@HPaulJohnson @cassiemc
1. Any good benchmarks for this and or where can I find the Mozilla brand email template?
2. I assume I can use the email content from the partners kit Jay is working on?

I found these searching "email" on https://assets.mozilla.org/portal/assets/
![screen shot 2015-07-09 at 4 36 35 pm](https://cloud.githubusercontent.com/assets/12228435/8609336/c24b1572-2658-11e5-95f6-fa5

[2015-07-09 23:56] HPaulJohnson commented on #91
@lovegushwa unfortunately, Firefox uses a different email platform at the moment so those templates might not be transferable. I'll send you some samples directly from BSD for reference (Mozilla template and old Webmaker template).

I'm just looking for the wrapper here so don't worry too much about what goes inside copy-wise. It would be fine to use what's in the partner kit as placeholder though

[2015-07-10 00:05] sabrinang commented on #91
We planned a BSD templates previously for teach the web ( the old bug here: https://bugzilla.mozilla.org/show_bug.cgi?id=1113753 )

Redpen here: https://redpen.io/sned34e7d965da87ac
![teachtheweb_email_template](https://cloud.githubusercontent.com/assets/2492510/8609595/39feeadc-265c-11e5-8290-2b8fb8b6bd75.png)

From what I remembered BSD had some limitations so it didn't end up looking exactly li

[2015-07-10 00:17] HPaulJohnson commented on #90
@xmatthewx when you refer to all users do you mean anyone who has downloaded the new Webmaker app? This is related to your second question, I suppose, re: whether this is retroactive.

Is there specific legalese that we need to send? And, does it need to be communicated via email or can it be done via blog?

The current Mozilla template that we use for many of our mailing already has this small pr

[2015-07-10 00:30] lovegushwa commented on #34
@jaykappa @cassiemc @HPaulJohnson

A few ideas for the mix. I'm really most interested in resolving the horizontal banner. The vertical banners tend to work out because you can left alight elements. An issue with horizontal banners is shifting baselines when trying to align with the logo. Also we often end up with 3 competing visual elements. Using an icon based download button creates a varied mi

[2015-07-10 01:16] mmmavis commented on #91
Heyyy @lovegushwa

Email templates are very tricky to design/implement as clients render them (hugely) differently.  :cry: :cry: :cry: And BSD doesn't make it any easier for us.

**Rule of thumb** ...

### DESIGN LIKE YOU ARE STILL IN THE EARLY 90s :sob:
- The safest way to make sure email template gets rendered as close as what we expected is to code everything in **nested `<table>`**.
  - forget

[2015-07-10 01:20] mmmavis commented on #91
@HPaulJohnson @adamlofting will we need to include GA script as well?

[2015-07-10 04:26] cecilepompei commented on #89
Small and Medium business - it is all the small businesses that could
benefit from showing what they have (pictures of fruits, price lists, menus
and more) and allow people to buy online directly

On Thu, Jul 9, 2015 at 8:10 PM, Bobby Richter notifications@github.com
wrote:

##

Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-07-10 08:51] alamanda commented on #46
@andi-belutz can we use the same proposal draft for them? would you like to start conversation with those whom you already know?
@ariestiyansyah would you start initial contact with those people on your list? what can we expect from them?

[2015-07-10 09:01] alamanda commented on #46
@secretrobotron this is the venue where we have Firefox 4 Launch event. Start from this picture: https://www.flickr.com/photos/salihara/14954259966/in/album-72157646639389331/ to the right until finish.

the venue listed by @andi-belutz is Jakarta Digital Valley. we used it for #MozKopdar in June 2015 where @wquiviger was in Jakarta. This picture capture the size of the venue: https://www.flickr.c

[2015-07-10 13:35] xmatthewx commented on #90
The changes to the TOS will impact new Android users as well as anyone who made something on Thimble etc in the past. We could announce the update in the tools, but that would require a bunch of engineering. Let's meet to discuss.

[2015-07-10 13:59] benrito commented on #89
SME is an acronym for “small and medium enterprise.”

Know that this kind of thing is very unlikely in our current roadmap, but Cecile is conveying that we are getting a clear message from organizations in the field. So worth sharing the message.

[2015-07-10 16:18] cassiemc commented on #34
I like the download button and am okay with the light purple text. I don't think it's really necessary but I defer! The download icon is cool and I like the varied widths of the columns... Would just even out the margins on the left and right side of the 'discover, create,share' block as it feels a little too far to the right imo.

[2015-07-10 16:26] jaykappa commented on #34
I'm happy with those alterations as well! greatness @lovegushwa
Here's the implementations of the previous comments prior to these on RedPen:

**Edit: Updated URL**
https://redpen.io/p/kd1c6243cb0d99e41c

[2015-07-10 17:20] secretrobotron commented on #89
:+1: understood.

[2015-07-10 17:54] Nhie commented on #48
@ariefbayu, @yofiesetiawan , @deryanEM , @technowizard, @pixelglass, Ginanjar Dan Ahmad Munif

Saya minta maaf sebelumnya tidak mengabari apapun ke kalian sehingga kesannya saya menghilang.
Saya tidak ada kabar karena kerjaan dikantor lagi very very hectic. Layanan kantor lagi mengalami masalah system error dan saya menangani customer handling-nya. Menyelesaikan semua transaksi user yg error dan i

[2015-07-10 18:11] lovegushwa commented on #91
@HPaulJohnson @mmmavis @sabrinang Thanks for the benchmarks and great direction!

[2015-07-10 18:25] cassiemc commented on #91
FYI here is an old file I did for Login. I don't think it ever got implemented. Assets are here: https://www.dropbox.com/sh/6bivzh6jj9mhq3i/AABDz0q2flIXUZ1u4GOs18WGa?dl=0
![teach-welcome-email-approved](https://cloud.githubusercontent.com/assets/1186326/8625875/68c5c3aa-270f-11e5-8d21-d75fb2ba5555.jpg)

[2015-07-10 21:15] xmatthewx commented on #90
announcement requires terms to be posted: https://github.com/mozilla/webmaker-browser/issues/152

[2015-07-10 21:16] jaykappa commented on #34
**Squares**
![2015-webmaker-webbanners-square-200x200](https://cloud.githubusercontent.com/assets/1036635/8629162/f27ee722-2726-11e5-9e63-7283e1958b5a.jpg)
![2015-webmaker-webbanners-square-250x250](https://cloud.githubusercontent.com/assets/1036635/8629163/f27fc3e0-2726-11e5-9d6b-7e014b499c90.jpg)

**Horizontals**
![2015-webmaker-webbanners-horz-728x90-v1](https://cloud.githubusercontent.com/asse

[2015-07-10 21:17] jaykappa commented on #34
@edrushka @lovegushwa For localization I would need translations of the following please:

a) Download The App
b) Download (I technically have this, but just in case)
c) Webmaker lets you build and share original content on your smartphone. Start creating in minutes.
d) Learn More

[2015-07-13 03:32] budiman11120905 commented on #45
@technowizard : would that letter have a letter head for looks like official? #budimanopinion

[2015-07-13 06:19] kelimuttu commented on #47
Dear @secretrobotron, there's a mistake on the translation in Google play store. It written "Buat. Temukan. Share. Sebuah menyenangkan, cara mudah untuk berpartisipasi di Web."
![photo_2015-07-13_13-06-55](https://cloud.githubusercontent.com/assets/4922388/8643640/c2d7e956-2960-11e5-974c-3af6e3c4fad2.jpg)
It ruin the meaning, lol. It should be 'Buat. Temukan. Bagikan. Sebuah cara mudah dan menyena

[2015-07-13 13:32] ldecoursy commented on #90
cc @hannahkane re: Thimble.

I might suggest a separate but simple email to registered users a la the examples below, but in the spirit of web literacy, and like @xmatthewx's suggestion above, include some tips/tidbits about CC and what TOS is in general.

![screen shot 2015-07-13 at 9 28 40 am](https://cloud.githubusercontent.com/assets/4885898/8650571/a55a79a8-2941-11e5-9195-ea9c75807a3e.png)
![

[2015-07-13 13:33] cassiemc commented on #34
Thanks @jaykappa! @vazquez @lovegushwa Could you guys help with the pixelation in phone on the above images? That's the last bit of visual correction we need to finalize these.

Re. the translations we should really aim to do that Mon/Tues of this week since Friday is @jaykappa's last day on the project, and would be great to get translator's approval before then. cc @HPaulJohnson

[2015-07-13 14:00] secretrobotron commented on #47
Thanks @kelimuttu!

@HPaulJohnson @thisandagain how did these get translated? Through play store system? How can we fix?

[2015-07-13 15:47] secretrobotron commented on #9
@adamlofting login is in place now. Are we able to filter by account creation and login?

[2015-07-13 15:57] secretrobotron commented on #45
Document signed!

[2015-07-13 17:34] KevZawacki commented on #47
Hi @kelimuttu and @fauzanalfi,

We're finalizing a few more Webmaker assets (https://github.com/mozilla/webmaker-launch/issues/34), and hoping you can help translate a few phrases:

-Download The App
-Download
-Webmaker lets you build and share original content on your smartphone. Start creating in minutes.
-Learn More

Thanks for your help!
cc @jaykappa

[2015-07-13 17:35] KevZawacki commented on #80
Hi @maktrix and @peiying2,

We're finalizing a few more Webmaker assets (https://github.com/mozilla/webmaker-launch/issues/34), and hoping you can help translate a few phrases:

-Download The App
-Download
-Webmaker lets you build and share original content on your smartphone. Start creating in minutes.
-Learn More

Thanks for your help!
cc @jaykappa

[2015-07-13 17:36] KevZawacki commented on #79
Hi @panaggio,

We're finalizing a few more Webmaker assets (https://github.com/mozilla/webmaker-launch/issues/34), and hoping you can help translate a few phrases:

-Download The App
-Download
-Webmaker lets you build and share original content on your smartphone. Start creating in minutes.
-Learn More

Thanks for your help!
cc @jaykappa

[2015-07-13 18:27] peiying2 commented on #80
@cassiemc, please add yourself to this bug: 939902.  I also would check who else have asked me to get access to the document.  I will inform everyone when we have another meeting with branding/creative team.

[2015-07-13 18:28] KevZawacki commented on #34
Re: translations, I've dropped requests into https://github.com/mozilla/webmaker-launch/issues/79#issuecomment-121001321, https://github.com/mozilla/webmaker-launch/issues/80#issuecomment-121001121 and https://github.com/mozilla/webmaker-launch/issues/47#issuecomment-121000810. Will keep all in this ticketed posted.

[2015-07-13 19:32] lovegushwa commented on #34
@jaykappa are you using the current version of "Webmaker-Screens.pdf" in _PROCESS?
I fixed the issue with the button. Also you will find all the localized screens.

[2015-07-13 19:59] jaykappa commented on #34
@lovegushwa I was using the one that went up maybe 5-6 days ago, the white stroke on the blue button needed to be outlined to prevent the pixelation which is fine, but the camera is the new issue. When reduced it pixelated. I'll eye drop the PDF and apply the changes to the camera vector component I have. Hopefully that'll fix everything.

[2015-07-13 20:30] peiying2 commented on #80
@maktrix @bellayet, Please respond to KevZawacki ASAP.  I found a few exact matches in https://transvision.mozfr.org, but would be reluctant to recommend anything without your review.

[2015-07-13 20:31] hannahkane commented on #90
+1 to an email to all users. Also, just added a ticket to Thimble repo to link to TOS from footer (https://github.com/mozilla/thimble.webmaker.org/issues/696)

[2015-07-13 21:41] maktrix commented on #80
-Download The App
-এপটি ডাউনলোড করুন

-Download
-ডাউনলোড

-Webmaker lets you build and share original content on your smartphone. Start creating in minutes.
-Webmaker আপনার স্মার্টফোনে মৌলিক কনটেন্ট তৈরী ও শেয়ার করতে সহায়তা করে। মিনিটের মধ্যেই তৈরী করুন।

-Learn More
-আরও শিখুন

[2015-07-13 21:47] lovegushwa commented on #34
@jaykappa Let me know if you need me to build a different kind of file for you than a PDF.

[2015-07-13 21:47] HPaulJohnson commented on #90
Agreed. Draft copy to be circulated tomorrow. Mailing date tentatively set for 7/18.

[2015-07-13 22:01] jaykappa commented on #34
Thanks @lovegushwa I'll do what I can tonight, and will throw it to you for review. it won't be the best solution but it'll work for digital assets

[2015-07-13 23:16] cpswsg commented on #79
- `Download The App`  Baixar o aplicativo
- `Download`  Baixar
- `Webmaker lets you build and share original content on your smartphone. Start creating in minutes.`
  Webmaker permite que você faça e compartilhe conteúdo original em seu smartphone. Comece a criar em minutos. **
- `Learn More` Saiba mais

*\* @panaggio, could you review this item, please?

[2015-07-14 04:23] fauzanalfi commented on #47
Hi @KevZawacki,

Here are the translated phrases (in the same order):
- Unduh Aplikasinya
- Unduh
- Webmaker membantumu membuat dan membagikan konten orisinal di ponsel pintarmu. Mulailah berkreasi dalam hitungan menit.
- Pelajari Lebih Lanjut

/cc @kelimuttu @secretrobotron

[2015-07-14 09:39] adamlofting commented on #12
### For context:
1. We're ready to work on email notifications
2. We're not ready to work on app push notifications (we need to research, pick a provider and do a vendor review).

#### Let's not delay progress on emails

We want to:
- Make some improvements to the existing Sawmill setup (Andrew had some ideas here)
- Send the final email data through Mandrill.com rather than through Amazon SES. Th

[2015-07-14 11:05] adamlofting commented on #91
GA tracking is added at the time of email build (using the template) so we don't need to worry about this at the template building stage.

I'd advocate for making this 'template' _extremely simple_ given the number of people who browse and triage emails on their phones first these days (and our mobile-first / mobile-only target market).

[2015-07-14 13:13] KevZawacki commented on #47
Thanks so much, @fauzanalfi!

cc @jaykappa

[2015-07-14 13:18] KevZawacki commented on #79
Thank you, @cynthiapereira

cc @jaykappa

[2015-07-14 13:20] KevZawacki commented on #34
@jaykappa @lovegushwa @edrushka

We have translations for the four outstanding phrases:
https://github.com/mozilla/webmaker-launch/issues/79#issuecomment-121001321
https://github.com/mozilla/webmaker-launch/issues/80#issuecomment-121001121
https://github.com/mozilla/webmaker-launch/issues/47#issuecomment-121000810

[2015-07-14 13:21] KevZawacki commented on #80
Thanks very much, @maktrix

[2015-07-14 13:22] jaykappa commented on #34
Thank you @KevZawacki the camera pixelation renderings will be up shortly so localization can happen today as well @cassiemc @lovegushwa @edrushka

[2015-07-14 13:51] jaykappa commented on #34
Here's the WebBanners with the pixelation fixed for R? @cassiemc @lovegushwa

![2015-webmaker-webbanners-horz-300x250](https://cloud.githubusercontent.com/assets/1036635/8674739/c7d2e976-2a0d-11e5-9a22-4d617cfa8a0f.jpg)
![2015-webmaker-webbanners-horz-728x90-v2](https://cloud.githubusercontent.com/assets/1036635/8674744/cb67dfb0-2a0d-11e5-965d-9ca1a5869350.jpg)
![2015-webmaker-webbanners-horz-728x

[2015-07-14 14:33] cassiemc commented on #34
I still see pixelation around the UI buttons. @jaykappa can you email me a zip file so I can see if it is just a web compression thing?

[2015-07-14 14:54] KevZawacki commented on #78
Hi @melissacd,

If you're available, I think it may be useful for us to connect for ~30 minutes next week and talk about Webmaker social media. We can share best practices and figure out how to best support each other's work on Twitter and Facebook.

Is there a time/day that works best for you? And what's the best way to connect — Skype?

[2015-07-14 14:57] KevZawacki commented on #48
Hi @ariestiyansyah, @yofiesetiawan, @nhie, @deryanEM, @technowizard, @ariefbayu and @pixelglass,

If you're available, I think it may be useful for us to connect for ~30 minutes next week and talk about Webmaker social media. We can share best practices and figure out how to best support each other's work on Twitter and Facebook.

Is there a time/day that works best for you? And what's the best wa

[2015-07-14 14:59] KevZawacki commented on #37
Hi @SOFTowaha, @maktrix and @bellayet,

If you're available, I think it may be helpful if we all connected for about 30 minutes next week to talk about Webmaker social media. We can share best practices and figure out how to best support each other's work on Twitter and Facebook.

Is there a time/day that works best for you? And what's the best way to connect — Skype?

Looking forward!

[2015-07-14 15:12] technowizard commented on #45
@secretrobotron: thank you :)

Hi everyone, sorry for slow response,

So here is the latest letter for school (Indonesian version on 2nd page):
https://docs.google.com/document/d/1pCW4ss5Yy-SymY5bSCUEwcutYh2OZBfpe_5avlRE3UU/edit?usp=sharing -> edited, i think the previous person is another letter for Sponsorship.

@ariestiyansyah, @dikyarga, @eriskatriana, @agungf, @budiman11120905, @ariefbayu, @f

[2015-07-14 17:04] cassiemc commented on #34
The images were still pixelated in the zip. The original pdf is not pixelated, so it's probably something to do with the way the image is being placed into the file. Hoping @jaykappa can share his source file here so I can check it out. We'll get to the bottom of this! ;)

[2015-07-14 17:27] jaykappa commented on #34
Here's the source file for download @cassiemc :

https://dl.dropboxusercontent.com/u/3603970/2015-Webmaker-WebBanners-Eng-V10.zip

[2015-07-14 19:24] SOFTowaha commented on #37
Can you fix a date and time @KevZawacki ? I'm flying to Edinburgh next week[Mon, 20-Jul-15]; so, I'll be busy before I'm there; I'm free on 23-26th July;
So, feel free to fix a time within that; I'll let you know when I'm available :)

[2015-07-14 20:16] cassiemc commented on #34
The problem is definitely in the .ai file prior to export, 2015-Webmaker-WebBanners-Eng-V10.ai. You can see it clearly in the Phone-5.ai file as well – a thin white outline around the button that seems extraneous and odd. However even when I remove that, it looks fine up close up but zoomed out (or exported) it looks pixelated again.

I realize this is a hassle but can't seem to correct the proble

[2015-07-14 20:23] jaykappa commented on #34
Was hoping this wasn't going to be the case @cassiemc but it makes sense as the method to proceed in to ensure the no-aliasing. I'll do as much as I can as quickly as I can and post back once complete.

[2015-07-14 21:41] jaykappa commented on #34
Here it is @cassiemc - I hope it's perfect (fingers crossed)!

![2015-webmaker-webbanners-horizontal-300x250](https://cloud.githubusercontent.com/assets/1036635/8685849/8cd9aade-2a4f-11e5-8a83-75aae0e337db.jpg)
![2015-webmaker-webbanners-square-200x200](https://cloud.githubusercontent.com/assets/1036635/8685847/8cd77b24-2a4f-11e5-9125-1b42b8112c9c.jpg)
![2015-webmaker-webbanners-square-250x250](ht

[2015-07-14 21:58] cassiemc commented on #34
Woohoo!! Looks great to me, @jaykappa! R+. @lovegushwa you want to take a look as well before we close out the web banners?

[2015-07-14 22:42] lovegushwa commented on #34
@cassiemc @jaykappa Yay looks great! Jay if it's not a hassle can you kern in the period after the r on discover a hair?

[2015-07-14 23:28] jaykappa commented on #34
@lovegushwa not a problem I'll make it happen.
@cassiemc are translations needed for web banners?

[2015-07-15 00:28] cassiemc commented on #34
Good question. I'd imagine so, @HPaulJohnson / @edrushka can you confirm? ^^

[2015-07-15 00:31] HPaulJohnson commented on #34
Would be nice to have them translated so that we can make them available to local partners for use on their sites.

[2015-07-15 00:40] HPaulJohnson commented on #12
@adamlofting great news. I'm working on emails for 3, 7 days and 14 days now. Going to work with @secretrobotron to come up with some key "tips & tricks" (inspired by Evernote onboard emails) to feature in these messages. Should have something for localizing by Thursday and ready to implement by end of next week.

I'd still like to try a "share and/or rate the app" version at some point (could be

[2015-07-15 02:18] mfachrulrazy commented on #45
here's our school visit plan from Makassar (east Indonesia):
https://docs.google.com/spreadsheets/d/1kVj2d_1JOkqwK3xemHarxjTLFM8r7HuZHQeboJHBqXo/edit?usp=sharing
@technowizard @alamanda @secretrobotron
Thank you..

[2015-07-15 14:23] secretrobotron commented on #45
@fahrulrazy @technowizard @budiman11120905 added a mozilla letterhead. Look alright?

[2015-07-15 14:55] melissacd commented on #78
Hi @KevZawacki the best days for me are monday or tuesday at any time. My skype user is Melissa.Devens :)

[2015-07-15 17:09] atiqueahmedziad commented on #24
Hello all,
We have talked with our principal, and they will respond as soon as the college opens i.e. 22nd july. Hopefully, we will get the permission. After 22nd we will be starting promoting the event both online & offline officially. And the event is gonna be hold on 1st August. I will share the details of my promoting steps soon with you :)
Thanks :)

[2015-07-15 18:24] lovegushwa commented on #34
@jaykappa please post localized banners (or a single banner that includes all language on these issues and ask for a review from the community member that posted the translation.) #80 #47 #79
Be sure to cc @KevZawacki @secretrobotron and myself so we can chase down a review if necessary.

I can help with the Bangladesh localization if needed, it takes a little Adobe wrangling. Just send me a link

[2015-07-15 19:19] jaykappa commented on #34
Thanks @lovegushwa - I for sure believe the copy and paste might be off for Bangla. The AI's are all on Drive I just finished uploading. I'll post the translations up on each issue page now.

[2015-07-15 19:22] jaykappa commented on #47
@fauzanalfi would you mind reviewing the following to ensure translation was applied appropriately:

![2015-webmaker-twitter-1760x800-ind](https://cloud.githubusercontent.com/assets/1036635/8707673/3f018118-2b05-11e5-8da1-c6de5e4254e0.jpg)
![2015-webmaker-webbanners-horz-468x60-ind](https://cloud.githubusercontent.com/assets/1036635/8707672/3f018406-2b05-11e5-920e-9b5748acac7f.jpg)
![2015-webmaker

[2015-07-15 19:23] jaykappa commented on #79
@cynthiapereira would you mind reviewing the following to ensure translation was applied appropriately:

![2015-webmaker-webbanners-horz-468x60-por](https://cloud.githubusercontent.com/assets/1036635/8707721/7c845650-2b05-11e5-9a84-13f4e6513961.jpg)
![2015-webmaker-webbanners-horizontal-300x250-por](https://cloud.githubusercontent.com/assets/1036635/8707720/7c83fba6-2b05-11e5-821c-2016e7406f61.jpg

[2015-07-15 19:29] jaykappa commented on #80
@maktrix  would you mind reviewing the following to ensure translation was applied appropriately (I fear some copy and paste issues may have occured):

![2015-webmaker-twitter-1760x800-ban](https://cloud.githubusercontent.com/assets/1036635/8707851/433be98e-2b06-11e5-9210-798d75557e5a.jpg)
![2015-webmaker-webbanners-horz-468x60-ban](https://cloud.githubusercontent.com/assets/1036635/8707854/434094

[2015-07-15 20:29] HPaulJohnson commented on #90
We have some draft copy but also some lingering questions/concerns.

https://etherpad.mozilla.org/cc-tos-update-email

Main concern is around partners who have contributed content and will be impacted by this change in that it retroactively covers existing content. To mitigate those concerns two questions:
- A justification for why we are making this change? We'd want to add this to the communicat

[2015-07-15 20:43] KevZawacki commented on #78
Great. How about Tuesday, July 21 at 3:30 p.m. ET? I'll give you a call via Skype.

@HPaulJohnson may be joining us, too.

Looking forward!

[2015-07-15 21:02] KevZawacki commented on #37
Does 7 a.m. ET on Thursday, July 23 work for folks? If not, happy to reschedule -- or hold multiple conversations.

Looking forward!

[2015-07-15 22:22] fauzanalfi commented on #47
@jaykappa sure. I and Indonesian team have reviewed those following assets and everything is perfect. Thanks a lot, Jay!

cc @kelimuttu @KevZawacki @secretrobotron @lovegushwa

[2015-07-15 22:58] HPaulJohnson commented on #90
cc: @secretrobotron - hopefully you can help us get some of these questions answered?

[2015-07-15 23:11] jaykappa commented on #47
thank you @fauzanalfi + team

[2015-07-16 02:40] tapuafrad commented on #80
Again, texts have been broken down completely.

[2015-07-16 04:56] xmatthewx commented on #90
@HPaulJohnson -
1. I added some notes to the pad in response to your first bullet on justification. We might ping Ryan or Mari to see if they have some language crafted already.
2. On the second point, no reuse is easy to track on the nets. A CC license might make it a bit easier, but it certainly doesn't make it more likely that people will steal a curriculum and not give credit. What's to stop s

[2015-07-16 06:14] mfachrulrazy commented on #45
Yes @secretrobotron that would be great... I totally aggree

[2015-07-16 15:32] Nhie commented on #48
Hi @KevZawacki,

Sorry for the delay response.

Let's have the call on thursday or friday next week.
@ariefbayu @yofiesetiawan @deryanEM @technowizard @pixelglass  can you all join?
I think the best way to connect via google Hangout.

Thank You,
..:: Nhie

[2015-07-16 15:55] KevZawacki commented on #48
Hi @Nhie, that sounds great.
How about 8 a.m. ET on Thursday, July 23? And Google Hangout works for me. :+1:

[2015-07-16 16:17] giuseppe-828 commented on #80
@maktrix Below is what I'm able to get out of InDesign. If these are correct, perhaps I can take a shot at it.

![bengali](https://cloud.githubusercontent.com/assets/5862593/8728673/65d5ce3e-2b9b-11e5-8aeb-021553b92008.png)

[2015-07-16 16:54] HPaulJohnson commented on #43
Final changes:
- Change title from "Partner Kit" to "Promotional Kit"
- On page 13, remove "Preload Webmaker on your devices"

[2015-07-16 17:05] jaykappa commented on #43
@HPaulJohnson @edrushka @cassiemc I've updated the source file and PDF's on Google Drive with the two changes noted.

[2015-07-16 18:23] maktrix commented on #80
@tlow87 the characters and vowels rendered perfectly well. These are correct.

Can I suggest a change in translation for the sentcene, "webmaker lets you build and share original content on your smart-phone. Start creating in minutes." If it is possible change the previous translation with, "Webmaker আপনার স্মার্টফোনে মৌলিক কনটেন্ট তৈরী ও শেয়ার করতে সহায়তা করে। মিনিটের মধ্যে তৈরী করা শুরু করুন।"

[2015-07-16 18:30] giuseppe-828 commented on #80
@jaykappa Would you mind sending me the latest InDesign files you were working with? And is there an English reference to make sure I'm pasting the right words in the right spot?

[2015-07-16 18:31] giuseppe-828 commented on #80
@maktrix Would you mind ensuring that all the strings I'll need are in this document? https://docs.google.com/document/d/1mPIRPj1thXT16fHUhkM3IpmMUmkM7s5PAt1uI_OH9GI/edit?usp=sharing

[2015-07-16 18:43] maktrix commented on #80
@tlow87 done.

[2015-07-16 19:19] secretrobotron commented on #45
:+1: let me know if you need anything else here :).

[2015-07-16 20:48] lovegushwa commented on #80
@tlow87 your the best! Jay created the banners in Illustrator, let's hope it's a simple fix like the posters in in-design. Please checkout these links:

https://drive.google.com/file/d/0B0h-htXn09OHY0Ytckgza0I3UGc/view?usp=sharing
https://drive.google.com/file/d/0B0h-htXn09OHMzBzRzhHNmR2TjA/view?usp=sharing

CC @jaykappa

[2015-07-16 21:44] melissacd commented on #78
It's ok for me :D

[2015-07-17 00:37] lovegushwa commented on #91
@HPaulJohnson @cassiemc @flukeout R?

v2 up on redpen!
https://redpen.io/p/jwde743af98c04ef93

v1 for reference
https://redpen.io/p/msf102420595578352

[2015-07-17 14:01] xmatthewx commented on #38
@KevZawacki - besides mozilla assets and style guide, do you see any critical items remaining on this list?

[2015-07-17 17:58] KevZawacki commented on #38
@xmatthewx SUMO is the only major item outstanding. We need to come up with a plan -- I'll open a ticket and drive the project.

[2015-07-17 18:01] xmatthewx commented on #38
Right. Let's file than in the planning repo so you can get support across teams. Thanks for steering that.

[2015-07-17 19:31] KevZawacki commented on #78
Great! It's on my calendar.

[2015-07-17 21:24] secretrobotron commented on #46
@alamanda that's a super nice venue :D.

@andi-belutz I thought I heard someone mention a particularly cool telco/mobile partnership on the phone this week, but I don't remember details. Do you have any updates there?

[2015-07-17 23:36] HPaulJohnson commented on #91
I'm feeling good about these. I think they will serve us well for an initial test of copy vs. image. My main question is still about how flexible they are, particularly the copy-heavy version, as a template. If we want to add more or less copy, change headlines/subheads, etc how much of this is image-based or static vs. easily editable copy?

[2015-07-18 00:00] lovegushwa commented on #91
@HPaulJohnson
Currently the copy heavy version, the body copy will be easy to change, the headlines will need to be images. It's tricky, the bold headline in Fira really is half of the brand so doing headlines with HTML text will limit us to websafe fonts and have a huge negative visual impact.

@mmmavis
Can you elaborate on why we are using BSD since it's so limited? Also many MOCO emails look mu

[2015-07-18 00:58] cpswsg commented on #88
Entrei em contato com o Rubens do Centro de Treinamento do Novatec. Ele me relatou que os objetivos da Novatec é apoiar a comunidade em geral e principalmente apoiar projetos que terão uma continuidade.

Expliquei os objetivos estabelecidos para o Webmaker no Brasil [#67] e ele se mostrou muito receptivo. Fiquei de encaminhar mais informações sobre o projeto por e-mail, baseado no [Webmaker Partne

[2015-07-18 01:10] lovegushwa commented on #80
Hi @maktrix @tapuafrad  I think I have the issue resolved, can you confirm? Thank you!

<img width="940" alt="screen shot 2015-07-17 at 6 04 52 pm" src="https://cloud.githubusercontent.com/assets/12228435/8759676/ed469bf0-2cae-11e5-84b1-49994d8204d1.png">

<img width="1201" alt="screen shot 2015-07-17 at 6 07 03 pm" src="https://cloud.githubusercontent.com/assets/12228435/8759677/f39b29da-2cae-11e

[2015-07-18 07:01] mauredtha commented on #44
Hey @secretrobotron , sorry for slow update, this is the list of the content's link
https://docs.google.com/spreadsheets/d/147Cq03evgpTSC7E0_Svy5Y-32N85273sMKsAsZ2xwBM/edit?usp=sharing

[2015-07-18 09:31] budiman11120905 commented on #45
@secretrobotron : i'm sorry for late reply, because my internet bandwith is limit yesterday

[2015-07-19 18:53] SOFTowaha commented on #37
Count me in;
7:00 AM Thursday, Eastern Time (ET) is 12:00 PM Thursday, British Standard Time (BST)
Let me know the medium of meeting(e.g: skype)

[2015-07-20 05:12] kelimuttu commented on #45
Dear @alamanda , here is our very late school visit plan from Mozilla Club Semarang >> https://etherpad.mozilla.org/ZfP8lYCqBz I have a very bad connection here in Tegal so I just had a chance to publish it now.

[2015-07-20 09:26] adamlofting commented on #91
BSD is our current email platform. We're moving to a shared platform with MoCo this quarter, but it's not ready yet.

[2015-07-20 13:55] KevZawacki commented on #37
Great! Let's meet on Skype -- my username is kevzawacki.

[2015-07-20 18:07] lovegushwa commented on #80
^ @secretrobotron @KevZawacki

[2015-07-20 19:17] SOFTowaha commented on #37
Sweet!
Added;

[2015-07-20 23:34] IanRamosC commented on #88
@cynthiapereira said:
"I talked with Rubens of Novatec Training Center. He told me that Novatec's goals is to support the community and projects that will have continuity.

I explained the objectives established for Webmaker in Brazil[[#67](https://github.com/mozilla/webmaker-launch/issues/67)] and he was very receptive.
I'm in charge of send more information about the project by email, based on [

[2015-07-20 23:57] HPaulJohnson commented on #91
@lovegushwa we need a version that can be used in BSD for the short-term (launch at least). Want to make sure what we have can work in BSD?

We'll need to build a different set of templates for Exact Target, though I'm not sure the design spec's or technical details on that (we'll probably have to work with someone from the MoCo email team to figure that out). @adamlofting has started a ticket for

[2015-07-20 23:58] HPaulJohnson commented on #90
Updated copy here: https://etherpad.mozilla.org/cc-tos-update-email

@KevZawacki is reviewing and then we'll send to Abigail for final approval. Plan is to send to users of the current Webmaker app on Wednesday if possible.

[2015-07-21 00:03] HPaulJohnson commented on #88
Great work localizing this!

We've finished up designing this kit over in issue #43. Wondering if you'd like us to drop in the localized copy so you can share that final version or is it easier just to share the google doc you've created?

[2015-07-21 00:07] lovegushwa commented on #91
@HPaulJohnson @mmmavis @flukeout R?

I adjusted the email templates for BSD. (One column, Trebuchet instead of Fira for most copy.)
I think we can use the v2 for ET when that comes around.

Please post your comments here, I'd like to close this issue tomorrow if possible :)
https://redpen.io/p/kp13152a5476f5ed43

[2015-07-21 00:17] HPaulJohnson commented on #78
I'll see you all tomorrow!

[2015-07-21 03:50] cyz commented on #68
@panaggio we have a final report about user test application in FISL? Do you need my help for conclusion?

[2015-07-21 08:12] maktrix commented on #80
@lovegushwa the artworks displayed Bengali characters rendered perfect. You can resolve the issue now.

[2015-07-21 14:16] secretrobotron commented on #47
@kelimuttu @fauzanalfi uploaded google play strings to transifex: https://www.transifex.com/projects/p/webmaker/resource/google-play/

[2015-07-21 15:05] alamanda commented on #45
I think all the plan should be consolidated into the spreadsheet shared by @technowizard to keep everything in one place. @kelimuttu can you move your plan to the spreadsheet instead?

for @budiman11120905 @agungf and Ahmad Munif, would you please do the same? write down your school visit plan in the spreadsheet. thank you so much, guys!

[2015-07-21 15:10] kelimuttu commented on #47
@secretrobotron cool! I'll keep you updated once we finish it.

[2015-07-21 15:13] alamanda commented on #50
had a quick chat with @rara79 just now.
I think the venue we'll use for launching in Jakarta should be a place that's ready to use. I dig for HongKong Cafe because transport wise is very easy to reach using all public transport mode available in Jakarta. The location is very central (15 steps away from Artotel, which most likely will be the hotel where William's going to stay) in Central Jakarta.

[2015-07-21 16:57] alamanda commented on #48
@fauzanalfi @kelimuttu I saw that l10n for socmed already finished. I just made some small editing and corrected some small errors on those strings. everything is good to go to use in twitter and FB account now:)

[2015-07-21 17:01] secretrobotron opened #92 "Brazil GTM - Localize Google Play Store"
We noticed that our Google Play entry was being translated automatically (and incorrectly in some cases).

Our solution: https://www.transifex.com/projects/p/webmaker/resource/google-play/

We'll just have to copy & paste from transifex into google play. (see https://github.com/mozilla/webmaker-core/issues/289 for more details).

@panaggio @rodrigowaters @melissacd who do you think can help here?

[2015-07-21 17:05] secretrobotron commented on #52
@panaggio sorry for the long pong. Moving foward, I think that's a great idea. Do you think we could set up a localization QA session this week?

Also, we've just uploaded another transifex file to handle the desktop site: https://www.transifex.com/projects/p/webmaker/resource/betawebmakerorg/

cc @panaggio @rodrigowaters @melissacd

[2015-07-21 17:06] secretrobotron commented on #47
@kelimuttu btw, we _just_ uploaded another transifex file to handle the desktop version of the app: https://www.transifex.com/projects/p/webmaker/resource/betawebmakerorg/

[2015-07-21 17:06] mmmavis commented on #91
Lovely! Thanks @lovegushwa ! I think https://redpen.io/phef42b5becaf57459 should work well under BSD's restrictions :wink: One ask - can you mark what sections stay stationery(e.g., template without sample content)?

[2015-07-21 17:08] secretrobotron commented on #19
@bellayet @maktrix @tapuafrad we've finished the initial work on the desktop site for Webmaker, and _just_ uploaded another transifex file for it. Do you mind having a look? https://www.transifex.com/projects/p/webmaker/resource/betawebmakerorg/

[2015-07-21 17:08] KevZawacki commented on #48
Thanks, @alamanda!

@Nhie, following up about our meeting later this week. How about a Google Hangout at 8 a.m. ET on Thursday, July 23?

[2015-07-21 17:09] mmmavis commented on #91
@HPaulJohnson do you know when we plan to send out the emails?

[2015-07-21 18:25] lovegushwa commented on #80
Excellent @maktrix , thank you!!

[2015-07-21 18:29] HPaulJohnson commented on #91
@lovegushwa looking good! I would also like to understand what sections are editable in BSD.

@mmmavis still trying to figure out a launch date. Ideally this goes out shortly after we remove the Beta label from the app and do our big marketing push (blog, social, snippet, etc). We are going to determine a new date for all of that by end of week, I hope.

[2015-07-21 18:32] #80 closed

[2015-07-21 18:33] secretrobotron commented on #80
:yellow_heart:

[2015-07-21 19:18] secretrobotron commented on #44
Thanks @deryanEM :smile_cat: Added to https://github.com/mozilla/webmaker-launch/wiki/Indonesia#content

[2015-07-21 19:32] mmmavis opened #93 "Make sure E-mail template get rendered properly across clients"
@adamlofting

E-mail templates are tricky to design and to implement due to various restrictions different e-mail clients have.  Do you know if there's any tool that can help us test/preview the new Webmaker e-mail template?

[2015-07-21 21:23] lovegushwa commented on #91
@HPaulJohnson @mmmavis @flukeout R?  (need that R+ if possible :)

v4
https://redpen.io/p/td1f421a045335d8ef

[2015-07-21 21:26] flukeout commented on #91
Nice work @lovegushwa - these look solid to me.

[2015-07-21 21:33] mmmavis commented on #91
Lovely! R:heavy_plus_sign: Let's just go with it and work on adjustment if BSD complains.

[2015-07-21 21:36] HPaulJohnson commented on #91
Looks good to me. Thanks!

[2015-07-21 21:55] lovegushwa commented on #91
Awesome! :)  @mmmavis let me know what you need. I can provide a bit of markup if you like.

[2015-07-22 01:48] Nhie commented on #48
Hi @KevZawacki

Sorry for delay response.
OK, perfect. In Indonesia time is 7 p.m. see you!

@ariefbayu @yofiesetiawan @deryanEM @pixelglass @technowizard @alamanda can all join?